<div class="text-body article-text">

    <p>Capita was given the highest possible risk rating in an internal
        <a href="https://www.ft.com/stream/fe5ced43-2e32-43f8-8f3f-d67dc37af1bb" data-trackable="link">Ministry of Defence</a> assessment, shortly before being handed a new contract to run military fire and rescue services.
    </p>
    <p>According to the document, which was updated on June 7,
        <a href="http://markets.ft.com/data/equities/tearsheet/summary?s=BBG000BDCH16" data-symbol="BBG000BDCH16" data-trackable="link">Capita</a> scored 10/10 for risk, with 1 indicating the lowest probability of distress and 10 the highest. </p>
    <p>It also saw its “health score” plummet to just 3 out of 100, with any company scoring 25 or less judged to be in a red
        “warning area”, indicating it may be “vulnerable and should be viewed with care”. </p>
    <p>The assessment emerged as the MoD awarded Capita a new firefighting contract, estimated to be worth £500m over 10 years,
        which will see the company take over 69 defence fire stations worldwide. Capita beat
        <a href="http://markets.ft.com/data/equities/tearsheet/summary?s=BBG000BF2M20" data-symbol="BBG000BF2M20" data-trackable="link">Serco</a> for the deal, with the latter company being judged an 8/10 risk. </p>
    <p>The MoD said the assessment had been supplied by Company Watch, an independent analyst. “All our suppliers are subject
        to robust assessments ahead of any contract placement and closely monitored throughout. This document provides background
        information, using a range of statistics and figures from external sources.”</p>
    <p>But Jim Kennedy, at the union Unite, said it was “absolutely scandalous that even though the MoD’s own financial check
        found that awarding a contract to Capita was extremely risky, ministers thought it appropriate to award this contract”.</p>
    <p>He called for an urgent investigation, adding: “The government has clearly learnt nothing from
        <a href="/content/765fc482-68db-11e8-b6eb-4acfcfb08c11" data-trackable="link">the Carillion fiasco</a>.” Carillion, then the MoD’s biggest supplier, collapsed in January.</p>
    <p>The MoD has given Capita contracts worth about £1.8bn over the next eight years — the largest of which is a £582m deal
        recruiting soldiers for the British army. </p>
    <div class="n-content-recommended--single-story">
        <h3 class="n-content-recommended__title">Recommended</h3>
        <div class="o-teaser o-teaser--small o-teaser--stacked o-teaser--has-image o-teaser--article o-teaser--syndicatable" data-o-component="o-teaser"
            data-trackable="teaser">

            <div class="o-teaser__image-container js-teaser-image-container">
                <a href="/content/3e7e0c70-53a7-11e8-b3ee-41e0209208ec" data-trackable="image" aria-hidden="true" tabindex="-1" title="UK army unease mounts after decade of ‘underfunding’">
                    <div class="n-image-wrapper o-teaser__image-placeholder n-image-wrapper--lazy-loading n-image-wrapper--placeholder" style="padding-bottom:56.249929687587894%">
                        <img data-srcset="https://www.ft.com/__origami/service/image/v2/images/raw/http%3A%2F%2Fprod-upp-image-read.ft.com%2Fe37a21d2-5514-11e8-84f4-43d65af59d43?source&#x3D;next&amp;fit&#x3D;scale-down&amp;compression&#x3D;best&amp;width&#x3D;2048 2048w"
                            sizes="(min-width: 1220px) 1168px, (min-width: 980px) 928px, (min-width: 740px) 688px, calc(100vw - 40px)"
                            role="presentation" alt="" class="n-image o-teaser__image n-image--lazy-loading n-image--fade-on-load">
                    </div>
                </a>
            </div>

            <div class="o-teaser__content">

                <div class="o-teaser__meta">
                    <span class="o-teaser__tag-prefix">
                        Analysis
                    </span>
                    <a href="/stream/9d17962e-697a-4e41-a8b8-b5a787c486ea" class="o-teaser__tag" data-trackable="primary-concept">
                        UK defence spending
                    </a>
                </div>

                <div class="o-teaser__heading js-teaser-heading">
                    <a href="/content/3e7e0c70-53a7-11e8-b3ee-41e0209208ec" class="js-teaser-heading-link" data-content-id="3e7e0c70-53a7-11e8-b3ee-41e0209208ec"
                        data-trackable="main-link">
                        UK army unease mounts after decade of ‘underfunding’
                    </a>
                </div>

                <div class="o-teaser__timestamp">
                    <time data-o-component="o-date" class="o-date" data-o-date-format="time-ago-limit-4-hours" datetime="2018-05-14T03:00:34.000Z">Monday, 14 May, 2018</time>
                </div>


            </div>
        </div>

    </div>
    <p>Last year, Capita was told a key £400m contract to run the MoD’s estate, from airfields to training bases, would end
        five years early after a
        <a href="/content/3eb508ec-9eb2-11e7-8cd4-932067fbf946" data-trackable="link">highly critical National Audit Office</a> report.</p>
    <p>Capita has won a number of significant public sector contracts since it raised £662m of funding from investors via a
        rights issue last month. New chief executive Jonathan Lewis is trying to turn the company around after a profit warning
        this year that wiped £1bn off its value. </p>
    <p>Other key awards include a two-year extension to a high-profile contract running controversial
        <a href="/content/b7eec34a-68b7-11e8-b6eb-4acfcfb08c11" data-trackable="link">disability assessments</a> tests for the Department for Work and Pensions; a £37m contract to handle claims for the
        Financial Services Compensation Scheme, the financial industry’s lifeboat for customers in case of bank failure,;
        and an extension to its congestion-charge contract for Transport for London. </p>
    <p>Capita said: “We are executing our strategy announced in April, including action to address the balance sheet. Our successful
        £701m rights issue and today’s £160m disposal of Supplier Assessment Services demonstrates the progress we are making
        to simplify and strengthen the business to deliver future success.”</p>
</div>