<article id="site-content" role="main" class="article article-grid" data-content-id="37d9219e-73b3-11e8-aa31-31da4279a601"
    data-syndicatable="yes" data-access-level="subscribed">
    <div class="main-image">
        <figure class="n-content-image n-content-image--full" style="width: 700px; max-width: 100%;">
            <div class="n-image-wrapper n-image-wrapper--placeholder" style="padding-bottom: 56.25%;">
                <img alt="" role="presentation" class="n-image" srcset="https://www.ft.com/__origami/service/image/v2/images/raw/http%3A%2F%2Fcom.ft.imagepublish.upp-prod-eu.s3.amazonaws.com%2Fb7eb0dea-73d9-11e8-bab2-43bd4ae655dd?source=next&fit=scale-down&width=700 700w, https://www.ft.com/__origami/service/image/v2/images/raw/http%3A%2F%2Fcom.ft.imagepublish.upp-prod-eu.s3.amazonaws.com%2Fb7eb0dea-73d9-11e8-bab2-43bd4ae655dd?source=next&fit=scale-down&width=500 500w, https://www.ft.com/__origami/service/image/v2/images/raw/http%3A%2F%2Fcom.ft.imagepublish.upp-prod-eu.s3.amazonaws.com%2Fb7eb0dea-73d9-11e8-bab2-43bd4ae655dd?source=next&fit=scale-down&width=300 300w"
                    sizes="(min-width: 76.25em) 700px, (min-width: 61.25em) 620px, (min-width: 46.25em) 700px, calc(100vw - 20px)">
            </div>
            <figcaption class="n-content-image__caption">Ministry of Defence firefighters tackle a blaze © Dean Nixon/MoD</figcaption>
        </figure>
    </div>

    <div class="o-share-wrapper" data-trackable="share | top">
        <div data-o-component="o-share" data-o-share-article class="hide-share-toolbar o-share">
            <ul data-toolbar="share">
                <li class="o-share__action" data-share="twitter">
                    <a class="o-share__icon o-share__icon--twitter" rel="noopener" href="https://twitter.com/intent/tweet?url=https%3A%2F%2Fwww.ft.com%2Fcontent%2F37d9219e-73b3-11e8-aa31-31da4279a601&amp;text=MoD%20awards%20Capita%20new%20contract%20despite%20handing%20it%20highest%20risk%20rating&amp;via=financialtimes"
                        data-trackable="twitter">
                        <span class="o-share__text">Share on Twitter (opens new window)</span>
                    </a>
                </li>
                <li class="o-share__action" data-share="facebook">
                    <a class="o-share__icon o-share__icon--facebook" rel="noopener" href="http://www.facebook.com/sharer.php?u=https%3A%2F%2Fwww.ft.com%2Fcontent%2F37d9219e-73b3-11e8-aa31-31da4279a601&amp;t=MoD%20awards%20Capita%20new%20contract%20despite%20handing%20it%20highest%20risk%20rating"
                        data-trackable="facebook">
                        <span class="o-share__text">Share on Facebook (opens new window)</span>
                    </a>
                </li>
                <li class="o-share__action" data-share="linkedin">
                    <a class="o-share__icon o-share__icon--linkedin" rel="noopener" href="http://www.linkedin.com/shareArticle?mini=true&amp;url=https%3A%2F%2Fwww.ft.com%2Fcontent%2F37d9219e-73b3-11e8-aa31-31da4279a601&amp;title=MoD%20awards%20Capita%20new%20contract%20despite%20handing%20it%20highest%20risk%20rating&amp;source=Financial+Times"
                        data-trackable="linkedin">
                        <span class="o-share__text">Share on LinkedIn (opens new window)</span>
                    </a>
                </li>
                <li class="o-share__action o-share__action--whatsapp" data-share="whatsapp">
                    <a class="o-share__icon o-share__icon--whatsapp" rel="noopener" href="whatsapp://send?text=MoD%20awards%20Capita%20new%20contract%20despite%20handing%20it%20highest%20risk%20rating%20-%20https%3A%2F%2Fwww.ft.com%2Fcontent%2F37d9219e-73b3-11e8-aa31-31da4279a601"
                        data-trackable="whatsapp">
                        <span class="o-share__text">Share on Whatsapp (opens new window)</span>
                    </a>
                </li>

                <li class="o-share__action o-share__action--link">
                    <button class="o-share__icon o-share__icon--link js-gift-article" data-trackable="email">
                        <span class="o-share__text">Link</span>
                    </button>
                </li>

                <li class="o-share__action o-share__action--save">
                    <form class="n-myft-ui n-myft-ui--save" method="GET" data-content-id="37d9219e-73b3-11e8-aa31-31da4279a601" data-myft-ui="saved"
                        action="/myft/save/37d9219e-73b3-11e8-aa31-31da4279a601" data-js-action="/__myft/api/core/saved/content/37d9219e-73b3-11e8-aa31-31da4279a601?method=put">
                        <input data-myft-csrf-token value="" type="hidden" name="token">
                        <button type="submit" class="n-myft-ui__button" data-trackable="save-for-later" data-alternate-label="Saved to myFT" data-text-variant="save-button-longer-copy"
                            data-alternate-text="Saved " data-content-id="37d9219e-73b3-11e8-aa31-31da4279a601" aria-label="Save MoD awards Capita new contract despite handing it highest risk rating to myFT for later"
                            title="Save MoD awards Capita new contract despite handing it highest risk rating to myFT for later">
                            <span class="save-button-longer-copy" data-variant-label>Save </span>
                            <span class="n-myft-ui__button--viewport-large" aria-hidden="true">to myFT</span>
                        </button>
                    </form>
                    <span class="o-share__text">Save to myFT</span>
                </li>
            </ul>
        </div>
    </div>

    <div class="article__content n-content-body" data-trackable="article-body">

        <div class="article-info">
            <div class="article-info__time-byline">
                <p class="article-info__byline">
                    <a class="n-content-tag n-content-tag--author" href="/topics/people/Gill_Plimmer" data-trackable="author">Gill Plimmer</a> in London</p>

                <time class="article-info__timestamp o-date" data-o-component="o-date" datetime="2018-06-19T16:43:36Z" data-o-date-js>
                    June 19, 2018
                </time>
            </div>

            <a class="article-print" data-trackable="print" href="javascript:void(0)" onclick="window.print()">
                <span class="o-normalise-visually-hidden">Print this page</span>
            </a>
            <a data-o-component="o-comment-count" data-o-comment-count-auto-init="false" data-o-comment-count-config-article-id="37d9219e-73b3-11e8-aa31-31da4279a601"
                data-o-comment-count-config-template="{count}" data-o-comment-count-config-aria-label-template="There are {count} comments on this article. Write a comment."
                class="article-comment-count" data-trackable="view-comments" style="visibility: hidden;" href="#comments-anchor">
            </a>
        </div>

        <div class="ftlabsaudioplayerholder ftlabsaudioplayerholder--inactive n-ui-hide-core" data-trackable="ftlabs-audio-player">
            <div class="ftlabsaudiocontainer">
                <div class="ftlabsaudioplayer-feedback__label ftlabsaudioplayer-feedback__label--mobile">
                    <span>Experimental feature</span>
                </div>
                <div class="ftlabsaudioplayerwrap">
                    <h2>Listen to this article</h2>
                    <div class="ftlabsaudioplayercontrols" data-trackable="controls">
                        <button class="control control__play" data-trackable="play">Play audio for this article</button>
                        <button class="control control__pause" disabled data-trackable="pause">Pause</button>
                        <div class="audio-time">
                            <span class="audio-time-text__current audio-time-text">00:00</span>
                            <div class="audio-time-progress" role="slider" tabindex="0" aria-valuenow="0" aria-valuemin="0">
                                <span class="audio-time-progress__background" aria-hidden="true"></span>
                                <span class="audio-time-progress__fill" aria-hidden="true"></span>
                                <span class="audio-time-progress__scrub" aria-hidden="true"></span>
                            </div>
                            <span class="audio-time-text__total audio-time-text">00:00</span>
                        </div>
                    </div>
                </div>
                <audio class="ftlabs-audio-player" aria-hidden="true"></audio>

            </div>

            <div class="ftlabsaudioplayer-feedback">
                <div class="ftlabsaudioplayer-feedback__label ftlabsaudioplayer-feedback__label--desktop">
                    <span>Experimental feature</span>
                </div>
                <div class="ftlabsaudioplayer-feedback__components">
                    <div class="js-feedback feedback ftlabs-audio-pronunciation-feedback">
                        <p class="feedback__invitation">
                            <a href="#" class="feedback__trigger js-ftlabs-audio-pronunciation-feedback__trigger" data-complete=".js-feedback__complete">Report a mispronounced word</a>
                        </p>

                        <div id="ftlabs-audio-pronunciation-feedback-target"></div>

                        <div class="js-feedback__content">
                            <div class="feedback-form">
                                <div class="o-forms">
                                    <label for="ftlabs-audio-pronunciation-feedback__textarea" class="o-forms__label feedback__heading">
                                        What was mispronounced?
                                        <span class="feedback-form__subheading">Optional: help us by adding the time</span>
                                    </label>
                                    <textarea id="ftlabs-audio-pronunciation-feedback__textarea" class="o-forms__textarea feedback__input"></textarea>
                                </div>
                                <div class="o-forms feedback-form__submit">
                                    <button class="article-big-button js-feedback__responder" data-question="pronunciation_feedback" data-answer-selector="#ftlabs-audio-pronunciation-feedback__textarea">Submit</button>
                                </div>
                            </div>
                            <div class="feedback__thankyou hidden-content">Thank you for your help!</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{#if toggle }} {{> translationAccordion }} {{/if}}
        <div class="articles">
            <div class="translation-loading hidden">
                <div class="o-loading o-loading--dark o-loading--medium"></div>
            </div>
            {{> articleContent}}
            <div class="divider"></div> {{> translatedArticleContent}}
        </div>

        <div class="article-newsletter-signup js-article-newsletter-signup">
            <section data-component="n-newsletter-signup" data-newsletter-id="577b86070988bc03007f195b" data-newsletter-name="FT Brexit Briefing"
                class="n-newsletter-signup n-newsletter-signup--simple">
                <span class="n-newsletter-signup__description">Sign up to the daily FT Brexit Briefing email</span>

                <form class="n-newsletter-signup__form" data-component="n-newsletter-signup__form" data-newsletter-id="577b86070988bc03007f195b"
                    action="/__myft/api/alerts/no-user-provided/newsletters/577b86070988bc03007f195b/subscribe" method="POST">
                    <button class="n-newsletter-signup__submit" aria-label="Subscribe to FT Brexit Briefing" title="Subscribe to FT Brexit Briefing"
                        data-trackable="newsletter-subscribe" type="submit" aria-describedby="feedback-message__newsletter-577b86070988bc03007f195b">

                        One-Click Sign Up
                        <span class="o-normalise-visually-hidden">&nbsp;to FT Brexit Briefing</span>
                    </button>
                </form>
            </section>
        </div>

        <script class="js-event-promo-data" type="application/json">{"conceptIds":{"focus":["fe5ced43-2e32-43f8-8f3f-d67dc37af1bb","0bfd79cf-66e4-4400-840b-4239536841f6","09498c55-ef43-47d0-b25c-855d3fea9d08","7439dd74-a1c7-4e81-b44d-089b6828ed4b","9d17962e-697a-4e41-a8b8-b5a787c486ea","d821f36f-dc09-4dc1-917d-7735be53e7a5","d4cd00d9-1d75-406d-b971-92ba53ff38e8","6cc4c4ed-ef61-4c71-a5bb-f454fb5010a8","450dd13b-7f21-4075-ae0c-695dcb7e834d","6b683eff-56c3-43d9-acfc-7511d974fc01","3c3accfd-8ea5-3c1e-a328-313d88f274ab"],"speakers":["3c3accfd-8ea5-3c1e-a328-313d88f274ab","c52c09f4-d709-34a3-98c0-4c228d629ac2"]}}</script>
        <div class="event-promo js-event-promo" data-trackable="event-promo">
        </div>

        <div class="digest-journey-tail-container hidden"></div>

    </div>

    <div class="article-tools" data-trackable="article-tools">

        <footer class="n-content-copyright">
            <a href="http://help.ft.com/help/legal-privacy/copyright/copyright-policy/" data-trackable="link-copyright">Copyright</a>
            The Financial Times Limited 2018. All rights reserved.
        </footer>

        <div class="article-tools__buttons">
            <button class="article-tools__gift js-gift-article" data-trackable="email">
                Share this article
            </button>
        </div>

    </div>


    <div class="article__right">
        <div class="sidebar-advert sidebar-advert--no-responsive o-ads advert" data-o-ads-name="halfpage-desktop" data-o-ads-targeting="pos=mid;"
            data-o-ads-formats-default="false" data-o-ads-formats-small="false" data-o-ads-formats-medium="false" data-o-ads-formats-large="HalfPage,MediumRectangle"
            data-o-ads-formats-extra="HalfPage,MediumRectangle" data-o-ads-collapse-empty="true" aria-hidden="true">
        </div>

    </div>


    <div class="comments-container">
        <div id="comments-anchor"></div>

        <div class="comments">
            <div class="comments__rum-indicator"></div>
            <div id="comments" data-trackable="comments" data-comments-js="//www.ft.com/__assets/hashed/article/35e675d3/comments.js"
                data-comments-css="//www.ft.com/__assets/hashed/article/c6f10e36/comments.css" class="article__comments o-comments n-ui-hide@print">
            </div>
        </div>
    </div>

    <div class="onward-journey onward-journey--simple js-onward-journey-simple article--full-width-background"></div>
    <div class="article__right-bottom">

    </div>

    <div class="promoted-content__container">
        <h2 class="h2-promoted-content follow-tags__title" style="display:none">Promoted Content</h2>
        <div class="native-ad__fullwidth"></div>
    </div>
</article>