<div class="text-body translation-text">
    <p>Capita a obtenu la cote de risque la plus élevée possible dans une évaluation interne du ministère de la Défense, peu
        de temps avant de se voir attribuer un nouveau contrat pour la gestion des services militaires d'incendie et de sauvetage.</p>
    <p>Selon le document, qui a été mis à jour le 7 juin, Capita a obtenu une note de 10/10 pour le risque, 1 indiquant la probabilité
        de détresse la plus faible et 10 la plus élevée.</p>
    <p>Elle a également vu son "score santé" chuter à seulement 3 sur 100, toute entreprise ayant obtenu 25 ou moins étant jugée
        dans une "zone d'alerte" rouge, ce qui indique qu'elle peut être "vulnérable et doit être considérée avec prudence".</p>
    <p>L'évaluation a émergé lorsque le Ministère de la Défense a attribué à Capita un nouveau contrat de lutte contre l'incendie,
        d'une valeur estimée à 500 millions de livres sterling sur 10 ans, qui verra l'entreprise prendre le contrôle de
        69 casernes de pompiers de défense dans le monde entier. Capita a battu Serco pour l'opération, cette dernière étant
        considérée comme un risque 8/10.</p>
    <p>Le ministère de la Défense a déclaré que l'évaluation avait été fournie par Company Watch, un analyste indépendant. "Tous
        nos fournisseurs font l'objet d'une évaluation rigoureuse avant l'attribution d'un contrat et sont étroitement surveillés
        tout au long du processus. Ce document fournit des informations générales, en utilisant une série de statistiques
        et de chiffres provenant de sources externes.".</p>
    <p>Mais Jim Kennedy, au syndicat Unite, a déclaré qu'il était "absolument scandaleux que, même si la vérification financière
        du ministère de la Défense a constaté que l'attribution d'un contrat à Capita était extrêmement risquée, les ministres
        ont jugé approprié d'attribuer ce contrat".</p>
    <p>Il a appelé à une enquête urgente, ajoutant : "Le gouvernement n'a clairement rien appris du fiasco de Carillion." Carillion,
        alors le plus gros fournisseur du ministère de la Défense, s'est effondré en janvier.</p>
    <p>Le ministère de la Défense a donné des contrats Capita d'une valeur d'environ 1,8 milliard de livres sterling au cours
        des huit prochaines années - dont le plus important est un contrat de 582 millions de livres sterling pour le recrutement
        de soldats pour l'armée britannique.</p>
    <p>L'année dernière, Capita s'est fait dire qu'un contrat clé de 400 millions de livres sterling pour gérer le domaine du
        ministère de la Défense, des terrains d'aviation aux bases d'entraînement, prendrait fin cinq ans plus tôt après
        un rapport très critique du Bureau national d'audit.</p>
    <p>Capita a remporté un certain nombre de contrats importants dans le secteur public depuis qu'elle a levé 662 millions
        de livres sterling auprès d'investisseurs par le biais d'une émission de droits le mois dernier. Le nouveau directeur
        général Jonathan Lewis essaie de redresser l'entreprise après un avertissement sur les bénéfices cette année qui
        a effacé 1 milliard de livres sterling de sa valeur.</p>
    <p>Parmi les autres récompenses importantes, on peut citer une prolongation de deux ans d'un contrat très médiatisé prévoyant
        des tests d'invalidité controversés pour le Département du travail et des pensions ; un contrat de 37 millions de
        livres sterling pour traiter les demandes d'indemnisation au titre du Financial Services Compensation Scheme, le
        bateau de sauvetage de l'industrie financière pour les clients en cas de défaillance bancaire ; et une prolongation
        de son contrat de tarification de la congestion pour Transport for London.</p>
    <p>Capita a dit : "Nous exécutons notre stratégie annoncée en avril, y compris les mesures visant à redresser le bilan.
        Notre émission de droits de 701 millions de livres sterling et la cession de 160 millions de livres sterling des
        services d'évaluation des fournisseurs démontre les progrès que nous faisons pour simplifier et renforcer l'entreprise
        afin d'assurer son succès futur.</p>
</div>