<script type="text/template" id="overlay">
    <ul class="ftlabs-translation__language-selection">
        <li>
            <div>
                German
            </div>    
        </li>
        <li>        
             <div>
                Spanish
            </div>  
        </li>
        <li>
            <div>
                Spanish initdsadas fdsfdsf
            </div> 
        </li>
    </ul>  
</script>