<div type="text/template" id="overlay">
    <ul class="ftlabs-translation__language-selection">

    </ul>
    <div class="o-forms__group o-forms__group--inline">
        <div class="o-forms__group o-forms__group--inline ftlabs-translation__tickbox">
            <input type="checkbox" name="checkbox" class="o-forms__checkbox" id="translateAll" />
            <label for="translateAll" class="o-forms__label">Always translate when available.</label>
        </div>
    </div>
    <div>
        Experimental feature powered by google.
    </div>
</div>