<script type="text/template" id="overlay">
    <div class="ftlabs-translation--loading ftlabs-translation--hidden">
        <div class="o-loading o-loading--dark o-loading--medium"></div>
    </div>
    <div class="ftlabs-translation__form--language o-forms">
        <form class="ftlabs-translation__form">
            <div class="ftlabs-translation--error ftlabs-translation--hidden">
                Something went wrong getting this translation
            </div>
            <div class="ftlabs-translation__configuration o-forms__group o-forms__group--inline">
                <div class="o-forms__group o-forms__group--inline ftlabs-translation__tickbox">
                    <input type="checkbox" name="checkbox" class="o-forms__checkbox" id="translateAll" />
                    <label for="translateAll" class="o-forms__label">Always translate when available.</label>
                </div>
                <div class="ftlabs-translation__button--off ftlabs-translation--hidden">
                    <button class="o-buttons o-buttons--primary o-buttons--mono o-buttons--big">
                        Back to English
                    </button>
                </div>
            </div>
            <div class="ftlabs-translation-options ftlabs-translation--hidden">
                <div class="o-forms__group ftlabs-translation-options-selection">
                    <div class="o-forms__group o-forms__group--inline ftlabs-translation-options__desktop">
                        <input type="radio" name="mobile-split-style" value="split" class="o-forms__radio" id="split" />
                        <label for="split" class="o-forms__label">Split column view (the original article will appear
                            side-by-side with the
                            translation)</label>
                    </div>
                    <div class="o-forms__group o-forms__group--inline ftlabs-translation-options__all">
                        <input type="radio" name="mobile-split-style" value="standard" class="o-forms__radio" id="standard" />
                        <label for="standard" class="o-forms__label">Single column view (the whole article will be
                            translated)</label>
                    </div>
                    <div class="o-forms__group o-forms__group--inline ftlabs-translation-options__mobile">
                        <input type="radio" name="mobile-split-style" value="stacked" class="o-forms__radio" id="stacked" />
                        <label for="stacked" class="o-forms__label">Stacked view (translation will appear after every
                            paragraph)</label>
                    </div>
                </div>
            </div>
            <div>
                Experimental feature powered by Google.
                <!-- The translator name needs to be dynamic in case we chage providers -->
            </div>
        </form>
    </div>
</script>