<div class="topper topper--branded topper--opinion">
	<div class="topper__content" data-textbox-background="sky">
		<div class="topper__tags">
			<div class="topper__primary-theme">
				<span class="topper__opinion-genre n-content-tag n-content-tag--large"
					aria-label="opinion article">Opinion</span>
				<a href="/ft-view"
					class="n-content-tag n-content-tag--large n-content-tag--with-follow js-primary-theme "
					data-trackable="primary-theme" aria-label="posted in category The FT View"
					data-concept-id="0dd94bc1-6873-44d5-9ca4-7d4be69acb3c">The FT View</a>
				<form class="n-myft-ui n-myft-ui--follow " method="GET" data-myft-ui="follow"
					data-concept-id="0dd94bc1-6873-44d5-9ca4-7d4be69acb3c"
					action="/myft/add/0dd94bc1-6873-44d5-9ca4-7d4be69acb3c"
					data-js-action="/__myft/api/core/followed/concept/0dd94bc1-6873-44d5-9ca4-7d4be69acb3c?method=put">
					<input data-myft-csrf-token value="" type="hidden" name="token"> <button
						aria-label="Add The FT View to myFT" title="Add The FT View to myFT"
						data-alternate-label="Remove The FT View from myFT" aria-pressed="false"
						data-alternate-text="Added" class="
							n-myft-follow-button n-myft-follow-button--opinion" data-concept-id="0dd94bc1-6873-44d5-9ca4-7d4be69acb3c"
						data-trackable="follow" type="submit">Add to myFT</button>
				</form>
			</div>
		</div>
		<h1 class="topper__headline" data-trackable="header">
			<span class="article-classifier__gap">Parliament should use a delay to rethink Brexit</span>
		</h1>
		<div class="topper__standfirst">A softer withdrawal or a second referendum are the only realistic options</div>
		<div class="topper__columnist">
			<a class="topper__columnist-name n-content-tag " href=/ft-view data-trackable="columnist">The editorial
				board</a>
			<form class="n-myft-ui n-myft-ui--follow " method="GET" data-myft-ui="follow"
				data-concept-id="741cc381-76a8-382b-a621-fc8eca53d69f"
				action="/myft/add/741cc381-76a8-382b-a621-fc8eca53d69f"
				data-js-action="/__myft/api/core/followed/concept/741cc381-76a8-382b-a621-fc8eca53d69f?method=put">
				<input data-myft-csrf-token value="" type="hidden" name="token"> <button
					aria-label="Add The editorial board to myFT" title="Add The editorial board to myFT"
					data-alternate-label="Remove The editorial board from myFT" aria-pressed="false"
					data-alternate-text="Added" class="
						n-myft-follow-button n-myft-follow-button--opinion" data-concept-id="741cc381-76a8-382b-a621-fc8eca53d69f"
					data-trackable="follow" type="submit">Add to myFT</button>
			</form>
		</div>
	</div>
	<div class="topper__background" data-textbox-background="sky"></div>
</div>
<article id="site-content" role="main" class="article article-grid"
	data-content-id="8479c9e0-39ce-11e9-b856-5404d3811663" data-syndicatable="yes" data-access-level="subscribed">
	<div class="main-image">
		<figure class="n-content-image n-content-image--full" style="width: 700px; max-width: 100%;">
			<div class="n-image-wrapper n-image-wrapper--placeholder" style="padding-bottom: 56.25%;"><img
					src="https://www.ft.com/__origami/service/image/v2/images/raw/http%3A%2F%2Fcom.ft.imagepublish.upp-prod-eu.s3.amazonaws.com%2F576190ea-39d4-11e9-9988-28303f70fcff?source=next&fit=scale-down&width=700"
					alt role="presentation" class="n-image"
					srcset="https://www.ft.com/__origami/service/image/v2/images/raw/http%3A%2F%2Fcom.ft.imagepublish.upp-prod-eu.s3.amazonaws.com%2F576190ea-39d4-11e9-9988-28303f70fcff?source=next&fit=scale-down&width=700 700w, https://www.ft.com/__origami/service/image/v2/images/raw/http%3A%2F%2Fcom.ft.imagepublish.upp-prod-eu.s3.amazonaws.com%2F576190ea-39d4-11e9-9988-28303f70fcff?source=next&fit=scale-down&width=500 500w, https://www.ft.com/__origami/service/image/v2/images/raw/http%3A%2F%2Fcom.ft.imagepublish.upp-prod-eu.s3.amazonaws.com%2F576190ea-39d4-11e9-9988-28303f70fcff?source=next&fit=scale-down&width=300 300w"
					sizes="(min-width: 76.25em) 700px, (min-width: 61.25em) 620px, (min-width: 46.25em) 700px, calc(100vw - 20px)">
			</div>

			<figcaption class="n-content-image__caption">
				By opening the door a crack to an extension, Theresa May has given MPs the opportunity to kick it wide
				open &#xA9; AP
			</figcaption>
		</figure>
	</div>
	{{> userTest/shareBar}}
	<div class="article__content " data-trackable="article-body">
		<div class="article-info">
			<div class="article-info__time-byline">
				<p class="article-info__byline"><a class="n-content-tag n-content-tag--author" href="/ft-view"
						data-trackable="author">The editorial board</a></p>

				<time class="article-info__timestamp o-date" data-o-component="o-date" datetime="2019-02-26T20:20:23Z"
					data-o-date-js>
					February 26, 2019
				</time>
			</div>

			<a class="article-print" data-trackable="print" href="javascript:void(0)" onclick="window.print()"><span
					class="o-normalise-visually-hidden">Print this page</span></a>
			<a data-o-component="o-comment-count" data-o-comment-count-auto-init="false"
				data-o-comment-count-config-article-id="8479c9e0-39ce-11e9-b856-5404d3811663"
				data-o-comment-count-config-template="{count}"
				data-o-comment-count-config-aria-label-template="There are {count} comments on this article. Write a comment."
				class="article-comment-count" data-trackable="view-comments" style="visibility: hidden;"
				href="#comments-anchor">
			</a>
		</div>
		<div class="article__content-body n-content-body js-article__content-body">
			<p>As the prospect of Britain crashing out of the EU without a deal on March 29 looms ever larger,
				parliamentary discipline is falling apart. Both main party leaders are being forced into concessions.
				Faced with a mutiny by a dozen pro-EU ministers, prime minister Theresa May has said that if MPs fail to
				back her withdrawal agreement next month, she will grant votes to endorse a no-deal <a
					href="https://www.ft.com/brexit" data-trackable="link">Brexit </a>or to extend the withdrawal
				process by up to three months.</p>
			<p>After years of insistence that Brexit will happen on time, come hell or high water, this is a welcome
				step towards bringing some sanity to the debate. But it is insufficient. If an extension is to happen,
				it should be for much longer.</p>
			<p>Sadly, even as she dangled a possible extension, Mrs May insisted it must be short and limited. As she
				stressed, this does not remove a no-deal outcome. It merely moves back the &#x201C;cliff edge&#x201D;.
				It would prolong the purgatory for businesses, which must decide whether to press ahead with
				investments, sign contracts, or load goods on to ships without knowing the trading framework they will
				face just weeks from now.</p>
			<div class="o-ads in-article-advert advert" data-o-ads-name="mpu" data-o-ads-center="true"
				data-o-ads-label="true" data-o-ads-targeting="pos=mid;"
				data-o-ads-formats-default="MediumRectangle,Responsive"
				data-o-ads-formats-small="MediumRectangle,Responsive"
				data-o-ads-formats-medium="MediumRectangle,Responsive" data-o-ads-formats-large="Responsive"
				data-o-ads-formats-extra="Responsive" aria-hidden="true"></div>
			<p>In itself, the latest manoeuvre is one more instance of the prime minister&#x2019;s favoured strategy of
				procrastination. But by opening the door a crack to an extension, Mrs May has given MPs the opportunity
				to kick it wide open.</p>
			<p>The prime minister is entitled to put her deal before parliament again, especially if she secures tweaks
				from the EU to the Northern Ireland backstop that might help it win a majority. By making clear that the
				alternative is not a no-deal exit but a delay, she might finally persuade hardline Leavers in her party
				to back her agreement or risk Brexit slipping from their grasp. Yet pro-remain Tories may now be less
				ready to support Mrs May&#x2019;s deal. Some feel a second referendum could be in sight after last
				week&#x2019;s departure of nine Labour MPs forced the opposition leader, Jeremy Corbyn, to make a
				concession of his own and back this option.</p>
			<p>Should it become clear next month that so many MPs remain opposed to her deal that it has little chance
				of ever being passed, Mrs May should drop any further attempts to force it through parliament. The prime
				minister should then seek not a three-month prolongation of Article 50. Instead, she should propose the
				kind of &#x201C;strategic extension&#x201D; some EU officials are now mooting of at least nine months,
				even a year or more. If the prime minister is not prepared to do that, MPs should find ways of forcing
				her to do so &#x2014; for example by backing an amendment to the extension motion, which officials are
				suggesting may be permitted.</p>
			<p>An extension must be accompanied by a new direction. The country deserves something better than the
				shambles of the past six months. The hardliners have had more than two years to convince parliament of
				their vision of Brexit. They have failed. Now, as MPs finally find their voices, there is an opportunity
				to forge a cross-party consensus for a more workable Brexit. </p>
			<p>This newspaper has been in favour of the UK maintaining a customs union with the EU, a position that
				would respect the 2016 referendum result, protect vital trading relations, and go some way to resolving
				the Irish border conundrum. It would be likely to win the support of a majority in the House of Commons.
				If parliament continues to be deadlocked, however, the issue should be returned to the British people
				through another referendum. </p>
			<p>Two and a half years on, the British public have a clearer idea about the costs of an orderly departure.
				Therefore, if parliament cannot come to a consensus, there is another path for Mrs May and one which
				would make good use of an extension. She could agree to put her deal to the British people in a
				referendum versus the option of remaining in the EU. Voters would then face the choice between a real
				Brexit agreement and the status quo. </p>
			<p>Leaving the EU was always an act of grievous self-harm for the UK, severing its privileged links with its
				biggest trading partner and a single market of more than 500m people, harming its security and
				diminishing its standing in the world. </p>
			<p>In the 2016 referendum voters were sold an illusory Brexit. In a new plebiscite, they would have the
				chance to reaffirm their support for leaving the EU on the terms available. Or they may conclude that
				remaining in the EU bloc is the better option. Either way, the choice would be a real one.</p>
		</div>


		<div class="article-newsletter-signup js-article-newsletter-signup">
			<section data-component="n-newsletter-signup" data-newsletter-id="577b86070988bc03007f195b"
				data-newsletter-name="FT Brexit Briefing" class="n-newsletter-signup n-newsletter-signup--simple">
				<span class="n-newsletter-signup__description">Sign up to the daily FT Brexit Briefing email</span>

				<form class="n-newsletter-signup__form" data-component="n-newsletter-signup__form"
					data-newsletter-id="577b86070988bc03007f195b"
					action="/__myft/api/alerts/no-user-provided/newsletters/577b86070988bc03007f195b/subscribe"
					method="POST">
					<input data-myft-csrf-token value="" type="hidden" name="token"> <button
						class="n-newsletter-signup__submit" aria-label="Subscribe to FT Brexit Briefing"
						title="Subscribe to FT Brexit Briefing" data-trackable="newsletter-subscribe" type="submit"
						aria-describedby="feedback-message__newsletter-577b86070988bc03007f195b">

						One-Click Sign Up<span class="o-normalise-visually-hidden">&nbsp;to FT Brexit Briefing</span>
					</button>
				</form>
			</section>
		</div>

	</div>


	<div class="article-tools" data-trackable="article-tools">

		<footer class="n-content-copyright">
			<a href="http://help.ft.com/help/legal-privacy/copyright/copyright-policy/"
				data-trackable="link-copyright">Copyright</a>
			The Financial Times Limited 2019. All rights reserved.
		</footer>
		<div class="article-tools__buttons">
			<button class="article-tools__gift js-gift-article" data-trackable="email">
				Share this article
			</button>
		</div>

	</div>
</article>