<div class="topper topper--basic">
	<div class="topper__content" data-textbox-background="paper">
		<div class="topper__tags">
		
					<div class="topper__primary-theme">
								<a href="/companies/professional-services" class="n-content-tag js-primary-theme  n-content-tag--with-follow " data-trackable="primary-theme" aria-label="posted in category Professional services" data-concept-id="5ede5a4b-e3bd-4578-89d2-78b97012eb6a">Professional services</a>
										<form
											class="n-myft-ui n-myft-ui--follow "
											method="GET"
											data-myft-ui="follow"
											data-concept-id="5ede5a4b-e3bd-4578-89d2-78b97012eb6a"
														action="/myft/add/5ede5a4b-e3bd-4578-89d2-78b97012eb6a"
														data-js-action="/__myft/api/core/followed/concept/5ede5a4b-e3bd-4578-89d2-78b97012eb6a?method=put"
											>
											<input
												data-myft-csrf-token
												value=""
												type="hidden"
												name="token">		<div
												class="n-myft-ui__announcement o-normalise-visually-hidden"
												aria-live="assertive"
												data-pressed-text="Now following Professional services."
												data-unpressed-text="No longer following Professional services."
											></div>
											<button
													aria-label="Add Professional services to myFT"
													title="Add Professional services to myFT"
													data-alternate-label="Remove Professional services from myFT"
													aria-pressed="false"
															data-alternate-text="Added"
												class="
													n-myft-follow-button n-myft-follow-button--standard"
												data-concept-id="5ede5a4b-e3bd-4578-89d2-78b97012eb6a" 
												data-trackable="follow"
												type="submit">Add to myFT</button>
										</form>
					</div>
		
		</div>		
		<h1 class="topper__headline" data-trackable="header">
			<span class="article-classifier__gap">Tech, data and compliance are converging to transform business</span>
		</h1>
				<div class="topper__standfirst">Ramifications of this back-office revolution will be felt across organisations everywhere</div>

	</div>

	<div class="topper__background" data-textbox-background="paper"></div>


</div>
<article
		id="site-content"
		role="main"
		class="article article-grid"
		data-content-id="d3cba350-d845-11e8-a854-33d6f82e62f8"
		data-syndicatable="yes"
		data-access-level="free"
>
	<div class="main-image">
			<figure class="n-content-image n-content-image--full" style="width: 700px; max-width: 100%;">
				<div class="n-image-wrapper n-image-wrapper--placeholder" style="padding-bottom: 119.29%;"><img src="https://www.ft.com/__origami/service/image/v2/images/raw/http%3A%2F%2Fcom.ft.imagepublish.upp-prod-eu.s3.amazonaws.com%2Fe8198db2-e6ec-11e8-8a85-04b8afea6ea3?fit=scale-down&source=next&width=700" alt role="presentation" class="n-image" srcset="https://www.ft.com/__origami/service/image/v2/images/raw/http%3A%2F%2Fcom.ft.imagepublish.upp-prod-eu.s3.amazonaws.com%2Fe8198db2-e6ec-11e8-8a85-04b8afea6ea3?fit=scale-down&source=next&width=700 700w, https://www.ft.com/__origami/service/image/v2/images/raw/http%3A%2F%2Fcom.ft.imagepublish.upp-prod-eu.s3.amazonaws.com%2Fe8198db2-e6ec-11e8-8a85-04b8afea6ea3?fit=scale-down&source=next&width=500 500w, https://www.ft.com/__origami/service/image/v2/images/raw/http%3A%2F%2Fcom.ft.imagepublish.upp-prod-eu.s3.amazonaws.com%2Fe8198db2-e6ec-11e8-8a85-04b8afea6ea3?fit=scale-down&source=next&width=300 300w" sizes="(min-width: 76.25em) 700px, (min-width: 61.25em) 620px, (min-width: 46.25em) 700px, calc(100vw - 20px)"></div>
				
			</figure>
	</div>
	{{> userTest/shareBar}}
	<div class="article__content " data-trackable="article-body">

		<div class="article-info">
			<div class="article-info__time-byline">
						<p class="article-info__byline"><a class="n-content-tag n-content-tag--author" href="/stream/a2c6c0ff-6df3-4064-ad3d-748f6a3a47c4" data-trackable="author">Reena SenGupta</a></p>
		
					<time class="article-info__timestamp o-date" data-o-component="o-date" datetime="2018-11-15T04:42:33Z" data-o-date-js>
					November 15, 2018
					</time>
			</div>
		
			<a class="article-print"
				data-trackable="print"
				href="javascript:void(0)"
				onclick="window.print()"
			><span class="o-normalise-visually-hidden">Print this page</span></a>
				<a data-o-component="o-comment-count"
					data-o-comment-count-auto-init="false"
					data-o-comment-count-config-article-id="d3cba350-d845-11e8-a854-33d6f82e62f8"
					data-o-comment-count-config-template="{count}"
					data-o-comment-count-config-aria-label-template="There are {count} comments on this article. Write a comment."
					class="article-comment-count"
					data-trackable="view-comments"
					style="visibility: hidden;"
					href="#comments-anchor">
				</a>
		</div>
				<div class="ftlabsaudioplayerholder ftlabsaudioplayerholder--inactive n-ui-hide-core" data-trackable="ftlabs-audio-player">
					<div class="ftlabsaudiocontainer">
						<div class="ftlabsaudioplayer-feedback__label ftlabsaudioplayer-feedback__label--mobile">
							<span>Experimental feature</span>
						</div>
						<div class="ftlabsaudioplayerwrap">
							<h2>Listen to this article</h2>
							<div class="ftlabsaudioplayercontrols" data-trackable="controls">
								<button class="control control__play" data-trackable="play">Play audio for this article</button>
								<button class="control control__pause" disabled data-trackable="pause">Pause</button>
								<div class="audio-time">
									<span class="audio-time-text__current audio-time-text">00:00</span>
									<div class="audio-time-progress" role="slider" tabindex="0" aria-valuenow="0" aria-valuemin="0">
										<span class="audio-time-progress__background" aria-hidden="true"></span>
										<span class="audio-time-progress__fill" aria-hidden="true"></span>
										<span class="audio-time-progress__scrub" aria-hidden="true"></span>
									</div>
									<span class="audio-time-text__total audio-time-text">00:00</span>
								</div>
							</div>
						</div>
						<audio class="ftlabs-audio-player" aria-hidden="true"></audio>
				
					</div>
				
					<div class="ftlabsaudioplayer-feedback">
						<div class="ftlabsaudioplayer-feedback__label ftlabsaudioplayer-feedback__label--desktop">
							<span>Experimental feature</span>
						</div>
						<div class="ftlabsaudioplayer-feedback__components">
							<div class="js-feedback feedback ftlabs-audio-pronunciation-feedback">
								<p class="feedback__invitation">
									<a href="#" class="feedback__trigger js-ftlabs-audio-pronunciation-feedback__trigger" data-complete=".js-feedback__complete">Report a mispronounced word</a>
								</p>
							
								<div id="ftlabs-audio-pronunciation-feedback-target"></div>
							
								<div class="js-feedback__content">
									<div class="feedback-form">
										<div class="o-forms">
											<label for="ftlabs-audio-pronunciation-feedback__textarea" class="o-forms__label feedback__heading">
												What was mispronounced?
												<span class="feedback-form__subheading">Optional: help us by adding the time</span>
											</label>
											<textarea id="ftlabs-audio-pronunciation-feedback__textarea" class="o-forms__textarea feedback__input"></textarea>
										</div>
										<div class="o-forms feedback-form__submit">
											<button class="article-big-button js-feedback__responder" data-question="pronunciation_feedback" data-answer-selector="#ftlabs-audio-pronunciation-feedback__textarea">Submit</button>
										</div>
									</div>
									<div class="feedback__thankyou hidden-content">Thank you for your help!</div>
								</div>
							</div>		</div>
					</div>
				</div>
				{{> userTest/componentSecondIteration}}
		<div class="article__content-body n-content-body js-article__content-body">
			
				<p>&#x2018;The back office has become cool,&#x201D; says <a href="https://www.ft.com/stream/1feb64f4-9954-4818-80f9-c5f8b4df5231" data-trackable="link">Anheuser-Busch InBev</a>&#x2019;s Tassilo Festetics. As vice-president for global solutions at the brewing company, he is making a point &#x2014; that the departments in charge of the rules governing a business are transforming and shedding their reputation for dull, box-ticking activities. </p><p>The convergence of legal and professional services with data and technology &#x2014; the topic of this new FT report &#x2014; is having significant, even unexpected, consequences for business. This development is making core business and back office processes run more smoothly and is cutting costs. </p><p>But it is the other gains &#x2014; enabling speed to market, or new business products and relationships, for instance &#x2014; that should make it of critical interest to senior managers. The transformation in back-office processes is creating new professional jobs, new governance structures and, ultimately, new business models. </p><div class="o-ads in-article-advert advert" data-o-ads-name="mpu" data-o-ads-center="true" data-o-ads-label="true" data-o-ads-targeting="pos=mid;" data-o-ads-formats-default="MediumRectangle,Responsive" data-o-ads-formats-small="MediumRectangle,Responsive" data-o-ads-formats-medium="MediumRectangle,Responsive" data-o-ads-formats-large="Responsive" data-o-ads-formats-extra="Responsive" aria-hidden="true"></div><p> &#x201C;We are a company that dates back to 1366 with heritage brands but we are becoming digitised,&#x201D; says Mr Festetics. One of the big causes of back office friction remains processes with a strong legal component. For the companies and service providers featured in this report, however, embedding data and technology in services is paying off. </p>
					<blockquote class="n-content-pullquote n-content-pullquote--no-image" aria-hidden="true">
						<div class="n-content-pullquote__content">
							<p>We said let&#x2019;s look at it as though we were starting a company today</p>
							<footer class="n-content-pullquote__footer">
								Tassilo Festetics, AB InBev
							</footer>
						</div>
						
					</blockquote>
				<p>AB InBev began to collect and harmonise its compliance data in 2016. &#x201C;We started with legal areas and supply chains because we thought we would see earlier and more immediate returns on our investment,&#x201D; says Mr Festetics. One challenge the company faced was access to data after its $100bn takeover of SABMiller. &#x201C;We said let&#x2019;s look at it as though we were starting a company today. Build everything with the tech that is available now, build directly into the cloud and get more computing power,&#x201D; says Mr Festetics. </p><p>Ditching the requirement to look backwards yielded significant results in the form of not just direct cost savings, but the compliance team&#x2019;s new ability to spot potential infractions. An even more significant outcome has been to change the focus of the team from rules-based initiatives to a principles-based approach that fosters better decision-making among its 180,000-odd employees, says AB InBev.</p><p>It is because legal and compliance data touch so many parts of a business that collecting, harmonising and analysing it yields useful insights about vendors, customers and staff. There are also questions of cyber security threats and new data and privacy rules. The result is the emergence of a new type of professional with operational and advisory roles, including in senior management positions. </p><p>Many are former lawyers. The founding team of Cloc, a network of legal operational professionals, also has many non-lawyers. Its rapid growth in the past three years to a peer network of 2,000 people shows the importance of legal operations &#x2014; which range from strategic planning to analytics, team building and beyond &#x2014; to businesses.</p><div class="o-ads in-article-advert advert" data-o-ads-name="second-mpu" data-o-ads-center="true" data-o-ads-label="true" data-o-ads-targeting="pos=mid1;" data-o-ads-formats-default="MediumRectangle,Responsive" data-o-ads-formats-small="MediumRectangle,Responsive" data-o-ads-formats-medium="false" data-o-ads-formats-large="false" data-o-ads-formats-extra="false" aria-hidden="true"></div><p><a href="https://www.ft.com/stream/c443c321-abac-461b-9efe-c45682583b5f" data-trackable="link">PayPal</a>, the financial services company, recently hired Aaron Karczmer into a new, senior role of chief risk, compliance and security officer. He started his career at the New York County district attorney&#x2019;s office, and as a former investigator, he is familiar with exploiting data. &#x201C;Managing regulatory risk used to be reactive and advisory and that led to the lawyer as compliance officer. Now, reflecting the rise of the compliance officer, it is more holistic, data-driven and programmatic.&#x201D;</p><p>Combining such skills plays to the strengths of the <a href="/content/9b1fdab2-cd3c-11e8-8d0b-a6539b949662" data-trackable="link">Big Four</a> auditing and accountancy firms and other new professional services businesses. EY runs several initiatives to develop integrated products to automate professional services across its business. It recently made a move to develop its legal service offering with the acquisition of Riverview Law. </p><p>Former lawyer Christopher Price, now chief executive of EY Riverview and architect of the deal, says: &#x201C;The future is how to build professional services into technology platforms. You need the tech platform to tell me what I can do, and then be able to deliver advice as to how to do it.&#x201D; </p>
					<figure class="n-content-image n-content-image--full p402_hide" style="width: 700px; max-width: 100%;">
						<div class="n-image-wrapper n-image-wrapper--placeholder" style="padding-bottom: 171.43%;"><img src="https://www.ft.com/__origami/service/image/v2/images/raw/http%3A%2F%2Fcom.ft.imagepublish.upp-prod-eu.s3.amazonaws.com%2F03998774-e687-11e8-8a85-04b8afea6ea3?fit=scale-down&source=next&width=700" alt role="presentation" class="n-image" srcset="https://www.ft.com/__origami/service/image/v2/images/raw/http%3A%2F%2Fcom.ft.imagepublish.upp-prod-eu.s3.amazonaws.com%2F03998774-e687-11e8-8a85-04b8afea6ea3?fit=scale-down&source=next&width=700 700w, https://www.ft.com/__origami/service/image/v2/images/raw/http%3A%2F%2Fcom.ft.imagepublish.upp-prod-eu.s3.amazonaws.com%2F03998774-e687-11e8-8a85-04b8afea6ea3?fit=scale-down&source=next&width=500 500w, https://www.ft.com/__origami/service/image/v2/images/raw/http%3A%2F%2Fcom.ft.imagepublish.upp-prod-eu.s3.amazonaws.com%2F03998774-e687-11e8-8a85-04b8afea6ea3?fit=scale-down&source=next&width=300 300w" sizes="(min-width: 76.25em) 700px, (min-width: 61.25em) 620px, (min-width: 46.25em) 700px, calc(100vw - 20px)"></div>
						
					</figure>
				<div class="n-content-layout" data-layout-name="card" data-layout-width><div class="n-content-layout__container"><h2 class="n-content-heading-3">FT Intelligent Business: Methodology</h2><div class="n-content-layout__slot" data-slot-width><p>The Intelligent Business report highlights the convergence of legal and professional services with data and technology to solve operational challenges for business and release significant economic value. </p><p>Research to select the case studies and organisations featured in this Intelligent Business report included a submissions and nominations process, market surveys and additional research and interviews. </p><p>RSG Consulting conducted more than 250 interviews to assess case studies and organisations between September and November.</p><p>The criteria used to select case studies were: peer, client and market commendations; impact on the business or market; and the degree to which the companies demonstrated the convergence of legal services, professional services, technology and data. </p><p>A panel of judges chose the <a href="/content/f6ae9122-e5c7-11e8-8a85-04b8afea6ea3" data-trackable="link">Market Shaper</a> award.</p><p><strong>FTIL Intelligent Business 35<br></strong>The index of 35 organisations comprising the Intelligent Business 35 was selected on the basis of the number of categories in which the organisation features in the report; and whether the organisation won an award in this report or in the Financial Times Innovative Lawyers reports of 2017 and 2018. </p><p><strong>Judges for the <a href="/content/f6ae9122-e5c7-11e8-8a85-04b8afea6ea3" data-trackable="link">Market Shaper</a> award <br></strong>Harriet Arnold, Special Reports assistant editor, FT; Shawn Atkinson, partner, Orrick; Leyla Boulton, Special Reports editor, FT; Andrew Clinton, managing partner, ASB Law; Orlando Conetta, head of SmartDelivery, Pinsent Masons; Jane Croft, law courts correspondent, FT; Madison Darbyshire, legal communities curator, FT; Alastair Morrison, board member and head of client strategy, Pinsent Masons; Mike Polson, partner, co-head of Ashurst Advance; Ali Ramadan, partner, Orrick; Reena SenGupta, chief executive, RSG Consulting; Barney Thompson, legal correspondent, FT</p><p><strong>RSG Consulting research team<br></strong>Reena SenGupta; Yasmin Lambert; Alexander Muncey; Georgie Lyon; Liam Sweeney; Helen Power</p></div></div></div>
		
		
		</div>

			<div
				class="instant-alert-cta js-instant-alert-cta"
				data-concept-id="5ede5a4b-e3bd-4578-89d2-78b97012eb6a"
				data-trackable="instant-alert-cta">
				<p class="instant-alert-cta__text">
					Get alerts on Professional services when a new story is published
				</p>
				<button
					class="instant-alert-cta__enable"
					data-concept-id="5ede5a4b-e3bd-4578-89d2-78b97012eb6a"
					data-trackable="enable">
					Get alerts
				</button>
			</div>	</div>


	<div class="article-tools  article-tools--with-reuse-button" data-trackable="article-tools">
	
		<footer class="n-content-copyright">
			<a href="http://help.ft.com/help/legal-privacy/copyright/copyright-policy/" data-trackable="link-copyright">Copyright</a>
			The Financial Times Limited 2019. <span class="n-content-copyright__rights">All rights reserved.</span>
		</footer>
		<div class="article-tools__buttons">
				<button
					class="article-tools__gift js-gift-article"
					data-trackable="email">
					Share this article
				</button>
				<a
					class="article-tools__reuse"
					data-trackable="reuse-content-button"
					target="_blank"
					href="https://enterprise.ft.com/en-gb/services/republishing/republish-content-request?ft-content-uuid=d3cba350-d845-11e8-a854-33d6f82e62f8"
				>
	
					Reuse this content<span class="o-normalise-visually-hidden"> (opens in new window)</span>
				</a>
		</div>
	
	</div>
		<div class="article__right article__right--live-splash">
					<div
						class="sidebar-advert sidebar-advert--no-responsive o-ads advert"
						data-o-ads-name="halfpage-desktop"
						data-o-ads-targeting="pos=mid;"
						data-o-ads-formats-default="false"
						data-o-ads-formats-small="false"
						data-o-ads-formats-medium="false"
						data-o-ads-formats-large="HalfPage,MediumRectangle"
						data-o-ads-formats-extra="HalfPage,MediumRectangle"
						aria-hidden="true">
					</div>


		</div>

		<div class="promoted-content__container">
			<h2 class="h2-promoted-content follow-tags__title" hidden>Promoted Content</h2>
			<div class="native-ad__package" ></div>
		</div>
	<div class="article__right-bottom">
		<!-- Second ad on the rhr -->

			<div
				class="concept-list"
				data-trackable="mentions">
					<h2 class="concept-list__title">
							Follow the topics in this article
					</h2>
				<ul class="concept-list__list">
						<li class="concept-list__list-item">
							<a
								href="/companies/professional-services"
								data-trackable="concept"
								class="concept-list__concept n-content-tag n-content-tag--author n-content-tag--with-follow">
								Professional services
							</a>
								<form
									class="n-myft-ui n-myft-ui--follow "
									method="GET"
									data-myft-ui="follow"
									data-concept-id="5ede5a4b-e3bd-4578-89d2-78b97012eb6a"
												action="/myft/add/5ede5a4b-e3bd-4578-89d2-78b97012eb6a"
												data-js-action="/__myft/api/core/followed/concept/5ede5a4b-e3bd-4578-89d2-78b97012eb6a?method=put"
									>
									<input
										data-myft-csrf-token
										value=""
										type="hidden"
										name="token">		<div
										class="n-myft-ui__announcement o-normalise-visually-hidden"
										aria-live="assertive"
										data-pressed-text="Now following Professional services."
										data-unpressed-text="No longer following Professional services."
									></div>
									<button
											aria-label="Add Professional services to myFT"
											title="Add Professional services to myFT"
											data-alternate-label="Remove Professional services from myFT"
											aria-pressed="false"
													data-alternate-text="Added"
										class="
											n-myft-follow-button"
										data-concept-id="5ede5a4b-e3bd-4578-89d2-78b97012eb6a" 
										data-trackable="follow"
										type="submit">Add to myFT</button>
								</form>
						</li>
						<li class="concept-list__list-item">
							<a
								href="/companies/technology"
								data-trackable="concept"
								class="concept-list__concept n-content-tag n-content-tag--author n-content-tag--with-follow">
								Technology sector
							</a>
								<form
									class="n-myft-ui n-myft-ui--follow "
									method="GET"
									data-myft-ui="follow"
									data-concept-id="6b32f2c1-da43-4e19-80b9-8aef4ab640d7"
												action="/myft/add/6b32f2c1-da43-4e19-80b9-8aef4ab640d7"
												data-js-action="/__myft/api/core/followed/concept/6b32f2c1-da43-4e19-80b9-8aef4ab640d7?method=put"
									>
									<input
										data-myft-csrf-token
										value=""
										type="hidden"
										name="token">		<div
										class="n-myft-ui__announcement o-normalise-visually-hidden"
										aria-live="assertive"
										data-pressed-text="Now following Technology sector."
										data-unpressed-text="No longer following Technology sector."
									></div>
									<button
											aria-label="Add Technology sector to myFT"
											title="Add Technology sector to myFT"
											data-alternate-label="Remove Technology sector from myFT"
											aria-pressed="false"
													data-alternate-text="Added"
										class="
											n-myft-follow-button"
										data-concept-id="6b32f2c1-da43-4e19-80b9-8aef4ab640d7" 
										data-trackable="follow"
										type="submit">Add to myFT</button>
								</form>
						</li>
						<li class="concept-list__list-item">
							<a
								href="/support-services"
								data-trackable="concept"
								class="concept-list__concept n-content-tag n-content-tag--author n-content-tag--with-follow">
								Support services
							</a>
								<form
									class="n-myft-ui n-myft-ui--follow "
									method="GET"
									data-myft-ui="follow"
									data-concept-id="b003a5a1-e29c-425b-850b-0aab017a0c57"
												action="/myft/add/b003a5a1-e29c-425b-850b-0aab017a0c57"
												data-js-action="/__myft/api/core/followed/concept/b003a5a1-e29c-425b-850b-0aab017a0c57?method=put"
									>
									<input
										data-myft-csrf-token
										value=""
										type="hidden"
										name="token">		<div
										class="n-myft-ui__announcement o-normalise-visually-hidden"
										aria-live="assertive"
										data-pressed-text="Now following Support services."
										data-unpressed-text="No longer following Support services."
									></div>
									<button
											aria-label="Add Support services to myFT"
											title="Add Support services to myFT"
											data-alternate-label="Remove Support services from myFT"
											aria-pressed="false"
													data-alternate-text="Added"
										class="
											n-myft-follow-button"
										data-concept-id="b003a5a1-e29c-425b-850b-0aab017a0c57" 
										data-trackable="follow"
										type="submit">Add to myFT</button>
								</form>
						</li>
						<li class="concept-list__list-item">
							<a
								href="/stream/a2c6c0ff-6df3-4064-ad3d-748f6a3a47c4"
								data-trackable="concept"
								class="concept-list__concept n-content-tag n-content-tag--author n-content-tag--with-follow">
								Reena SenGupta
							</a>
								<form
									class="n-myft-ui n-myft-ui--follow "
									method="GET"
									data-myft-ui="follow"
									data-concept-id="a2c6c0ff-6df3-4064-ad3d-748f6a3a47c4"
												action="/myft/add/a2c6c0ff-6df3-4064-ad3d-748f6a3a47c4"
												data-js-action="/__myft/api/core/followed/concept/a2c6c0ff-6df3-4064-ad3d-748f6a3a47c4?method=put"
									>
									<input
										data-myft-csrf-token
										value=""
										type="hidden"
										name="token">		<div
										class="n-myft-ui__announcement o-normalise-visually-hidden"
										aria-live="assertive"
										data-pressed-text="Now following Reena SenGupta."
										data-unpressed-text="No longer following Reena SenGupta."
									></div>
									<button
											aria-label="Add Reena SenGupta to myFT"
											title="Add Reena SenGupta to myFT"
											data-alternate-label="Remove Reena SenGupta from myFT"
											aria-pressed="false"
													data-alternate-text="Added"
										class="
											n-myft-follow-button"
										data-concept-id="a2c6c0ff-6df3-4064-ad3d-748f6a3a47c4" 
										data-trackable="follow"
										type="submit">Add to myFT</button>
								</form>
						</li>
				</ul>
			</div>
	</div>
</article>