<div class="topper topper--basic">
	<div class="topper__content" data-textbox-background="paper">
		<div class="topper__tags">
			<div class="topper__primary-theme">
				<a href="/uk-business-economy" class="n-content-tag js-primary-theme  n-content-tag--with-follow "
					data-trackable="primary-theme" aria-label="posted in category UK business &amp; economy"
					data-concept-id="6cc4c4ed-ef61-4c71-a5bb-f454fb5010a8">UK business &amp; economy</a>
				<form class="n-myft-ui n-myft-ui--follow " method="GET" data-myft-ui="follow"
					data-concept-id="6cc4c4ed-ef61-4c71-a5bb-f454fb5010a8"
					action="/myft/add/6cc4c4ed-ef61-4c71-a5bb-f454fb5010a8"
					data-js-action="/__myft/api/core/followed/concept/6cc4c4ed-ef61-4c71-a5bb-f454fb5010a8?method=put">
					<input data-myft-csrf-token value="" type="hidden" name="token"> <button
						aria-label="Add UK business &amp; economy to myFT" title="Add UK business &amp; economy to myFT"
						data-alternate-label="Remove UK business &amp; economy from myFT" aria-pressed="false"
						data-alternate-text="Added" class="
											n-myft-follow-button n-myft-follow-button--standard" data-concept-id="6cc4c4ed-ef61-4c71-a5bb-f454fb5010a8"
						data-trackable="follow" type="submit">Add to myFT</button>
				</form>
			</div>
		</div>
		<h1 class="topper__headline" data-trackable="header">
			<span class="article-classifier__gap">UK economic sentiment at lowest in six years amid Brexit
				worries</span>
		</h1>
		<div class="topper__standfirst">Drop driven by fall among services groups while sentiment remained stable in
			eurozone</div>

	</div>
	<div class="topper__background" data-textbox-background="paper"></div>
</div>
<article id="site-content" role="main" class="article article-grid"
	data-content-id="feb59910-3a9a-11e9-b72b-2c7f526ca5d0" data-syndicatable="yes" data-access-level="subscribed">
	<div class="main-image">
		<figure class="n-content-image n-content-image--full" style="width: 700px; max-width: 100%;">
			<div class="n-image-wrapper n-image-wrapper--placeholder" style="padding-bottom: 56.25%;"><img
					src="https://www.ft.com/__origami/service/image/v2/images/raw/http%3A%2F%2Fcom.ft.imagepublish.upp-prod-eu.s3.amazonaws.com%2F53a7bbe4-3ab2-11e9-b72b-2c7f526ca5d0?source=next&fit=scale-down&width=700"
					alt role="presentation" class="n-image"
					srcset="https://www.ft.com/__origami/service/image/v2/images/raw/http%3A%2F%2Fcom.ft.imagepublish.upp-prod-eu.s3.amazonaws.com%2F53a7bbe4-3ab2-11e9-b72b-2c7f526ca5d0?source=next&fit=scale-down&width=700 700w, https://www.ft.com/__origami/service/image/v2/images/raw/http%3A%2F%2Fcom.ft.imagepublish.upp-prod-eu.s3.amazonaws.com%2F53a7bbe4-3ab2-11e9-b72b-2c7f526ca5d0?source=next&fit=scale-down&width=500 500w, https://www.ft.com/__origami/service/image/v2/images/raw/http%3A%2F%2Fcom.ft.imagepublish.upp-prod-eu.s3.amazonaws.com%2F53a7bbe4-3ab2-11e9-b72b-2c7f526ca5d0?source=next&fit=scale-down&width=300 300w"
					sizes="(min-width: 76.25em) 700px, (min-width: 61.25em) 620px, (min-width: 46.25em) 700px, calc(100vw - 20px)">
			</div>
			<figcaption class="n-content-image__caption">
				The European Commission&#x2019;s monthly economic sentiment indicator for Britain dropped from 103.7 in
				January to 99.2 in February &#xA9; Bloomberg
			</figcaption>
		</figure>
	</div>

	<div class="o-share-wrapper" data-trackable="share | top">
		<div data-o-component="o-share" data-o-share-article class="hide-share-toolbar o-share js-sticky-sidebar">
			<ul data-toolbar="share">
				<li class="o-share__action" data-share="twitter">
					<a class="o-share__icon o-share__icon--twitter" rel="noopener"
						href="https://twitter.com/intent/tweet?url=https%3A%2F%2Fwww.ft.com%2Fcontent%2Ffeb59910-3a9a-11e9-b72b-2c7f526ca5d0&amp;text=UK%20economic%20sentiment%20at%20lowest%20in%20six%20years%20amid%20Brexit%20worries&amp;via=financialtimes"
						data-trackable="twitter"><span class="o-share__text">Share on Twitter (opens new
							window)</span></a>
				</li>
				<li class="o-share__action" data-share="facebook">
					<a class="o-share__icon o-share__icon--facebook" rel="noopener"
						href="http://www.facebook.com/sharer.php?u=https%3A%2F%2Fwww.ft.com%2Fcontent%2Ffeb59910-3a9a-11e9-b72b-2c7f526ca5d0&amp;t=UK%20economic%20sentiment%20at%20lowest%20in%20six%20years%20amid%20Brexit%20worries"
						data-trackable="facebook"><span class="o-share__text">Share on Facebook (opens new
							window)</span></a>
				</li>
				<li class="o-share__action" data-share="linkedin">
					<a class="o-share__icon o-share__icon--linkedin" rel="noopener"
						href="http://www.linkedin.com/shareArticle?mini=true&amp;url=https%3A%2F%2Fwww.ft.com%2Fcontent%2Ffeb59910-3a9a-11e9-b72b-2c7f526ca5d0&amp;title=UK%20economic%20sentiment%20at%20lowest%20in%20six%20years%20amid%20Brexit%20worries&amp;source=Financial+Times"
						data-trackable="linkedin"><span class="o-share__text">Share on LinkedIn (opens new
							window)</span></a>
				</li>
				<li class="o-share__action o-share__action--whatsapp" data-share="whatsapp">
					<a class="o-share__icon o-share__icon--whatsapp" rel="noopener"
						href="whatsapp://send?text=UK%20economic%20sentiment%20at%20lowest%20in%20six%20years%20amid%20Brexit%20worries%20-%20https%3A%2F%2Fwww.ft.com%2Fcontent%2Ffeb59910-3a9a-11e9-b72b-2c7f526ca5d0"
						data-trackable="whatsapp"><span class="o-share__text">Share on Whatsapp (opens new
							window)</span></a>
				</li>

				<li class="o-share__action o-share__action--with-text o-share__action--share">
					<button class="o-share__icon o-share__icon--share js-gift-article" data-trackable="email">
						<span>Share</span>
					</button>
				</li>

				<li class="o-share__action o-share__action--with-text o-share__action--save">
					<form class="n-myft-ui n-myft-ui--save" method="GET"
						data-content-id="feb59910-3a9a-11e9-b72b-2c7f526ca5d0" data-myft-ui="saved"
						action="/myft/save/feb59910-3a9a-11e9-b72b-2c7f526ca5d0"
						data-js-action="/__myft/api/core/saved/content/feb59910-3a9a-11e9-b72b-2c7f526ca5d0?method=put">
						<input data-myft-csrf-token value="" type="hidden" name="token"> <button type="submit"
							class="n-myft-ui__save-button-with-icon" data-trackable="save-for-later"
							data-alternate-label="Saved to myFT" aria-pressed="false"
							data-text-variant="save-button-with-icon-copy" data-alternate-text="Saved "
							data-content-id="feb59910-3a9a-11e9-b72b-2c7f526ca5d0"
							aria-label="Save UK economic sentiment at lowest in six years amid Brexit worries to myFT for later"
							title="Save UK economic sentiment at lowest in six years amid Brexit worries to myFT for later">
							<span class="save-button-with-icon-copy" data-variant-label>Save</span>
						</button>
					</form>
					<span class="o-share__text">Save to myFT</span>
				</li>
			</ul>
		</div>
	</div>
	{{> userTest/shareBar}}
	<div class="article__content " data-trackable="article-body">
		<div class="article-info">
			<div class="article-info__time-byline">
				<p class="article-info__byline"><a class="n-content-tag n-content-tag--author" href="/valentina-romei"
						data-trackable="author">Valentina Romei</a> in London</p>

				<time class="article-info__timestamp o-date" data-o-component="o-date" datetime="2019-02-27T17:10:51Z"
					data-o-date-js>
					February 27, 2019
				</time>
			</div>
			<a class="article-print" data-trackable="print" href="javascript:void(0)" onclick="window.print()"><span
					class="o-normalise-visually-hidden">Print this page</span></a>
			<a data-o-component="o-comment-count" data-o-comment-count-auto-init="false"
				data-o-comment-count-config-article-id="feb59910-3a9a-11e9-b72b-2c7f526ca5d0"
				data-o-comment-count-config-template="{count}"
				data-o-comment-count-config-aria-label-template="There are {count} comments on this article. Write a comment."
				class="article-comment-count" data-trackable="view-comments" style="visibility: hidden;"
				href="#comments-anchor">
			</a>
		</div>
		<div class="article__content-body n-content-body js-article__content-body">
			<p>Economic sentiment in the UK plummeted in February to its lowest level in six years as Brexit uncertainty
				intensified, according to an EU survey. </p>
			<p>The European Commission&#x2019;s monthly economic sentiment indicator for Britain dropped from 103.7 in
				January to 99.2 in February, the lowest since 2013 and below the bloc&#x2019;s 1990-2017 long-term
				average of 100.&#xA0;</p>
			<p>The fall contrasted with sentiment remaining largely stable in the eurozone at 106.3 despite the
				region&#x2019;s slowing economic growth.&#xA0;The indicator measures confidence among consumers and in
				four business sectors: industry, services, construction and retail.</p>
			<div class="o-ads in-article-advert advert" data-o-ads-name="mpu" data-o-ads-center="true"
				data-o-ads-label="true" data-o-ads-targeting="pos=mid;"
				data-o-ads-formats-default="MediumRectangle,Responsive"
				data-o-ads-formats-small="MediumRectangle,Responsive"
				data-o-ads-formats-medium="MediumRectangle,Responsive" data-o-ads-formats-large="Responsive"
				data-o-ads-formats-extra="Responsive" aria-hidden="true"></div>
			<p>The fall in the UK&#x2019;s economic sentiment &#x201C;leaves the indicator pointing to growth more or
				less grinding to a halt&#x201D; said Oliver Allen, economist at Capital Economics, a consultancy.&#xA0;
			</p>
			<p>The drop was largely driven by a fall among services companies. The sector&#x2019;s confidence indicator
				dropped to a net score of -16.2 in February from -4.9 in January. This is the lowest reading since
				December 2012 and by far the lowest in the EU, where the average was 7.1.&#xA0;</p>
			<div class="n-content-layout">
				<figure class="n-content-picture n-content-layout__container">
					<picture>
						<source media="screen and (max-width: 490px)"
							srcset="https://www.ft.com/__origami/service/image/v2/images/raw/http%3A%2F%2Fcom.ft.imagepublish.upp-prod-eu.s3.amazonaws.com%2F7a937806-3aa3-11e9-b72b-2c7f526ca5d0?source=next&fit=scale-down&quality=highest&width=490">
						<img src="https://www.ft.com/__origami/service/image/v2/images/raw/http%3A%2F%2Fcom.ft.imagepublish.upp-prod-eu.s3.amazonaws.com%2F6ce4b3a0-3aa3-11e9-b72b-2c7f526ca5d0?source=next&fit=scale-down&quality=highest&width=700"
							alt role="presentation" data-image-type="graphic"></picture>
				</figure>
			</div>
			<p>Services account for 80 per cent of the UK economy and a similar level of national employment. A fall in
				confidence is seen as a worrying sign as business pessimism might translate into reduced hiring and
				investment.&#xA0;</p>
			<p>The sub-components of the survey showed services employment expectations for the following three months
				dropping to 1.4 in February from 13.9 in January, the lowest reading since Autumn 2012. Services
				expectation of future demand also plummeted to a seven-year low.&#xA0;</p>
			<p>The drop in the services sentiment is in line with the data from the CBI, the UK&#x2019;s most prominent
				business group. It reported service sector optimism deteriorating in the three months to February at the
				fastest pace since the financial crisis.&#xA0;</p>
			<div class="n-content-recommended--single-story">
				<h3 class="n-content-recommended__title">Recommended</h3>
				<div class="o-teaser o-teaser--small o-teaser--stacked o-teaser--has-image o-teaser--article o-teaser--syndicatable"
					data-o-component="o-teaser" data-trackable="teaser">

					<div class="o-teaser__image-container js-teaser-image-container">
						<a href="/content/713df7d8-38fd-11e9-b856-5404d3811663" data-trackable="image"
							aria-hidden="true" tabindex="-1" title="The final Brexit countdown begins">
							<div class="n-image-wrapper o-teaser__image-placeholder n-image-wrapper--placeholder"
								style="padding-bottom:56.249929687587894%">
								<img sizes="(min-width: 1220px) 1168px, (min-width: 980px) 928px, (min-width: 740px) 688px, calc(100vw - 40px)"
									role="presentation" alt="" class="n-image o-teaser__image n-image--fade-on-load"
									data-n-image-lazy-load-js=""
									srcset="https://www.ft.com/__origami/service/image/v2/images/raw/http%3A%2F%2Fprod-upp-image-read.ft.com%2F75055bb2-3903-11e9-9988-28303f70fcff?source=next&amp;fit=scale-down&amp;compression=best&amp;width=2048 2048w">
							</div>
						</a>
					</div>

					<div class="o-teaser__content">

						<div class="o-teaser__meta">
							<a href="/brexit-briefing" class="o-teaser__tag" data-trackable="primary-concept">
								Brexit Briefing
							</a>
						</div>

						<div class="o-teaser__heading js-teaser-heading">
							<a href="/content/713df7d8-38fd-11e9-b856-5404d3811663" class="js-teaser-heading-link"
								data-content-id="713df7d8-38fd-11e9-b856-5404d3811663" data-trackable="main-link">
								The final Brexit countdown begins
							</a>
						</div>
						<div class="o-teaser__timestamp">
							<time data-o-component="o-date" class="o-date" data-o-date-format="time-ago-limit-4-hours"
								datetime="2019-02-25T13:57:13.000Z" title="February 25, 2019 1:57 pm" data-o-date-js=""
								aria-label=""></time>
						</div>


					</div>
				</div>

			</div>
			<p>&#x201C;Avoiding a no-deal scenario and agreeing a deal that commands a majority in parliament and is
				acceptable to the EU and protects our economy, is the best way of improving sentiment&#x201D; Rain
				Newton-Smith, the CBI&#x2019;s chief economist, said in response to the economic sentiment
				indicator.&#xA0;</p>
			<p>The commission survey refers to data collected in the first half of the month, before Theresa May, the
				prime minister, promised MPs a vote to extend Brexit negotiations if the current deal or a no-deal exit
				were both voted down. Yet, &#x201C;a three-month extension of negotiations merely prolongs the
				uncertainty that is prompting business to postpone investment and hiring decisions&#x201D;, said Samuel
				Tombs, economist at Pantheon Macroeconomics, a consultancy.&#xA0;</p>
			<p>Confidence in the industrial sector also deteriorated to a net score -0.2 in February, from 2.3 in
				January, the lowest since October 2016.&#xA0;</p>
			<div class="n-content-layout">
				<figure class="n-content-picture n-content-layout__container">
					<picture>
						<source media="screen and (max-width: 490px)"
							srcset="https://www.ft.com/__origami/service/image/v2/images/raw/http%3A%2F%2Fcom.ft.imagepublish.upp-prod-eu.s3.amazonaws.com%2F5c59ff68-3aa3-11e9-b72b-2c7f526ca5d0?source=next&fit=scale-down&quality=highest&width=490">
						<img src="https://www.ft.com/__origami/service/image/v2/images/raw/http%3A%2F%2Fcom.ft.imagepublish.upp-prod-eu.s3.amazonaws.com%2F4b902c66-3aa3-11e9-b72b-2c7f526ca5d0?source=next&fit=scale-down&quality=highest&width=700"
							alt role="presentation" data-image-type="graphic"></picture>
				</figure>
			</div>
			<p>Despite record-high employment rates and wages that have finally started to pick up, consumers remained
				pessimistic.&#xA0;</p>
			<p>Consumer confidence improved marginally to -10.8 in February, from -11.3 in January. Despite the
				improvement, UK consumer confidence in February was the second-worst reading since 2013, and lower than
				for both the EU and the eurozone.</p>
			<p>However, Martin Beck, economist at Oxford Economics, cautioned that sentiment indicators had overstated
				the economy&#x2019;s weakness in the past &#x201C;given the difficulty of separating emotion from hard
				economic developments in driving survey responses in times of high uncertainty&#x201D;.
			</p>
		</div>
		<div class="article-newsletter-signup js-article-newsletter-signup">
			<section data-component="n-newsletter-signup" data-newsletter-id="577b86070988bc03007f195b"
				data-newsletter-name="FT Brexit Briefing" class="n-newsletter-signup n-newsletter-signup--simple">
				<span class="n-newsletter-signup__description">Sign up to the daily FT Brexit Briefing email</span>

				<form class="n-newsletter-signup__form" data-component="n-newsletter-signup__form"
					data-newsletter-id="577b86070988bc03007f195b"
					action="/__myft/api/alerts/no-user-provided/newsletters/577b86070988bc03007f195b/subscribe"
					method="POST">
					<input data-myft-csrf-token value="" type="hidden" name="token">
					<button class="n-newsletter-signup__submit" aria-label="Subscribe to FT Brexit Briefing"
						title="Subscribe to FT Brexit Briefing" data-trackable="newsletter-subscribe" type="submit"
						aria-describedby="feedback-message__newsletter-577b86070988bc03007f195b">
						One-Click Sign Up<span class="o-normalise-visually-hidden">&nbsp;to FT Brexit Briefing</span>
					</button>
				</form>
			</section>
		</div>
	</div>
	<div class="article-tools" data-trackable="article-tools">
		<footer class="n-content-copyright">
			<a href="http://help.ft.com/help/legal-privacy/copyright/copyright-policy/"
				data-trackable="link-copyright">Copyright</a>
			The Financial Times Limited 2019. All rights reserved.
		</footer>
		<div class="article-tools__buttons">
			<button class="article-tools__gift js-gift-article" data-trackable="email">
				Share this article
			</button>
		</div>
	</div>
	<div class="article__right">
		<div class="concept-list" data-trackable="mentions">
			<h2 class="concept-list__title">
				Follow the topics in this article
			</h2>
			<ul class="concept-list__list">
				<li class="concept-list__list-item">
					<a href="/brexit" data-trackable="concept"
						class="concept-list__concept n-content-tag n-content-tag--author n-content-tag--with-follow">
						Brexit
					</a>
					<form class="n-myft-ui n-myft-ui--follow " method="GET" data-myft-ui="follow"
						data-concept-id="19b95057-4614-45fb-9306-4d54049354db"
						action="/myft/add/19b95057-4614-45fb-9306-4d54049354db"
						data-js-action="/__myft/api/core/followed/concept/19b95057-4614-45fb-9306-4d54049354db?method=put">
						<input data-myft-csrf-token value="" type="hidden" name="token"> <button
							aria-label="Add Brexit to myFT" title="Add Brexit to myFT"
							data-alternate-label="Remove Brexit from myFT" aria-pressed="false"
							data-alternate-text="Added" class="
													n-myft-follow-button" data-concept-id="19b95057-4614-45fb-9306-4d54049354db" data-trackable="follow"
							type="submit">Add to myFT</button>
					</form>
				</li>
				<li class="concept-list__list-item">
					<a href="/uk-business-economy" data-trackable="concept"
						class="concept-list__concept n-content-tag n-content-tag--author n-content-tag--with-follow">
						UK business &amp; economy
					</a>
					<form class="n-myft-ui n-myft-ui--follow " method="GET" data-myft-ui="follow"
						data-concept-id="6cc4c4ed-ef61-4c71-a5bb-f454fb5010a8"
						action="/myft/add/6cc4c4ed-ef61-4c71-a5bb-f454fb5010a8"
						data-js-action="/__myft/api/core/followed/concept/6cc4c4ed-ef61-4c71-a5bb-f454fb5010a8?method=put">
						<input data-myft-csrf-token value="" type="hidden" name="token"> <button
							aria-label="Add UK business &amp; economy to myFT"
							title="Add UK business &amp; economy to myFT"
							data-alternate-label="Remove UK business &amp; economy from myFT" aria-pressed="false"
							data-alternate-text="Added" class="
													n-myft-follow-button" data-concept-id="6cc4c4ed-ef61-4c71-a5bb-f454fb5010a8" data-trackable="follow"
							type="submit">Add to myFT</button>
					</form>
				</li>
				<li class="concept-list__list-item">
					<a href="/reports/future-of-the-eu" data-trackable="concept"
						class="concept-list__concept n-content-tag n-content-tag--author n-content-tag--with-follow">
						European Union
					</a>
					<form class="n-myft-ui n-myft-ui--follow " method="GET" data-myft-ui="follow"
						data-concept-id="e05846a6-3cf5-48e5-8907-89a307e4795e"
						action="/myft/add/e05846a6-3cf5-48e5-8907-89a307e4795e"
						data-js-action="/__myft/api/core/followed/concept/e05846a6-3cf5-48e5-8907-89a307e4795e?method=put">
						<input data-myft-csrf-token value="" type="hidden" name="token"> <button
							aria-label="Add European Union to myFT" title="Add European Union to myFT"
							data-alternate-label="Remove European Union from myFT" aria-pressed="false"
							data-alternate-text="Added" class="
													n-myft-follow-button" data-concept-id="e05846a6-3cf5-48e5-8907-89a307e4795e" data-trackable="follow"
							type="submit">Add to myFT</button>
					</form>
				</li>
				<li class="concept-list__list-item">
					<a href="/valentina-romei" data-trackable="concept"
						class="concept-list__concept n-content-tag n-content-tag--author n-content-tag--with-follow">
						Valentina Romei
					</a>
					<form class="n-myft-ui n-myft-ui--follow " method="GET" data-myft-ui="follow"
						data-concept-id="0528eeb4-368e-4e89-9db6-14da3149b7f8"
						action="/myft/add/0528eeb4-368e-4e89-9db6-14da3149b7f8"
						data-js-action="/__myft/api/core/followed/concept/0528eeb4-368e-4e89-9db6-14da3149b7f8?method=put">
						<input data-myft-csrf-token value="" type="hidden" name="token"> <button
							aria-label="Add Valentina Romei to myFT" title="Add Valentina Romei to myFT"
							data-alternate-label="Remove Valentina Romei from myFT" aria-pressed="false"
							data-alternate-text="Added" class="
													n-myft-follow-button" data-concept-id="0528eeb4-368e-4e89-9db6-14da3149b7f8" data-trackable="follow"
							type="submit">Add to myFT</button>
					</form>
				</li>
			</ul>
		</div>
	</div>
</article>