<div class="topper topper--basic">
	<div class="topper__content" data-textbox-background="paper">
		<div class="topper__tags">

			<div class="topper__primary-theme">
				<a href="/companies/telecoms" class="n-content-tag js-primary-theme  n-content-tag--with-follow "
					data-trackable="primary-theme" aria-label="posted in category Telecoms"
					data-concept-id="54a79fa5-b484-49cc-9919-7ccd50f2f7b8">Telecoms</a>
				<form class="n-myft-ui n-myft-ui--follow " method="GET" data-myft-ui="follow"
					data-concept-id="54a79fa5-b484-49cc-9919-7ccd50f2f7b8"
					action="/myft/add/54a79fa5-b484-49cc-9919-7ccd50f2f7b8"
					data-js-action="/__myft/api/core/followed/concept/54a79fa5-b484-49cc-9919-7ccd50f2f7b8?method=put">
					<input data-myft-csrf-token value="" type="hidden" name="token"> <button
						aria-label="Add Telecoms to myFT" title="Add Telecoms to myFT"
						data-alternate-label="Remove Telecoms from myFT" aria-pressed="false"
						data-alternate-text="Added" class="
													n-myft-follow-button n-myft-follow-button--standard"
						data-concept-id="54a79fa5-b484-49cc-9919-7ccd50f2f7b8" data-trackable="follow" type="submit">Add
						to myFT</button>
				</form>
			</div>

		</div>
		<h1 class="topper__headline" data-trackable="header">
			<span class="article-classifier__gap">How Huawei tried to sell itself to Motorola for $7.5bn</span>
		</h1>
		<div class="topper__standfirst">2003 deal between Chinese group and US partner would have changed course of
			telecoms history</div>

	</div>

	<div class="topper__background" data-textbox-background="paper"></div>


</div>
<article id="site-content" role="main" class="article article-grid"
	data-content-id="fa8e7ab4-3905-11e9-b856-5404d3811663" data-syndicatable="yes" data-access-level="subscribed">
	<div class="main-image">
		<figure class="n-content-image n-content-image--full" style="width: 700px; max-width: 100%;">
			<div class="n-image-wrapper n-image-wrapper--placeholder" style="padding-bottom: 56.25%;"><img
					src="https://www.ft.com/__origami/service/image/v2/images/raw/http%3A%2F%2Fcom.ft.imagepublish.upp-prod-eu.s3.amazonaws.com%2F544fc8b6-3aa8-11e9-9988-28303f70fcff?source=next&fit=scale-down&width=700"
					alt role="presentation" class="n-image"
					srcset="https://www.ft.com/__origami/service/image/v2/images/raw/http%3A%2F%2Fcom.ft.imagepublish.upp-prod-eu.s3.amazonaws.com%2F544fc8b6-3aa8-11e9-9988-28303f70fcff?source=next&fit=scale-down&width=700 700w, https://www.ft.com/__origami/service/image/v2/images/raw/http%3A%2F%2Fcom.ft.imagepublish.upp-prod-eu.s3.amazonaws.com%2F544fc8b6-3aa8-11e9-9988-28303f70fcff?source=next&fit=scale-down&width=500 500w, https://www.ft.com/__origami/service/image/v2/images/raw/http%3A%2F%2Fcom.ft.imagepublish.upp-prod-eu.s3.amazonaws.com%2F544fc8b6-3aa8-11e9-9988-28303f70fcff?source=next&fit=scale-down&width=300 300w"
					sizes="(min-width: 76.25em) 700px, (min-width: 61.25em) 620px, (min-width: 46.25em) 700px, calc(100vw - 20px)">
			</div>

			<figcaption class="n-content-image__caption">
				Ren Zhengfei of Huawei, second left, and Mike Zafirovski and Larry Cheng of Motorola walk along a beach
				with an interpreter on Hainan island in 2003 as the two sides moved closer to signing a letter of intent
				on the sale of Huawei to Motorola
			</figcaption>

		</figure>
	</div>

	<div class="o-share-wrapper" data-trackable="share | top">
		<div data-o-component="o-share" data-o-share-article class="hide-share-toolbar o-share js-sticky-sidebar">
			<ul data-toolbar="share">
				<li class="o-share__action" data-share="twitter">
					<a class="o-share__icon o-share__icon--twitter" rel="noopener"
						href="https://twitter.com/intent/tweet?url=https%3A%2F%2Fwww.ft.com%2Fcontent%2Ffa8e7ab4-3905-11e9-b856-5404d3811663&amp;text=How%20Huawei%20tried%20to%20sell%20itself%20to%20Motorola%20for%20%247.5bn&amp;via=financialtimes"
						data-trackable="twitter"><span class="o-share__text">Share on Twitter (opens new
							window)</span></a>
				</li>
				<li class="o-share__action" data-share="facebook">
					<a class="o-share__icon o-share__icon--facebook" rel="noopener"
						href="http://www.facebook.com/sharer.php?u=https%3A%2F%2Fwww.ft.com%2Fcontent%2Ffa8e7ab4-3905-11e9-b856-5404d3811663&amp;t=How%20Huawei%20tried%20to%20sell%20itself%20to%20Motorola%20for%20%247.5bn"
						data-trackable="facebook"><span class="o-share__text">Share on Facebook (opens new
							window)</span></a>
				</li>
				<li class="o-share__action" data-share="linkedin">
					<a class="o-share__icon o-share__icon--linkedin" rel="noopener"
						href="http://www.linkedin.com/shareArticle?mini=true&amp;url=https%3A%2F%2Fwww.ft.com%2Fcontent%2Ffa8e7ab4-3905-11e9-b856-5404d3811663&amp;title=How%20Huawei%20tried%20to%20sell%20itself%20to%20Motorola%20for%20%247.5bn&amp;source=Financial+Times"
						data-trackable="linkedin"><span class="o-share__text">Share on LinkedIn (opens new
							window)</span></a>
				</li>
				<li class="o-share__action o-share__action--whatsapp" data-share="whatsapp">
					<a class="o-share__icon o-share__icon--whatsapp" rel="noopener"
						href="whatsapp://send?text=How%20Huawei%20tried%20to%20sell%20itself%20to%20Motorola%20for%20%247.5bn%20-%20https%3A%2F%2Fwww.ft.com%2Fcontent%2Ffa8e7ab4-3905-11e9-b856-5404d3811663"
						data-trackable="whatsapp"><span class="o-share__text">Share on Whatsapp (opens new
							window)</span></a>
				</li>

				<li class="o-share__action o-share__action--with-text o-share__action--share">
					<button class="o-share__icon o-share__icon--share js-gift-article" data-trackable="email">
						<span>Share</span>
					</button>
				</li>

				<li class="o-share__action o-share__action--with-text o-share__action--save">
					<form class="n-myft-ui n-myft-ui--save" method="GET"
						data-content-id="fa8e7ab4-3905-11e9-b856-5404d3811663" data-myft-ui="saved"
						action="/myft/save/fa8e7ab4-3905-11e9-b856-5404d3811663"
						data-js-action="/__myft/api/core/saved/content/fa8e7ab4-3905-11e9-b856-5404d3811663?method=put">
						<input data-myft-csrf-token value="" type="hidden" name="token"> <button type="submit"
							class="n-myft-ui__save-button-with-icon" data-trackable="save-for-later"
							data-alternate-label="Saved to myFT" aria-pressed="false"
							data-text-variant="save-button-with-icon-copy" data-alternate-text="Saved "
							data-content-id="fa8e7ab4-3905-11e9-b856-5404d3811663"
							aria-label="Save How Huawei tried to sell itself to Motorola for $7.5bn to myFT for later"
							title="Save How Huawei tried to sell itself to Motorola for $7.5bn to myFT for later">
							<span class="save-button-with-icon-copy" data-variant-label>Save</span>
						</button>
					</form>
					<span class="o-share__text">Save to myFT</span>
				</li>
			</ul>
		</div>
	</div>
	{{> userTest/shareBar}}
	<div class="article__content " data-trackable="article-body">

		<div class="article-info">
			<div class="article-info__time-byline">
				<p class="article-info__byline"><a class="n-content-tag n-content-tag--author"
						href="/stream/9fc236c0-fa86-4945-a464-d0da7f048b03" data-trackable="author">Henny Sender</a> in
					Hong Kong</p>

				<time class="article-info__timestamp o-date" data-o-component="o-date" datetime="2019-02-27T15:24:35Z"
					data-o-date-js>
					February 27, 2019
				</time>
			</div>

			<a class="article-print" data-trackable="print" href="javascript:void(0)" onclick="window.print()"><span
					class="o-normalise-visually-hidden">Print this page</span></a>
			<a data-o-component="o-comment-count" data-o-comment-count-auto-init="false"
				data-o-comment-count-config-article-id="fa8e7ab4-3905-11e9-b856-5404d3811663"
				data-o-comment-count-config-template="{count}"
				data-o-comment-count-config-aria-label-template="There are {count} comments on this article. Write a comment."
				class="article-comment-count" data-trackable="view-comments" style="visibility: hidden;"
				href="#comments-anchor">
			</a>
		</div>
		<div class="article__content-body n-content-body js-article__content-body">
			<p>On a December morning in 2003, two Chinese men in bright tropical shirts and trunks, a westerner in
				sportswear and an interpreter looked deep in conversation as they strolled on a beach in the Chinese
				resort of Hainan island. </p>
			<p>Two of the men were from the US telecoms company Motorola: Mike Zafirovski, chief operating officer, and
				Larry Cheng, head of the Chinese business. The third, dressed in blue, was Ren Zhengfei, the founder of
				Huawei and a former People&#x2019;s Liberation Army member, then 59 years old. </p>
			<p>A few weeks later, a deal had been agreed. A letter of intent was signed for Motorola to buy Huawei, even
				then China&#x2019;s leading telecoms equipment supplier, for $7.5bn. </p>
			<div class="o-ads in-article-advert advert" data-o-ads-name="mpu" data-o-ads-center="true"
				data-o-ads-label="true" data-o-ads-targeting="pos=mid;"
				data-o-ads-formats-default="MediumRectangle,Responsive"
				data-o-ads-formats-small="MediumRectangle,Responsive"
				data-o-ads-formats-medium="MediumRectangle,Responsive" data-o-ads-formats-large="Responsive"
				data-o-ads-formats-extra="Responsive" aria-hidden="true"></div>
			<p>Today, Huawei has become the most important, and most controversial, telecoms supplier in the world, with
				global revenues of more than $100bn last year. Its rise has triggered <a
					href="/content/08edd97e-3410-11e9-bd3a-8b2a211d90d5" data-trackable="link">fears in the west</a>
				over China&#x2019;s control and alleged manipulation of national communications networks. </p>
			<p>Had the deal with Motorola, which is being revealed for the first time, succeeded it would have changed
				the course of telecoms history. Although as one senior Chinese executive in Hong Kong noted: &#x201C;It
				isn&#x2019;t clear whether Huawei could have saved Motorola or Motorola would ultimately have destroyed
				Huawei.&#x201D;</p>
			<div class="n-content-layout">
				<figure class="n-content-picture n-content-layout__container">
					<picture>
						<source media="screen and (max-width: 490px)"
							srcset="https://www.ft.com/__origami/service/image/v2/images/raw/http%3A%2F%2Fcom.ft.imagepublish.upp-prod-eu.s3.amazonaws.com%2F9532b002-3ab5-11e9-b72b-2c7f526ca5d0?source=next&fit=scale-down&quality=highest&width=490">
						<img src="https://www.ft.com/__origami/service/image/v2/images/raw/http%3A%2F%2Fcom.ft.imagepublish.upp-prod-eu.s3.amazonaws.com%2Fa3c7bfcc-3ab5-11e9-b72b-2c7f526ca5d0?source=next&fit=scale-down&quality=highest&width=700"
							alt role="presentation" data-image-type="graphic"></picture>
				</figure>
			</div>
			<p>At the time of the deal, Motorola and Huawei were both on their way to becoming national champions. </p>
			<p>Both companies were leaders in wireless network equipment and both companies made mobile phones, although
				at that point it was Motorola rather than Huawei which had a glittering global brand. The two companies
				had also worked together, from 2000, to develop and design technology that was resold under
				Motorola&#x2019;s logo. </p>
			<p>But after the proposed acquisition fell through, Motorola&#x2019;s star faded and it racked up billions
				of dollars of losses as it was eclipsed by other companies, including its former Chinese partner, turned
				rival. In 2010, Motorola sued Huawei for stealing its commercial secrets, a suit that was later settled
				out of court, but it was too late. </p>
			<p>The revelation that Huawei was nearly sold to a US company also illustrates how it only became one of
				China&#x2019;s most favoured companies after it succeeded in growing its international business,
				starting with a <a href="/content/16381afa-f986-11e8-8b7c-6fa24bd5409c" data-trackable="link">pivotal
					deal</a> to build the UK&#x2019;s telecoms network in 2005. </p>
			<p>&#x201C;Huawei wasn&#x2019;t originally handpicked for subsidies and support. Now the government supports
				Huawei because it succeeded and has become so important to national competitiveness,&#x201D; said Yang
				Zhizhong, the banker at Morgan Stanley who represented Huawei in the negotiations with Motorola, and who
				also handled the sale of its power systems division to Emerson Electric two years earlier. </p>
			<p>Back then, &#x201C;Mr Ren wanted to be independent of the government, he didn&#x2019;t want any
				interference from them,&#x201D; he added. &#x201C;He never wanted money from them.&#x201D;</p>
			<div class="n-content-video n-content-video--internal p402_hide">
				<div class="n-content-video__placeholder" data-o-component="o-video"
					data-o-video-id="82a8a6ff-4a2a-44b4-9f9f-0e7e25e0d9d4" data-o-video-js=""><a
						href="https://www.ft.com/content/82a8a6ff-4a2a-44b4-9f9f-0e7e25e0d9d4" data-embedded="true"
						data-asset-type="video" data-trackable="link"></a>
					<div class="o-video__placeholder"><img class="o-video__placeholder-image" role="presentation" alt=""
							src="https://www.ft.com/__origami/service/image/v2/images/raw/http%3A%2F%2Fprod-upp-image-read.ft.com%2F795e9ff5-1d1a-4b4b-a491-bac4ac19b9a6?source=o-video&amp;quality=low&amp;fit=scale-down&amp;width=700">
						<div class="o-video__info">
							<h4 class="o-video__info-title">Why everyone's talking about Chinese tech giant Huawei </h4>
						</div><button class="o-video__play-button"><span class="o-video__play-button-icon"
								aria-label="Play video Why everyone's talking about Chinese tech giant Huawei "></span></button>
					</div>
				</div>
			</div>
			<br>
			<p>When the letter of intent was signed between the two companies, there were no government officials or
				representatives from the military present. Both Morgan Stanley and JPMorgan, representing Motorola, were
				content they would not suffer any reputational damage from advising on the deal. </p>
			<p>While in the early days, Huawei sold equipment both to the government and the PLA, this business had
				become &#x201C;modest&#x201D; by 2005, according to Mr Zafirovski. &#x201C;China Mobile was their
				biggest customer,&#x201D; he said. </p>
			<p>But Huawei was thought to be close to the government and the PLA and Mr Zafirovski said Motorola, whose
				biggest customers were the US networks AT&amp;T and Verizon, spent months ensuring there were
				safeguards. He said he spoke with executives at Emerson Electric who assured him of the quality of
				Huawei&#x2019;s people, products and controls. Though he noted that final due diligence would have
				followed the agreement on a price. </p>
			<figure class="n-content-image n-content-image--full p402_hide" style="width: 700px; max-width: 100%;">
				<div class="n-image-wrapper n-image-wrapper--placeholder" style="padding-bottom: 56.25%;"><img
						src="https://www.ft.com/__origami/service/image/v2/images/raw/http%3A%2F%2Fcom.ft.imagepublish.upp-prod-eu.s3.amazonaws.com%2F26a23c2a-39e3-11e9-9988-28303f70fcff?source=next&fit=scale-down&width=700"
						alt role="presentation" class="n-image"
						srcset="https://www.ft.com/__origami/service/image/v2/images/raw/http%3A%2F%2Fcom.ft.imagepublish.upp-prod-eu.s3.amazonaws.com%2F26a23c2a-39e3-11e9-9988-28303f70fcff?source=next&fit=scale-down&width=700 700w, https://www.ft.com/__origami/service/image/v2/images/raw/http%3A%2F%2Fcom.ft.imagepublish.upp-prod-eu.s3.amazonaws.com%2F26a23c2a-39e3-11e9-9988-28303f70fcff?source=next&fit=scale-down&width=500 500w, https://www.ft.com/__origami/service/image/v2/images/raw/http%3A%2F%2Fcom.ft.imagepublish.upp-prod-eu.s3.amazonaws.com%2F26a23c2a-39e3-11e9-9988-28303f70fcff?source=next&fit=scale-down&width=300 300w"
						sizes="(min-width: 76.25em) 700px, (min-width: 61.25em) 620px, (min-width: 46.25em) 700px, calc(100vw - 20px)">
				</div>

				<figcaption class="n-content-image__caption">
					Mike Zafirovski, chief operating officer of Motorola, in 2003 &#xA9; Bloomberg
				</figcaption>

			</figure>
			<p>Huawei&#x2019;s ownership was not a hurdle, said Mr Yang. While many influential Communist party families
				and private equity firms had offered Huawei investment, Mr Ren had declined them in favour of bank
				loans, he said. </p>
			<p>&#x201C;Huawei refused the temptation of receiving money from financial partners no matter how
				influential they were. He (Ren) did not want to get into bed with any family,&#x201D; Mr Yang recalled.
				&#x201C;He always resisted such requests. He believed if he let one family or princeling in, he would
				alienate all the others.&#x201D;</p>
			<p>Bankers who worked on the transaction say that Mr Zafirovski seemed to establish a rapport with the
				Huawei side. This was in part because Mr Zafirovski had immigrated from what is now Macedonia but was
				then part of Yugoslavia, </p>
			<p>&#x201C;I would joke with Mr Ren that I was also born in a communist country,&#x201D; he said, referring
				to his childhood under Tito&#x2019;s government. He added that he was careful to lose to Mr Ren at
				ping-pong when they played in Hainan. </p>
			<p>The deal was carefully structured to make sure it would not fall foul of regulators on either side, with
				six business units split equally between the US and China. </p>
			<p>The combination would have created huge value, said Mr Zafirovski. &#x201C;We thought in this case one
				and one would equal five,&#x201D; he said. </p>
			<div class="n-content-recommended--single-story">
				<h3 class="n-content-recommended__title">Recommended</h3>
				<div class="o-teaser o-teaser--small o-teaser--stacked o-teaser--has-image o-teaser--audio o-teaser--syndicatable"
					data-o-component="o-teaser" data-trackable="teaser">

					<div class="o-teaser__image-container js-teaser-image-container">
						<a href="/content/1d74f558-7413-4a65-a601-d3e3c7384c75" data-trackable="image"
							aria-hidden="true" tabindex="-1" title="Listen: Huawei and the fight for 5G">
							<div class="n-image-wrapper o-teaser__image-placeholder n-image-wrapper--placeholder n-image-wrapper--square-placeholder"
								style="">
								<img sizes="(min-width: 1220px) 1168px, (min-width: 980px) 928px, (min-width: 740px) 688px, calc(100vw - 40px)"
									role="presentation" alt="" class="n-image o-teaser__image n-image--fade-on-load"
									data-n-image-lazy-load-js=""
									srcset="https://www.ft.com/__origami/service/image/v2/images/raw/http%3A%2F%2Fprod-upp-image-read.ft.com%2F7720fb6b-ac5c-4126-a588-43882f6ac29b?source=next&amp;fit=scale-down&amp;compression=best&amp;width=3000 3000w">
							</div>
						</a>
					</div>

					<div class="o-teaser__content">

						<div class="o-teaser__meta">
							<a href="/podcasts" class="o-teaser__tag" data-trackable="primary-concept">
								FT Podcast
							</a>
						</div>

						<div class="o-teaser__heading js-teaser-heading">
							<a href="/content/1d74f558-7413-4a65-a601-d3e3c7384c75" class="js-teaser-heading-link"
								data-content-id="1d74f558-7413-4a65-a601-d3e3c7384c75" data-trackable="main-link">
								Listen: Huawei and the fight for 5G
							</a>
						</div>
						<div class="o-teaser__timestamp">
							<time data-o-component="o-date" class="o-date" data-o-date-format="time-ago-limit-4-hours"
								datetime="2019-02-26T05:00:00.000Z" title="February 26, 2019 5:00 am" data-o-date-js=""
								aria-label=""></time>
						</div>


					</div>
				</div>

			</div>
			<p>Huawei, meanwhile, had been &#x201C;going through a cold winter&#x201D;, said Leon Meng, the JPMorgan
				banker who advised Motorola. Huawei had settled a case with Cisco over technology theft, but there was
				no sign it would succeed in developing its own leading technology. </p>
			<p>He said he had been surprised Mr Ren had wanted to sell, and then dismayed when the deal fell through.
				&#x201C;I was surprised by the openness of the Huawei team and deeply impressed by their work ethics in
				the long and extensive due diligence process,&#x201D; he said.</p>
			<p>But even as the letter of intent was being finalised, Mr Zafirovski was being passed over and Ed Zander,
				from Sun Microsystems, was brought in to be Motorola&#x2019;s chief executive. Mr Zander consented to
				further talks but ultimately balked at signing off on the deal, as the board fretted over what it saw as
				a high price for an unknown foreign quantity, with the bulk payable upfront in cash. </p>
			<p>&#x201C;I was shocked by the Motorola board decision to turn down this deal as the due diligence results
				were overwhelmingly positive and both sides&#x2019; operating teams had already formed strong rapport
				among themselves,&#x201D; Mr Meng said.</p>
			<p>Mr Zafirovski left Motorola and joined Nortel Networks. Today, he runs his own family office in Chicago
				and serves as a senior adviser to Blackstone.</p>
			<p>Motorola went on to sell its phone handset business to Google, which in turn sold it to the Chinese
				company Lenovo, while Motorola Solutions now focuses on communications systems for the public sector,
				particularly the emergency services. </p>
			<p>Huawei, meanwhile, became the biggest telecoms equipment company in the world, and the second largest
				smartphone maker by sales. </p>
			<p><em>This article has been amended since publication to correct Ren Zhengfei&#x2019;s age in 2003 to 59.
				</em></p>


		</div>

		<div class="instant-alert-cta" data-concept-id="54a79fa5-b484-49cc-9919-7ccd50f2f7b8"
			data-trackable="instant-alert-cta">
			<p class="instant-alert-cta__text">
				Get alerts on Telecoms when a new story is published
			</p>
			<button class="instant-alert-cta__enable" data-concept-id="54a79fa5-b484-49cc-9919-7ccd50f2f7b8"
				data-trackable="enable">
				Get alerts
			</button>
		</div>
	</div>


	<div class="article-tools" data-trackable="article-tools">

		<footer class="n-content-copyright">
			<a href="http://help.ft.com/help/legal-privacy/copyright/copyright-policy/"
				data-trackable="link-copyright">Copyright</a>
			The Financial Times Limited 2019. All rights reserved.
		</footer>
		<div class="article-tools__buttons">
			<button class="article-tools__gift js-gift-article" data-trackable="email">
				Share this article
			</button>
		</div>

	</div>
	<div class="article__right">
		<div class="sidebar-advert sidebar-advert--no-responsive o-ads advert" data-o-ads-name="halfpage-desktop"
			data-o-ads-targeting="pos=mid;" data-o-ads-formats-default="false" data-o-ads-formats-small="false"
			data-o-ads-formats-medium="false" data-o-ads-formats-large="HalfPage,MediumRectangle"
			data-o-ads-formats-extra="HalfPage,MediumRectangle" aria-hidden="true">
		</div>


	</div>
	<div class="article__right-bottom">
		<!-- Second ad on the rhr -->
		<div class="concept-list" data-trackable="mentions">
			<h2 class="concept-list__title">
				Follow the topics in this article
			</h2>
			<ul class="concept-list__list">
				<li class="concept-list__list-item">
					<a href="/companies/asia-pacific" data-trackable="concept"
						class="concept-list__concept n-content-tag n-content-tag--author n-content-tag--with-follow">
						Asia-Pacific companies
					</a>
					<form class="n-myft-ui n-myft-ui--follow " method="GET" data-myft-ui="follow"
						data-concept-id="97133bf5-c958-4c69-9e0e-44874679cedc"
						action="/myft/add/97133bf5-c958-4c69-9e0e-44874679cedc"
						data-js-action="/__myft/api/core/followed/concept/97133bf5-c958-4c69-9e0e-44874679cedc?method=put">
						<input data-myft-csrf-token value="" type="hidden" name="token"> <button
							aria-label="Add Asia-Pacific companies to myFT" title="Add Asia-Pacific companies to myFT"
							data-alternate-label="Remove Asia-Pacific companies from myFT" aria-pressed="false"
							data-alternate-text="Added" class="
											n-myft-follow-button" data-concept-id="97133bf5-c958-4c69-9e0e-44874679cedc" data-trackable="follow"
							type="submit">Add to myFT</button>
					</form>
				</li>
				<li class="concept-list__list-item">
					<a href="/companies/telecoms" data-trackable="concept"
						class="concept-list__concept n-content-tag n-content-tag--author n-content-tag--with-follow">
						Telecoms
					</a>
					<form class="n-myft-ui n-myft-ui--follow " method="GET" data-myft-ui="follow"
						data-concept-id="54a79fa5-b484-49cc-9919-7ccd50f2f7b8"
						action="/myft/add/54a79fa5-b484-49cc-9919-7ccd50f2f7b8"
						data-js-action="/__myft/api/core/followed/concept/54a79fa5-b484-49cc-9919-7ccd50f2f7b8?method=put">
						<input data-myft-csrf-token value="" type="hidden" name="token"> <button
							aria-label="Add Telecoms to myFT" title="Add Telecoms to myFT"
							data-alternate-label="Remove Telecoms from myFT" aria-pressed="false"
							data-alternate-text="Added" class="
											n-myft-follow-button" data-concept-id="54a79fa5-b484-49cc-9919-7ccd50f2f7b8" data-trackable="follow"
							type="submit">Add to myFT</button>
					</form>
				</li>
				<li class="concept-list__list-item">
					<a href="/companies/us" data-trackable="concept"
						class="concept-list__concept n-content-tag n-content-tag--author n-content-tag--with-follow">
						US &amp; Canadian companies
					</a>
					<form class="n-myft-ui n-myft-ui--follow " method="GET" data-myft-ui="follow"
						data-concept-id="1248b3d3-1d4c-4454-af23-c0b4707ed412"
						action="/myft/add/1248b3d3-1d4c-4454-af23-c0b4707ed412"
						data-js-action="/__myft/api/core/followed/concept/1248b3d3-1d4c-4454-af23-c0b4707ed412?method=put">
						<input data-myft-csrf-token value="" type="hidden" name="token"> <button
							aria-label="Add US &amp; Canadian companies to myFT"
							title="Add US &amp; Canadian companies to myFT"
							data-alternate-label="Remove US &amp; Canadian companies from myFT" aria-pressed="false"
							data-alternate-text="Added" class="
											n-myft-follow-button" data-concept-id="1248b3d3-1d4c-4454-af23-c0b4707ed412" data-trackable="follow"
							type="submit">Add to myFT</button>
					</form>
				</li>
				<li class="concept-list__list-item">
					<a href="/companies/technology" data-trackable="concept"
						class="concept-list__concept n-content-tag n-content-tag--author n-content-tag--with-follow">
						Technology sector
					</a>
					<form class="n-myft-ui n-myft-ui--follow " method="GET" data-myft-ui="follow"
						data-concept-id="6b32f2c1-da43-4e19-80b9-8aef4ab640d7"
						action="/myft/add/6b32f2c1-da43-4e19-80b9-8aef4ab640d7"
						data-js-action="/__myft/api/core/followed/concept/6b32f2c1-da43-4e19-80b9-8aef4ab640d7?method=put">
						<input data-myft-csrf-token value="" type="hidden" name="token"> <button
							aria-label="Add Technology sector to myFT" title="Add Technology sector to myFT"
							data-alternate-label="Remove Technology sector from myFT" aria-pressed="false"
							data-alternate-text="Added" class="
											n-myft-follow-button" data-concept-id="6b32f2c1-da43-4e19-80b9-8aef4ab640d7" data-trackable="follow"
							type="submit">Add to myFT</button>
					</form>
				</li>
				<li class="concept-list__list-item">
					<a href="/stream/052be9c5-95fc-43ed-b808-99cd511a1fee" data-trackable="concept"
						class="concept-list__concept n-content-tag n-content-tag--author n-content-tag--with-follow">
						Motorola Inc
					</a>
					<form class="n-myft-ui n-myft-ui--follow " method="GET" data-myft-ui="follow"
						data-concept-id="052be9c5-95fc-43ed-b808-99cd511a1fee"
						action="/myft/add/052be9c5-95fc-43ed-b808-99cd511a1fee"
						data-js-action="/__myft/api/core/followed/concept/052be9c5-95fc-43ed-b808-99cd511a1fee?method=put">
						<input data-myft-csrf-token value="" type="hidden" name="token"> <button
							aria-label="Add Motorola Inc to myFT" title="Add Motorola Inc to myFT"
							data-alternate-label="Remove Motorola Inc from myFT" aria-pressed="false"
							data-alternate-text="Added" class="
											n-myft-follow-button" data-concept-id="052be9c5-95fc-43ed-b808-99cd511a1fee" data-trackable="follow"
							type="submit">Add to myFT</button>
					</form>
				</li>
			</ul>
		</div>

		<!-- Potential third ad on the rhr -->
	</div>
</article>