<div class="topper topper--basic">
	<div class="topper__content" data-textbox-background="paper">
		<div class="topper__tags">
		
					<div class="topper__primary-theme">
								<a href="/stream/7d930a0a-dcc3-4d19-86ef-b13af31cbcf1" class="n-content-tag js-primary-theme  n-content-tag--with-follow " data-trackable="primary-theme" aria-label="posted in category Global economic growth" data-concept-id="7d930a0a-dcc3-4d19-86ef-b13af31cbcf1">Global economic growth</a>
										<form
											class="n-myft-ui n-myft-ui--follow "
											method="GET"
											data-myft-ui="follow"
											data-concept-id="7d930a0a-dcc3-4d19-86ef-b13af31cbcf1"
														action="/myft/add/7d930a0a-dcc3-4d19-86ef-b13af31cbcf1"
														data-js-action="/__myft/api/core/followed/concept/7d930a0a-dcc3-4d19-86ef-b13af31cbcf1?method=put"
											>
											<input
												data-myft-csrf-token
												value=""
												type="hidden"
												name="token">		<div
												class="n-myft-ui__announcement o-normalise-visually-hidden"
												aria-live="assertive"
												data-pressed-text="Now following Global economic growth."
												data-unpressed-text="No longer following Global economic growth."
											></div>
											<button
													aria-label="Add Global economic growth to myFT"
													title="Add Global economic growth to myFT"
													data-alternate-label="Remove Global economic growth from myFT"
													aria-pressed="false"
															data-alternate-text="Added"
												class="
													n-myft-follow-button n-myft-follow-button--standard"
												data-concept-id="7d930a0a-dcc3-4d19-86ef-b13af31cbcf1" 
												data-trackable="follow"
												type="submit">Add to myFT</button>
										</form>
					</div>
		
		</div>		
		<h1 class="topper__headline" data-trackable="header">
			<span class="article-classifier__gap">Global economy enters ‘synchronised slowdown’</span>
		</h1>
				<div class="topper__standfirst">Disappointing indicators show similar picture in US, China and Europe</div>

	</div>

	<div class="topper__background" data-textbox-background="paper"></div>


</div>
<article
		id="site-content"
		role="main"
		class="article article-grid"
		data-content-id="d9bba980-5794-11e9-a3db-1fe89bedc16e"
		data-syndicatable="yes"
		data-access-level="subscribed"
>
	<div class="main-image">
			<figure class="n-content-image n-content-image--full" style="width: 700px; max-width: 100%;">
				<div class="n-image-wrapper n-image-wrapper--placeholder" style="padding-bottom: 56.25%;"><img src="https://www.ft.com/__origami/service/image/v2/images/raw/http%3A%2F%2Fcom.ft.imagepublish.upp-prod-eu.s3.amazonaws.com%2Fbaaa81e4-5544-11e9-8b71-f5b0066105fe?fit=scale-down&source=next&width=700" alt role="presentation" class="n-image" srcset="https://www.ft.com/__origami/service/image/v2/images/raw/http%3A%2F%2Fcom.ft.imagepublish.upp-prod-eu.s3.amazonaws.com%2Fbaaa81e4-5544-11e9-8b71-f5b0066105fe?fit=scale-down&source=next&width=700 700w, https://www.ft.com/__origami/service/image/v2/images/raw/http%3A%2F%2Fcom.ft.imagepublish.upp-prod-eu.s3.amazonaws.com%2Fbaaa81e4-5544-11e9-8b71-f5b0066105fe?fit=scale-down&source=next&width=500 500w, https://www.ft.com/__origami/service/image/v2/images/raw/http%3A%2F%2Fcom.ft.imagepublish.upp-prod-eu.s3.amazonaws.com%2Fbaaa81e4-5544-11e9-8b71-f5b0066105fe?fit=scale-down&source=next&width=300 300w" sizes="(min-width: 76.25em) 700px, (min-width: 61.25em) 620px, (min-width: 46.25em) 700px, calc(100vw - 20px)"></div>
				
			<figcaption class="n-content-image__caption">
				Christine Lagarde, managing director of the IMF, said the IMF would cut its growth forecasts &#xA9; AFP
			</figcaption>
		
			</figure>
	</div>
	{{> userTest/shareBar}}
	<div class="article__content " data-trackable="article-body">

		<div class="article-info">
			<div class="article-info__time-byline">
						<p class="article-info__byline"><a class="n-content-tag n-content-tag--author" href="/chris-giles" data-trackable="author">Chris Giles</a> in London</p>
		
					<time class="article-info__timestamp o-date" data-o-component="o-date" datetime="2019-04-07T04:00:28Z" data-o-date-js>
					April 7, 2019
					</time>
			</div>
		
			<a class="article-print"
				data-trackable="print"
				href="javascript:void(0)"
				onclick="window.print()"
			><span class="o-normalise-visually-hidden">Print this page</span></a>
				<a data-o-component="o-comment-count"
					data-o-comment-count-auto-init="false"
					data-o-comment-count-config-article-id="d9bba980-5794-11e9-a3db-1fe89bedc16e"
					data-o-comment-count-config-template="{count}"
					data-o-comment-count-config-aria-label-template="There are {count} comments on this article. Write a comment."
					class="article-comment-count"
					data-trackable="view-comments"
					style="visibility: hidden;"
					href="#comments-anchor">
				</a>
		</div>
				<div class="ftlabsaudioplayerholder ftlabsaudioplayerholder--inactive n-ui-hide-core" data-trackable="ftlabs-audio-player">
					<div class="ftlabsaudiocontainer">
						<div class="ftlabsaudioplayer-feedback__label ftlabsaudioplayer-feedback__label--mobile">
							<span>Experimental feature</span>
						</div>
						<div class="ftlabsaudioplayerwrap">
							<h2>Listen to this article</h2>
							<div class="ftlabsaudioplayercontrols" data-trackable="controls">
								<button class="control control__play" data-trackable="play">Play audio for this article</button>
								<button class="control control__pause" disabled data-trackable="pause">Pause</button>
								<div class="audio-time">
									<span class="audio-time-text__current audio-time-text">00:00</span>
									<div class="audio-time-progress" role="slider" tabindex="0" aria-valuenow="0" aria-valuemin="0">
										<span class="audio-time-progress__background" aria-hidden="true"></span>
										<span class="audio-time-progress__fill" aria-hidden="true"></span>
										<span class="audio-time-progress__scrub" aria-hidden="true"></span>
									</div>
									<span class="audio-time-text__total audio-time-text">00:00</span>
								</div>
							</div>
						</div>
						<audio class="ftlabs-audio-player" aria-hidden="true"></audio>
				
					</div>
				
					<div class="ftlabsaudioplayer-feedback">
						<div class="ftlabsaudioplayer-feedback__label ftlabsaudioplayer-feedback__label--desktop">
							<span>Experimental feature</span>
						</div>
						<div class="ftlabsaudioplayer-feedback__components">
							<div class="js-feedback feedback ftlabs-audio-pronunciation-feedback">
								<p class="feedback__invitation">
									<a href="#" class="feedback__trigger js-ftlabs-audio-pronunciation-feedback__trigger" data-complete=".js-feedback__complete">Report a mispronounced word</a>
								</p>
							
								<div id="ftlabs-audio-pronunciation-feedback-target"></div>
							
								<div class="js-feedback__content">
									<div class="feedback-form">
										<div class="o-forms">
											<label for="ftlabs-audio-pronunciation-feedback__textarea" class="o-forms__label feedback__heading">
												What was mispronounced?
												<span class="feedback-form__subheading">Optional: help us by adding the time</span>
											</label>
											<textarea id="ftlabs-audio-pronunciation-feedback__textarea" class="o-forms__textarea feedback__input"></textarea>
										</div>
										<div class="o-forms feedback-form__submit">
											<button class="article-big-button js-feedback__responder" data-question="pronunciation_feedback" data-answer-selector="#ftlabs-audio-pronunciation-feedback__textarea">Submit</button>
										</div>
									</div>
									<div class="feedback__thankyou hidden-content">Thank you for your help!</div>
								</div>
							</div>		</div>
					</div>
				</div>
				{{> userTest/componentSecondIteration}}
		<div class="article__content-body n-content-body js-article__content-body">
			
				<p>The global economy has entered a &#x201C;synchronised slowdown&#x201D; which may be difficult to reverse in 2019, according to the latest update of a <a href="http://www.brookings.edu/tiger" data-trackable="link" target="_blank">tracking index</a> compiled by the Brookings Institution think-tank and the Financial Times. </p><p>Sentiment indicators and economic data across advanced and emerging economies have been deteriorating since last autumn, suggesting fading momentum in global growth and the need to resort to new forms of economic stimulus. </p><p>The worsening outlook has sparked <a href="/content/2d2c31b2-5532-11e9-a3db-1fe89bedc16e" data-trackable="link">warnings</a> from Christine Lagarde, managing director of the IMF, who said the fund would cut its growth forecasts later this week, and the <a href="/content/9cba9d4c-5533-11e9-91f9-b6515a54c5b1" data-trackable="link">World Trade Organization</a> which has said the continued threats of trade skirmishes had weakened forecasts. </p><div class="o-ads in-article-advert advert" data-o-ads-name="mpu" data-o-ads-center="true" data-o-ads-label="true" data-o-ads-targeting="pos=mid;" data-o-ads-formats-default="MediumRectangle,Responsive" data-o-ads-formats-small="MediumRectangle,Responsive" data-o-ads-formats-medium="MediumRectangle,Responsive" data-o-ads-formats-large="Responsive" data-o-ads-formats-extra="Responsive" aria-hidden="true"></div><p>The findings follow generally disappointing economic indicators over the past six months that have shown a similar picture in the US, China and in Europe. </p><p>Professor Eswar Prasad of the Brookings Institution said the slowdown did not yet appear to be heading for a global recession, but all parts of the world economy were losing momentum. </p>
					<aside class="n-content-recommended--single-story">
						<h2 class="n-content-recommended__title">Recommended</h2>
							<div class="o-teaser o-teaser--small o-teaser--stacked o-teaser--has-image o-teaser--opinion o-teaser--article" data-o-component="o-teaser" data-trackable="teaser">
		
					<div class="o-teaser__image-container js-teaser-image-container">
						<a href="/content/23095e8e-5529-11e9-91f9-b6515a54c5b1" data-trackable="image" aria-hidden="true" tabindex="-1" title="Global economy may still defy the pessimists this year">
									<div class="n-image-wrapper o-teaser__image-placeholder n-image-wrapper--lazy-loading n-image-wrapper--placeholder" style="padding-bottom:56.249929687587894%">
											<img data-srcset="https://www.ft.com/__origami/service/image/v2/images/raw/http%3A%2F%2Fprod-upp-image-read.ft.com%2F16c867ec-5929-11e9-840c-530737425559?source&#x3D;next&amp;fit&#x3D;scale-down&amp;compression&#x3D;best&amp;width&#x3D;2048 2048w" sizes="(min-width: 1220px) 1168px, (min-width: 980px) 928px, (min-width: 740px) 688px, calc(100vw - 40px)" role="presentation" alt class="n-image o-teaser__image n-image--lazy-loading n-image--fade-on-load">
									</div>		</a>
					</div>
		
				<div class="o-teaser__content">
		
						<div class="o-teaser__meta">
								<a href="/gavyn-davies" class="o-teaser__tag" data-trackable="primary-concept">
									Gavyn Davies
								</a>
						</div>
		
					<div class="o-teaser__heading js-teaser-heading">
						<a href="/content/23095e8e-5529-11e9-91f9-b6515a54c5b1" class="js-teaser-heading-link" data-content-id="23095e8e-5529-11e9-91f9-b6515a54c5b1" data-trackable="main-link">
							Global economy may still defy the pessimists this year
						</a>
					</div>
							<div class="o-teaser__timestamp">
								<time data-o-component="o-date" class="o-date" data-o-date-format="time-ago-limit-4-hours" datetime="2019-04-07T14:59:48.000Z">Sunday, 7 April, 2019</time>
							</div>
		
		
				</div>
			</div>
		
					</aside>
				<p>&#x201C;The nature of the slowdown has ominous portents for these economies over the next few years, especially given present constraints on macroeconomic policies that could stimulate growth,&#x201D; he said. </p><p>The Brookings-FT Tracking Index for the Global Economic Recovery (Tiger) compares indicators of real activity, financial markets and investor confidence with their historical averages for the global economy and for individual countries.</p><p>The headline readings slipped back significantly at the end of last year and are at their lowest levels for both advanced and emerging economies since 2016, the year of the weakest global economic performance since the financial crisis.</p><p>The index fell partly because hard data indicating real economic activity has been weaker, with countries such as Italy falling into recession and Germany narrowly avoiding one and with the US economy losing steam as the effects of Donald Trump&#x2019;s tax cuts wear off. </p><div class="n-content-layout"><figure class="n-content-picture n-content-layout__container"><picture><source media="screen and (max-width: 490px)" srcset="https://www.ft.com/__origami/service/image/v2/images/raw/http%3A%2F%2Fcom.ft.imagepublish.upp-prod-eu.s3.amazonaws.com%2Ff651bdc4-57a7-11e9-91f9-b6515a54c5b1?fit=scale-down&quality=highest&source=next&width=490"><img src="https://www.ft.com/__origami/service/image/v2/images/raw/http%3A%2F%2Fcom.ft.imagepublish.upp-prod-eu.s3.amazonaws.com%2F6855793e-57a7-11e9-91f9-b6515a54c5b1?fit=scale-down&quality=highest&source=next&width=700" alt role="presentation" data-image-type="graphic"></picture></figure></div><p>Although economic sentiment remains high in advanced economies, it has fallen from its peaks and has plummeted to well below normal levels in emerging economies, led by fears that China&#x2019;s years of rapid economic growth are coming to an end. </p><div class="o-ads in-article-advert advert" data-o-ads-name="second-mpu" data-o-ads-center="true" data-o-ads-label="true" data-o-ads-targeting="pos=mid1;" data-o-ads-formats-default="MediumRectangle,Responsive" data-o-ads-formats-small="MediumRectangle,Responsive" data-o-ads-formats-medium="false" data-o-ads-formats-large="false" data-o-ads-formats-extra="false" aria-hidden="true"></div><p>Athough China&#x2019;s economy has been showing signs of improvement following government efforts to stimulate capital spending and the US Federal Reserve&#x2019;s reversal of its plans for further interest rate rises this year has had a steadying effect, economic confidence has taken a knock over the past six months. </p><p>Growth indicators in Europe have been disappointing, Prof Prasad said. Globally, only India stands out as an exception to the slowing trend, boosted by fiscal and monetary stimulus ahead of national elections starting later this month. </p><div class="n-content-layout"><figure class="n-content-picture n-content-layout__container"><picture><source media="screen and (max-width: 490px)" srcset="https://www.ft.com/__origami/service/image/v2/images/raw/http%3A%2F%2Fcom.ft.imagepublish.upp-prod-eu.s3.amazonaws.com%2F9ea29c14-57a8-11e9-91f9-b6515a54c5b1?fit=scale-down&quality=highest&source=next&width=490"><img src="https://www.ft.com/__origami/service/image/v2/images/raw/http%3A%2F%2Fcom.ft.imagepublish.upp-prod-eu.s3.amazonaws.com%2F9ff075d2-57a8-11e9-91f9-b6515a54c5b1?fit=scale-down&quality=highest&source=next&width=700" alt role="presentation" data-image-type="graphic"></picture></figure></div><p><a href="/content/2420ea6a-5724-11e9-91f9-b6515a54c5b1" data-trackable="link">Delays</a> in the anticipated trade rapprochement between the US and China have also raised questions over the prospects for greater momentum in the world economy in the second half of the year. </p><p>&#x201C;Trade tensions and the uncertainty they have spawned are likely to leave a long-lasting scar on the world economy. This uncertainty is undermining business confidence and depressing private investment, which has implications for longer-term productivity growth,&#x201D; Prof Prasad said, He added that any weakness might be amplified by policymakers&#x2019; inability to provide effective stimulus to boost prospects later this year. </p><div class="n-content-layout"><figure class="n-content-picture n-content-layout__container"><picture><source media="screen and (max-width: 490px)" srcset="https://www.ft.com/__origami/service/image/v2/images/raw/http%3A%2F%2Fcom.ft.imagepublish.upp-prod-eu.s3.amazonaws.com%2F4bf331e0-57a8-11e9-91f9-b6515a54c5b1?fit=scale-down&quality=highest&source=next&width=490"><img src="https://www.ft.com/__origami/service/image/v2/images/raw/http%3A%2F%2Fcom.ft.imagepublish.upp-prod-eu.s3.amazonaws.com%2F9d4f9db8-597d-11e9-9dde-7aedca0a081a?fit=scale-down&quality=highest&source=next&width=700" alt role="presentation" data-image-type="graphic"></picture></figure></div><p>&#x201C;High levels of public debt are likely to limit the ability of major advanced economies to counteract a slowdown with fiscal stimulus,&#x201D; he said. &#x201C;Conventional monetary policy remains constrained in many advanced economies where policy rates are close to or below zero, while any further unconventional monetary policy actions present significant risks and uncertain pay-offs.&#x201D;</p>
		
		
		</div>
			<div
				class="instant-alert-cta js-instant-alert-cta"
				data-concept-id="7d930a0a-dcc3-4d19-86ef-b13af31cbcf1"
				data-trackable="instant-alert-cta">
				<p class="instant-alert-cta__text">
					Get alerts on Global economic growth when a new story is published
				</p>
				<button
					class="instant-alert-cta__enable"
					data-concept-id="7d930a0a-dcc3-4d19-86ef-b13af31cbcf1"
					data-trackable="enable">
					Get alerts
				</button>
			</div>	</div>


	<div class="article-tools  article-tools--with-reuse-button" data-trackable="article-tools">
	
		<footer class="n-content-copyright">
			<a href="http://help.ft.com/help/legal-privacy/copyright/copyright-policy/" data-trackable="link-copyright">Copyright</a>
			The Financial Times Limited 2019. <span class="n-content-copyright__rights">All rights reserved.</span>
		</footer>
		<div class="article-tools__buttons">
				<button
					class="article-tools__gift js-gift-article"
					data-trackable="email">
					Share this article
				</button>
				<a
					class="article-tools__reuse"
					data-trackable="reuse-content-button"
					target="_blank"
					href="https://enterprise.ft.com/en-gb/services/republishing/republish-content-request?ft-content-uuid=d9bba980-5794-11e9-a3db-1fe89bedc16e"
				>
	
					Reuse this content<span class="o-normalise-visually-hidden"> (opens in new window)</span>
				</a>
		</div>
	
	</div>
		<div class="article__right">
					<div
						class="sidebar-advert sidebar-advert--no-responsive o-ads advert"
						data-o-ads-name="halfpage-desktop"
						data-o-ads-targeting="pos=mid;"
						data-o-ads-formats-default="false"
						data-o-ads-formats-small="false"
						data-o-ads-formats-medium="false"
						data-o-ads-formats-large="HalfPage,MediumRectangle"
						data-o-ads-formats-extra="HalfPage,MediumRectangle"
						aria-hidden="true">
					</div>


		</div>

		<div class="promoted-content__container">
			<h2 class="h2-promoted-content follow-tags__title" style="display:none">Promoted Content</h2>
			<div class="native-ad__fullwidth" ></div>
		</div>	
	<div class="js-topic-tracker-container" data-trackable="topic-tracker"></div>

		<div class="onward-journey onward-journey--simple js-onward-journey-simple"></div>
	
	<div class="comments-container">
		<div id="comments-anchor"></div>
		<div class="comments">
						<div class="comments__rum-indicator"></div>
						<div
							id="comments"
							data-trackable="comments"
							data-comments-js="//www.ft.com/__assets/hashed/article/3024b079/comments.js"
							data-comments-css="//www.ft.com/__assets/hashed/article/a77dfc01/comments.css"
							data-skeleton-enabled="true"
							class="article__comments o-comments n-ui-hide@print">
						</div>
		</div>
	</div>
	<div class="article__right-bottom">
		<!-- Second ad on the rhr -->

			<div
				class="concept-list"
				data-trackable="mentions">
					<h2 class="concept-list__title">
							Follow the topics in this article
					</h2>
				<ul class="concept-list__list">
						<li class="concept-list__list-item">
							<a
								href="/audio-articles"
								data-trackable="concept"
								class="concept-list__concept n-content-tag n-content-tag--author n-content-tag--with-follow">
								Audio articles
							</a>
								<form
									class="n-myft-ui n-myft-ui--follow "
									method="GET"
									data-myft-ui="follow"
									data-concept-id="73421c5c-456d-426c-a125-60e03196f126"
												action="/myft/add/73421c5c-456d-426c-a125-60e03196f126"
												data-js-action="/__myft/api/core/followed/concept/73421c5c-456d-426c-a125-60e03196f126?method=put"
									>
									<input
										data-myft-csrf-token
										value=""
										type="hidden"
										name="token">		<div
										class="n-myft-ui__announcement o-normalise-visually-hidden"
										aria-live="assertive"
										data-pressed-text="Now following Audio articles."
										data-unpressed-text="No longer following Audio articles."
									></div>
									<button
											aria-label="Add Audio articles to myFT"
											title="Add Audio articles to myFT"
											data-alternate-label="Remove Audio articles from myFT"
											aria-pressed="false"
													data-alternate-text="Added"
										class="
											n-myft-follow-button"
										data-concept-id="73421c5c-456d-426c-a125-60e03196f126" 
										data-trackable="follow"
										type="submit">Add to myFT</button>
								</form>
						</li>
						<li class="concept-list__list-item">
							<a
								href="/global-economy"
								data-trackable="concept"
								class="concept-list__concept n-content-tag n-content-tag--author n-content-tag--with-follow">
								Global Economy
							</a>
								<form
									class="n-myft-ui n-myft-ui--follow "
									method="GET"
									data-myft-ui="follow"
									data-concept-id="29e67a92-a3b8-410c-9139-15abe9b47e12"
												action="/myft/add/29e67a92-a3b8-410c-9139-15abe9b47e12"
												data-js-action="/__myft/api/core/followed/concept/29e67a92-a3b8-410c-9139-15abe9b47e12?method=put"
									>
									<input
										data-myft-csrf-token
										value=""
										type="hidden"
										name="token">		<div
										class="n-myft-ui__announcement o-normalise-visually-hidden"
										aria-live="assertive"
										data-pressed-text="Now following Global Economy."
										data-unpressed-text="No longer following Global Economy."
									></div>
									<button
											aria-label="Add Global Economy to myFT"
											title="Add Global Economy to myFT"
											data-alternate-label="Remove Global Economy from myFT"
											aria-pressed="false"
													data-alternate-text="Added"
										class="
											n-myft-follow-button"
										data-concept-id="29e67a92-a3b8-410c-9139-15abe9b47e12" 
										data-trackable="follow"
										type="submit">Add to myFT</button>
								</form>
						</li>
						<li class="concept-list__list-item">
							<a
								href="/stream/7d930a0a-dcc3-4d19-86ef-b13af31cbcf1"
								data-trackable="concept"
								class="concept-list__concept n-content-tag n-content-tag--author n-content-tag--with-follow">
								Global economic growth
							</a>
								<form
									class="n-myft-ui n-myft-ui--follow "
									method="GET"
									data-myft-ui="follow"
									data-concept-id="7d930a0a-dcc3-4d19-86ef-b13af31cbcf1"
												action="/myft/add/7d930a0a-dcc3-4d19-86ef-b13af31cbcf1"
												data-js-action="/__myft/api/core/followed/concept/7d930a0a-dcc3-4d19-86ef-b13af31cbcf1?method=put"
									>
									<input
										data-myft-csrf-token
										value=""
										type="hidden"
										name="token">		<div
										class="n-myft-ui__announcement o-normalise-visually-hidden"
										aria-live="assertive"
										data-pressed-text="Now following Global economic growth."
										data-unpressed-text="No longer following Global economic growth."
									></div>
									<button
											aria-label="Add Global economic growth to myFT"
											title="Add Global economic growth to myFT"
											data-alternate-label="Remove Global economic growth from myFT"
											aria-pressed="false"
													data-alternate-text="Added"
										class="
											n-myft-follow-button"
										data-concept-id="7d930a0a-dcc3-4d19-86ef-b13af31cbcf1" 
										data-trackable="follow"
										type="submit">Add to myFT</button>
								</form>
						</li>
						<li class="concept-list__list-item">
							<a
								href="/chris-giles"
								data-trackable="concept"
								class="concept-list__concept n-content-tag n-content-tag--author n-content-tag--with-follow">
								Chris Giles
							</a>
								<form
									class="n-myft-ui n-myft-ui--follow "
									method="GET"
									data-myft-ui="follow"
									data-concept-id="1d556016-ad16-4fe7-8724-42b3fb15ad28"
												action="/myft/add/1d556016-ad16-4fe7-8724-42b3fb15ad28"
												data-js-action="/__myft/api/core/followed/concept/1d556016-ad16-4fe7-8724-42b3fb15ad28?method=put"
									>
									<input
										data-myft-csrf-token
										value=""
										type="hidden"
										name="token">		<div
										class="n-myft-ui__announcement o-normalise-visually-hidden"
										aria-live="assertive"
										data-pressed-text="Now following Chris Giles."
										data-unpressed-text="No longer following Chris Giles."
									></div>
									<button
											aria-label="Add Chris Giles to myFT"
											title="Add Chris Giles to myFT"
											data-alternate-label="Remove Chris Giles from myFT"
											aria-pressed="false"
													data-alternate-text="Added"
										class="
											n-myft-follow-button"
										data-concept-id="1d556016-ad16-4fe7-8724-42b3fb15ad28" 
										data-trackable="follow"
										type="submit">Add to myFT</button>
								</form>
						</li>
				</ul>
			</div>

	</div>
</article>