<div class="topper topper--split-text-center">
	<div class="topper__content" data-textbox-background="paper">
		<div class="topper__tags">
		
					<div class="topper__primary-theme">
									<a href="/how-to-lead" class="n-content-tag n-content-tag--medium n-content-tag--brand" data-trackable="primary-brand" aria-label="part of the How to Lead column">How to Lead</a>
								<a href="/work-careers" class="n-content-tag js-primary-theme  n-content-tag--with-follow " data-trackable="primary-theme" aria-label="posted in category Work &amp; Careers" data-concept-id="7ef5dd51-0ff2-4c7f-9ebb-4df5a301ef2a">Work &amp; Careers</a>
										<form
											class="n-myft-ui n-myft-ui--follow "
											method="GET"
											data-myft-ui="follow"
											data-concept-id="7ef5dd51-0ff2-4c7f-9ebb-4df5a301ef2a"
														action="/myft/add/7ef5dd51-0ff2-4c7f-9ebb-4df5a301ef2a"
														data-js-action="/__myft/api/core/followed/concept/7ef5dd51-0ff2-4c7f-9ebb-4df5a301ef2a?method=put"
											>
											<input
												data-myft-csrf-token
												value=""
												type="hidden"
												name="token">		<div
												class="n-myft-ui__announcement o-normalise-visually-hidden"
												aria-live="assertive"
												data-pressed-text="Now following Work &amp; Careers."
												data-unpressed-text="No longer following Work &amp; Careers."
											></div>
											<button
													aria-label="Add Work &amp; Careers to myFT"
													title="Add Work &amp; Careers to myFT"
													data-alternate-label="Remove Work &amp; Careers from myFT"
													aria-pressed="false"
															data-alternate-text="Added"
												class="
													n-myft-follow-button n-myft-follow-button--standard"
												data-concept-id="7ef5dd51-0ff2-4c7f-9ebb-4df5a301ef2a" 
												data-trackable="follow"
												type="submit">Add to myFT</button>
										</form>
					</div>
		
		</div>		
		<h1 class="topper__headline topper__headline--large" data-trackable="header">
			<span class="article-classifier__gap">Robert Zimmer: respecting tradition while overhauling an institution</span>
		</h1>
				<div class="topper__standfirst">The University of Chicago head finds ‘people who want to do things with you’</div>

	</div>

	<div class="topper__background" data-textbox-background="paper"></div>


			<figure class="topper__visual">
				<picture class="topper__picture">
						<source media="(max-width: 1440px)" srcset="https://www.ft.com/__origami/service/image/v2/images/raw/http://prod-upp-image-read.ft.com/d4e360fc-6f21-11e9-bf5c-6eeb837566c5?source=next&fit=scale-down&quality=highest&width=720 720w">
						
						
						<source media="(min-width: 1440px)" srcset="https://www.ft.com/__origami/service/image/v2/images/raw/http://prod-upp-image-read.ft.com/08c082f6-6f22-11e9-bf5c-6eeb837566c5?source=next&fit=scale-down&quality=highest&width=800 800w">
						
						
				
					<img alt="" class="topper__image" src="https://www.ft.com/__origami/service/image/v2/images/raw/http://prod-upp-image-read.ft.com/08c082f6-6f22-11e9-bf5c-6eeb837566c5?source=next&fit=scale-down&quality=highest&width=800">
				</picture>				<figcaption class="topper__image-credit">© Danielle A. Scruggs/FT</figcaption>
			</figure>
</div>
<article
		id="site-content"
		role="main"
		class="article article-grid"
		data-content-id="7c90e002-6b69-11e9-a9a5-351eeaef6d84"
		data-syndicatable="yes"
		data-access-level="subscribed"
>
	<div class="main-image">
	</div>
	{{> userTest/shareBar}}
	<div class="article__content " data-trackable="article-body">

		<div class="article-info">
			<div class="article-info__time-byline">
						<p class="article-info__byline"><a class="n-content-tag n-content-tag--author" href="/stream/b359c1e1-f7ed-4239-816c-1720f99df8b4" data-trackable="author">Andrew Jack</a></p>
		
					<time class="article-info__timestamp o-date" data-o-component="o-date" datetime="2019-05-05T04:00:24Z" data-o-date-js>
					May 5, 2019
					</time>
			</div>
		
			<a class="article-print"
				data-trackable="print"
				href="javascript:void(0)"
				onclick="window.print()"
			><span class="o-normalise-visually-hidden">Print this page</span></a>
				<a data-o-component="o-comment-count"
					data-o-comment-count-auto-init="false"
					data-o-comment-count-config-article-id="7c90e002-6b69-11e9-a9a5-351eeaef6d84"
					data-o-comment-count-config-template="{count}"
					data-o-comment-count-config-aria-label-template="There are {count} comments on this article. Write a comment."
					class="article-comment-count"
					data-trackable="view-comments"
					style="visibility: hidden;"
					href="#comments-anchor">
				</a>
		</div>
				<div class="ftlabsaudioplayerholder ftlabsaudioplayerholder--inactive n-ui-hide-core" data-trackable="ftlabs-audio-player">
					<div class="ftlabsaudiocontainer">
						<div class="ftlabsaudioplayer-feedback__label ftlabsaudioplayer-feedback__label--mobile">
							<span>Experimental feature</span>
						</div>
						<div class="ftlabsaudioplayerwrap">
							<h2>Listen to this article</h2>
							<div class="ftlabsaudioplayercontrols" data-trackable="controls">
								<button class="control control__play" data-trackable="play">Play audio for this article</button>
								<button class="control control__pause" disabled data-trackable="pause">Pause</button>
								<div class="audio-time">
									<span class="audio-time-text__current audio-time-text">00:00</span>
									<div class="audio-time-progress" role="slider" tabindex="0" aria-valuenow="0" aria-valuemin="0">
										<span class="audio-time-progress__background" aria-hidden="true"></span>
										<span class="audio-time-progress__fill" aria-hidden="true"></span>
										<span class="audio-time-progress__scrub" aria-hidden="true"></span>
									</div>
									<span class="audio-time-text__total audio-time-text">00:00</span>
								</div>
							</div>
						</div>
						<audio class="ftlabs-audio-player" aria-hidden="true"></audio>
				
					</div>
				
					<div class="ftlabsaudioplayer-feedback">
						<div class="ftlabsaudioplayer-feedback__label ftlabsaudioplayer-feedback__label--desktop">
							<span>Experimental feature</span>
						</div>
						<div class="ftlabsaudioplayer-feedback__components">
							<div class="js-feedback feedback ftlabs-audio-pronunciation-feedback">
								<p class="feedback__invitation">
									<a href="#" class="feedback__trigger js-ftlabs-audio-pronunciation-feedback__trigger" data-complete=".js-feedback__complete">Report a mispronounced word</a>
								</p>
							
								<div id="ftlabs-audio-pronunciation-feedback-target"></div>
							
								<div class="js-feedback__content">
									<div class="feedback-form">
										<div class="o-forms">
											<label for="ftlabs-audio-pronunciation-feedback__textarea" class="o-forms__label feedback__heading">
												What was mispronounced?
												<span class="feedback-form__subheading">Optional: help us by adding the time</span>
											</label>
											<textarea id="ftlabs-audio-pronunciation-feedback__textarea" class="o-forms__textarea feedback__input"></textarea>
										</div>
										<div class="o-forms feedback-form__submit">
											<button class="article-big-button js-feedback__responder" data-question="pronunciation_feedback" data-answer-selector="#ftlabs-audio-pronunciation-feedback__textarea">Submit</button>
										</div>
									</div>
									<div class="feedback__thankyou hidden-content">Thank you for your help!</div>
								</div>
							</div>		</div>
					</div>
				</div>
				{{> userTest/componentSecondIteration}}
		<div class="article__content-body n-content-body js-article__content-body">
			
				<p>Robert Zimmer&#x2019;s longstanding academic interests are abstract fields of mathematics, but as president of the University of Chicago, which has net assets of almost $9bn, he has taken some practical steps to overhaul higher education at one of the US&#x2019;s leading institutions.</p><p>Since taking the job in 2006, he has helped oversee significant evolutions which respect its past traditions and strengths including the vigorous defence of free speech and its liberal arts tradition, while pushing to widen access and engage with the local community and the wider world.</p><p>&#x201C;I knew the university and understood how powerful are its enduring values,&#x201D; he says. &#x201C;But it needed to be refreshed. It&#x2019;s very easy for a great institution to become comfortable and complacent.&#x201D;</p><div class="o-ads in-article-advert advert" data-o-ads-name="mpu" data-o-ads-center="true" data-o-ads-label="true" data-o-ads-targeting="pos=mid;" data-o-ads-formats-default="MediumRectangle,Responsive" data-o-ads-formats-small="MediumRectangle,Responsive" data-o-ads-formats-medium="MediumRectangle,Responsive" data-o-ads-formats-large="Responsive" data-o-ads-formats-extra="Responsive" aria-hidden="true"></div><p>Today he is focused on improving access for those from disadvantaged backgrounds. &#x201C;There are a lot of gratifying things about my job. But it&#x2019;s hard to beat the sense that you have helped change trajectory of someone by giving them opportunity no one thought they would have,&#x201D; he says.</p><p>&#x201C;The idea that talent sits in one group is just wrong,&#x201D; he adds, as he describes measures to encourage undergraduate admissions from those on lower incomes and other underprivileged backgrounds &#x2014; including a fresh focus on students from rural areas. &#x201C;We don&#x2019;t believe there is a trade-off with diversity.&#x201D;</p><p>One tactic has been to create a more supportive environment to encourage a more diverse intake. For Hispanic families, for example, that has meant putting them at ease by speaking Spanish to the parents of prospective candidates, often immigrants who have a poor command of English. It has launched summer courses to help familiarise and prepare students for study.</p><p>A second, bolder initiative launched last year was to go &#x201C;test-optional&#x201D;: to scrap the usual undergraduate application requirement for standardised test scores like the SATs. These are often criticised for favouring those from more privileged backgrounds, who have time to study and receive tutoring to gain high marks. &#x201C;They weren&#x2019;t adding anything and may have been discouraging applicants,&#x201D; he says.</p><p>Instead, Chicago uses essays, teacher recommendations and wider information on student achievements. Rather than relying on interviews by alumni &#x2014; who may recruit in their own image &#x2014; he has built up a team of admissions officers who develop links to schools which have not traditionally sent students to the university. &#x201C;When we put our mind to it, we have found the results very encouraging.&#x201D; Although, he concedes, &#x201C;maybe you have to work a little harder to find students.&#x201D;</p><p>Another new strategy was a fundraise in order to replace all loans for students with grants. Funds raised in future will also support &#x201C;need-blind&#x201D; applications from international students. </p><div class="o-ads in-article-advert advert" data-o-ads-name="second-mpu" data-o-ads-center="true" data-o-ads-label="true" data-o-ads-targeting="pos=mid1;" data-o-ads-formats-default="MediumRectangle,Responsive" data-o-ads-formats-small="MediumRectangle,Responsive" data-o-ads-formats-medium="false" data-o-ads-formats-large="false" data-o-ads-formats-extra="false" aria-hidden="true"></div><p>&#x201C;For the upper middle class, loans are part of how you manage your finances,&#x201D; he says. But he wanted to remove concern for others who find the prospect more daunting. &#x201C;I talked to a father who said he would send his child to somewhere less good because he was too nervous about debt.&#x201D;</p><p>Mr Zimmer nevertheless defends Chicago&#x2019;s &#x201C;full freight&#x201D; four-year undergraduate price of $250,000 as &#x201C;offering the best education at a high price.&#x201D; Its 6,000-strong undergraduate community receives a liberal arts education designed not to train them for a specific job but to &#x201C;expand students&#x2019; horizons and empower them for their whole life. We are not providing information transmission but teaching people how to think.&#x201D;</p><p>That includes vigorous protection of a culture of free speech, which he says is &#x201C;challenged&#x201D; in the US currently. &#x201C;The environment should be teaching people how to interact, give them the courage to be willing to challenge their own arguments without being fearful or offensive.&#x201D;</p><p>He expresses concern about the rising costs and underfunding of higher education in the US. He cites decreasing support for community colleges and state universities. &#x201C;State budgets have shifted away to funding health costs and pensions for government employees,&#x201D; he says. &#x201C;That&#x2019;s a redistribution from the young to the old. We need to find a way of prioritisation or rebalancing to the young.&#x201D;</p><p>He is also troubled by the US administration&#x2019;s hostility to immigration. &#x201C;We have students worrying if they go home, will they be able to come back? It creates stress and raises question marks over whether the US is the right place to come to study. I would like to see immigration policies that take account of our higher education&#x2019;s huge comparative advantage. The country should encourage an environment to attract the most talented and make it easy for them to stay.&#x201D;</p><p>Reflecting on achievements that include the creation of a molecular engineering institute, a China centre and partnerships with arts organisations and high schools in Chicago, he admits that fundraising is key. This has almost tripled during his tenure.</p><p>&#x201C;Universities almost by default never have enough money. But we have a great collection of alumni, friends and parents. When you have a strong idea, are organised and have done the work, you can get new reserves.&#x201D;</p><p>The biggest challenge is mobilising his own colleagues. &#x201C;Most university work takes place within faculties. You don&#x2019;t need consensus,&#x201D; he says. &#x201C;But you need a group of faculty who want to do something ambitious: you talk, find out what&#x2019;s possible and how ambitions fit together. You have to give them a lot of capacity and authority. Then you have to commit to going through with it.&#x201D;</p><p>Describing the reform process he has led, he stresses: &#x201C;Part of the art of the university president is dealing with balance. The academic community is special. There is so much distributed authority, but that should not deter you from being imaginative. You need to find people who want to do things with you.&#x201D;</p><div class="n-content-layout" data-layout-name="card" data-layout-width><div class="n-content-layout__container"><h2 class="n-content-heading-3">Three questions for Robert Zimmer</h2><div class="n-content-layout__slot" data-slot-width><p><strong>Who is your leadership hero? </strong></p><p>William Rainey Harper, the founding president of the University of Chicago, who with clarity of values and vision, and with unyielding determination, attracted outstanding scholars, scientists, and students, mobilised financial and civic support, and in an astonishingly short period of 15 years built, from nothing, one of the world&#x2019;s great universities.</p><p><strong>If you were not a leader, what would you be?</strong></p><p>I would be actively working on mathematics, a subject, after all these years, that I find to be of astonishing beauty, power, and profound intellectual challenge.</p><p><strong>First leadership lesson:</strong> A self-taught lesson: You can learn something from every conversation with every person.</p></div></div></div>
		
		
		</div>

			<div
				class="instant-alert-cta js-instant-alert-cta"
				data-concept-id="7ef5dd51-0ff2-4c7f-9ebb-4df5a301ef2a"
				data-trackable="instant-alert-cta">
				<p class="instant-alert-cta__text">
					Get alerts on Work &amp; Careers when a new story is published
				</p>
				<button
					class="instant-alert-cta__enable"
					data-concept-id="7ef5dd51-0ff2-4c7f-9ebb-4df5a301ef2a"
					data-trackable="enable">
					Get alerts
				</button>
			</div>	</div>


	<div class="article-tools  article-tools--with-reuse-button" data-trackable="article-tools">
	
		<footer class="n-content-copyright">
			<a href="http://help.ft.com/help/legal-privacy/copyright/copyright-policy/" data-trackable="link-copyright">Copyright</a>
			The Financial Times Limited 2019. <span class="n-content-copyright__rights">All rights reserved.</span>
		</footer>
		<div class="article-tools__buttons">
				<button
					class="article-tools__gift js-gift-article"
					data-trackable="email">
					Share this article
				</button>
				<a
					class="article-tools__reuse"
					data-trackable="reuse-content-button"
					target="_blank"
					href="https://enterprise.ft.com/en-gb/services/republishing/republish-content-request?ft-content-uuid=7c90e002-6b69-11e9-a9a5-351eeaef6d84"
				>
	
					Reuse this content<span class="o-normalise-visually-hidden"> (opens in new window)</span>
				</a>
		</div>
	
	</div>
		<div class="article__right">
					<div
						class="sidebar-advert sidebar-advert--no-responsive o-ads advert"
						data-o-ads-name="halfpage-desktop"
						data-o-ads-targeting="pos=mid;"
						data-o-ads-formats-default="false"
						data-o-ads-formats-small="false"
						data-o-ads-formats-medium="false"
						data-o-ads-formats-large="HalfPage,MediumRectangle"
						data-o-ads-formats-extra="HalfPage,MediumRectangle"
						aria-hidden="true">
					</div>


		</div>

		<div class="promoted-content__container">
			<h2 class="h2-promoted-content follow-tags__title" style="display:none">Promoted Content</h2>
			<div class="native-ad__fullwidth" ></div>
		</div>	
	<div class="js-topic-tracker-container" data-trackable="topic-tracker"></div>

		<div class="onward-journey onward-journey--simple js-onward-journey-simple"></div>
	
	<div class="comments-container">
		<div id="comments-anchor"></div>
		<div class="comments">
						<div class="comments__rum-indicator"></div>
						<div
							id="comments"
							data-trackable="comments"
							data-comments-js="//www.ft.com/__assets/hashed/article/3024b079/comments.js"
							data-comments-css="//www.ft.com/__assets/hashed/article/a77dfc01/comments.css"
							data-skeleton-enabled="true"
							class="article__comments o-comments n-ui-hide@print">
						</div>
		</div>
	</div>
	<div class="article__right-bottom">
		<!-- Second ad on the rhr -->
			<div
				class="bottom-advert o-ads advert"
				data-o-ads-name="bottom-ad"
				data-o-ads-targeting="pos=mid1;"
				data-o-ads-formats-default="false"
				data-o-ads-formats-small="false"
				data-o-ads-formats-medium="false"
				data-o-ads-formats-large="HalfPage,MediumRectangle,Responsive"
				data-o-ads-formats-extra="HalfPage,MediumRectangle,Responsive"
				aria-hidden="true">
			</div>

			<div
				class="concept-list"
				data-trackable="mentions">
					<h2 class="concept-list__title">
							Follow the topics in this article
					</h2>
				<ul class="concept-list__list">
						<li class="concept-list__list-item">
							<a
								href="/business-education"
								data-trackable="concept"
								class="concept-list__concept n-content-tag n-content-tag--author n-content-tag--with-follow">
								Business education
							</a>
								<form
									class="n-myft-ui n-myft-ui--follow "
									method="GET"
									data-myft-ui="follow"
									data-concept-id="27c3121b-a514-4305-9d40-560efd036b85"
												action="/myft/add/27c3121b-a514-4305-9d40-560efd036b85"
												data-js-action="/__myft/api/core/followed/concept/27c3121b-a514-4305-9d40-560efd036b85?method=put"
									>
									<input
										data-myft-csrf-token
										value=""
										type="hidden"
										name="token">		<div
										class="n-myft-ui__announcement o-normalise-visually-hidden"
										aria-live="assertive"
										data-pressed-text="Now following Business education."
										data-unpressed-text="No longer following Business education."
									></div>
									<button
											aria-label="Add Business education to myFT"
											title="Add Business education to myFT"
											data-alternate-label="Remove Business education from myFT"
											aria-pressed="false"
													data-alternate-text="Added"
										class="
											n-myft-follow-button"
										data-concept-id="27c3121b-a514-4305-9d40-560efd036b85" 
										data-trackable="follow"
										type="submit">Add to myFT</button>
								</form>
						</li>
						<li class="concept-list__list-item">
							<a
								href="/reports/business-turnrounds"
								data-trackable="concept"
								class="concept-list__concept n-content-tag n-content-tag--author n-content-tag--with-follow">
								Leadership
							</a>
								<form
									class="n-myft-ui n-myft-ui--follow "
									method="GET"
									data-myft-ui="follow"
									data-concept-id="e3581b2a-39b5-4df2-8608-184a6f9ef44a"
												action="/myft/add/e3581b2a-39b5-4df2-8608-184a6f9ef44a"
												data-js-action="/__myft/api/core/followed/concept/e3581b2a-39b5-4df2-8608-184a6f9ef44a?method=put"
									>
									<input
										data-myft-csrf-token
										value=""
										type="hidden"
										name="token">		<div
										class="n-myft-ui__announcement o-normalise-visually-hidden"
										aria-live="assertive"
										data-pressed-text="Now following Leadership."
										data-unpressed-text="No longer following Leadership."
									></div>
									<button
											aria-label="Add Leadership to myFT"
											title="Add Leadership to myFT"
											data-alternate-label="Remove Leadership from myFT"
											aria-pressed="false"
													data-alternate-text="Added"
										class="
											n-myft-follow-button"
										data-concept-id="e3581b2a-39b5-4df2-8608-184a6f9ef44a" 
										data-trackable="follow"
										type="submit">Add to myFT</button>
								</form>
						</li>
						<li class="concept-list__list-item">
							<a
								href="/reports/arab-education"
								data-trackable="concept"
								class="concept-list__concept n-content-tag n-content-tag--author n-content-tag--with-follow">
								Education
							</a>
								<form
									class="n-myft-ui n-myft-ui--follow "
									method="GET"
									data-myft-ui="follow"
									data-concept-id="d320c9d7-1638-4388-b667-a5d63bd4bbc2"
												action="/myft/add/d320c9d7-1638-4388-b667-a5d63bd4bbc2"
												data-js-action="/__myft/api/core/followed/concept/d320c9d7-1638-4388-b667-a5d63bd4bbc2?method=put"
									>
									<input
										data-myft-csrf-token
										value=""
										type="hidden"
										name="token">		<div
										class="n-myft-ui__announcement o-normalise-visually-hidden"
										aria-live="assertive"
										data-pressed-text="Now following Education."
										data-unpressed-text="No longer following Education."
									></div>
									<button
											aria-label="Add Education to myFT"
											title="Add Education to myFT"
											data-alternate-label="Remove Education from myFT"
											aria-pressed="false"
													data-alternate-text="Added"
										class="
											n-myft-follow-button"
										data-concept-id="d320c9d7-1638-4388-b667-a5d63bd4bbc2" 
										data-trackable="follow"
										type="submit">Add to myFT</button>
								</form>
						</li>
						<li class="concept-list__list-item">
							<a
								href="/work-careers"
								data-trackable="concept"
								class="concept-list__concept n-content-tag n-content-tag--author n-content-tag--with-follow">
								Work &amp; Careers
							</a>
								<form
									class="n-myft-ui n-myft-ui--follow "
									method="GET"
									data-myft-ui="follow"
									data-concept-id="7ef5dd51-0ff2-4c7f-9ebb-4df5a301ef2a"
												action="/myft/add/7ef5dd51-0ff2-4c7f-9ebb-4df5a301ef2a"
												data-js-action="/__myft/api/core/followed/concept/7ef5dd51-0ff2-4c7f-9ebb-4df5a301ef2a?method=put"
									>
									<input
										data-myft-csrf-token
										value=""
										type="hidden"
										name="token">		<div
										class="n-myft-ui__announcement o-normalise-visually-hidden"
										aria-live="assertive"
										data-pressed-text="Now following Work &amp; Careers."
										data-unpressed-text="No longer following Work &amp; Careers."
									></div>
									<button
											aria-label="Add Work &amp; Careers to myFT"
											title="Add Work &amp; Careers to myFT"
											data-alternate-label="Remove Work &amp; Careers from myFT"
											aria-pressed="false"
													data-alternate-text="Added"
										class="
											n-myft-follow-button"
										data-concept-id="7ef5dd51-0ff2-4c7f-9ebb-4df5a301ef2a" 
										data-trackable="follow"
										type="submit">Add to myFT</button>
								</form>
						</li>
						<li class="concept-list__list-item">
							<a
								href="/how-to-lead"
								data-trackable="concept"
								class="concept-list__concept n-content-tag n-content-tag--author n-content-tag--with-follow">
								How to Lead
							</a>
								<form
									class="n-myft-ui n-myft-ui--follow "
									method="GET"
									data-myft-ui="follow"
									data-concept-id="b57c0ddf-c4c9-4992-a0cb-c736bc7bb228"
												action="/myft/add/b57c0ddf-c4c9-4992-a0cb-c736bc7bb228"
												data-js-action="/__myft/api/core/followed/concept/b57c0ddf-c4c9-4992-a0cb-c736bc7bb228?method=put"
									>
									<input
										data-myft-csrf-token
										value=""
										type="hidden"
										name="token">		<div
										class="n-myft-ui__announcement o-normalise-visually-hidden"
										aria-live="assertive"
										data-pressed-text="Now following How to Lead."
										data-unpressed-text="No longer following How to Lead."
									></div>
									<button
											aria-label="Add How to Lead to myFT"
											title="Add How to Lead to myFT"
											data-alternate-label="Remove How to Lead from myFT"
											aria-pressed="false"
													data-alternate-text="Added"
										class="
											n-myft-follow-button"
										data-concept-id="b57c0ddf-c4c9-4992-a0cb-c736bc7bb228" 
										data-trackable="follow"
										type="submit">Add to myFT</button>
								</form>
						</li>
				</ul>
			</div>
	</div>
</article>