<header id="site-navigation" class="o-header o-header--simple" data-o-component="o-header" data-o-header--no-js="" tabindex="-1">
	<div class="o-header__row o-header__top" data-trackable="header-top">
		<div class="o-header__container">
			<div class="o-header__top-wrapper">
					<div class="o-header__top-column o-header__top-column--left">
						<a href="#o-header-drawer" class="o-header__top-link o-header__top-link--menu " aria-controls="o-header-drawer" title="Open drawer menu" aria-label="Open drawer menu" data-trackable="drawer-toggle">
							<span class="o-header__top-link-label">Menu</span>
						</a>
						<a href="#o-header-search-primary" class="o-header__top-link o-header__top-link--search " aria-controls="o-header-search-primary" title="Search" aria-label="Search" data-trackable="search-toggle">
							<span class="o-header__top-link-label">Search</span>
						</a>
					</div>
				<div class="o-header__top-column o-header__top-column--center">
					<a class="o-header__top-logo " data-trackable="logo" href="/" title="Go to Financial Times homepage">
						<span class="o-header__visually-hidden">Financial Times</span>
					</a>
				</div>
					<div class="o-header__top-column o-header__top-column--right">
						<span class="o-header__top-link--myft__container">
							<a class="o-header__top-link o-header__top-link--myft " href="/myft" data-trackable="my-ft" data-tour-stage="myFt" aria-label="My F T">
								<span class="o-header__visually-hidden">myFT</span>
							</a>
						</span>
					</div>
			</div>
		</div>
	</div>		
	<div id="o-header-search-primary" class="o-header__row o-header__search o-header__search--primary" data-trackable="header-search" data-o-header-search="">
		<div class="o-header__container">
			<form class="o-header__search-form" action="/search" role="search" aria-label="Site search" data-n-topic-search="" data-n-topic-search-categories="concepts,equities" data-n-topic-search-view-all="">
				<label class="o-header__visually-hidden" for="o-header-search-term-primary">Search the <abbr title="Financial Times">FT</abbr></label>
				<input class="o-header__search-term" id="o-header-search-term-primary" name="q" type="text" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" data-trackable="search-term" placeholder="Search the FT" data-n-topic-search-input="">
				<button class="o-header__search-submit" type="submit" data-trackable="search-submit">
					Search
				</button>
				<button class="o-header__search-close o--if-js" type="button" aria-controls="o-header-search-primary" title="Close search bar" data-trackable="close">
					<span class="o-header__visually-hidden">Close</span>
				</button>
			</form>
		</div>
	</div>		
	<nav id="o-header-nav-desktop" class="o-header__row o-header__nav o-header__nav--desktop" role="navigation" aria-label="Primary navigation" data-trackable="header-nav:desktop">
		<div class="o-header__container">
			<ul class="o-header__nav-list o-header__nav-list--left" data-trackable="primary-nav">
				<li class="o-header__nav-item">
					<a class="o-header__nav-link o-header__nav-link--primary o-header-nav__list-link--highlight" href="/" id="o-header-link-0" data-trackable="Home">Home</a>
				</li>
				<li class="o-header__nav-item">
					<a class="o-header__nav-link o-header__nav-link--primary o-header-nav__list-link--highlight" href="/world" id="o-header-link-1" data-trackable="World">World</a>
					<div class="o-header__mega" id="o-header-mega-1" role="group" aria-labelledby="o-header-link-1" data-o-header-mega="" data-trackable="meganav | ">
						<div class="o-header__container">
							<div class="o-header__mega-wrapper">
							<div class="o-header__mega-column o-header__mega-column--subsections" data-trackable="sections">
							<div class="o-header__mega-heading">Sections</div>
							<div class="o-header__mega-content">
								<ul class="o-header__mega-list">
											<li class="o-header__mega-item">
												<a class="o-header__mega-link" href="/world" data-trackable="link">
													World Home
												</a>
											</li>
											<li class="o-header__mega-item">
												<a class="o-header__mega-link" href="/global-economy" data-trackable="link">
													Global Economy
												</a>
											</li>
											<li class="o-header__mega-item">
												<a class="o-header__mega-link" href="/world/uk" data-trackable="link">
													UK
												</a>
											</li>
											<li class="o-header__mega-item">
												<a class="o-header__mega-link" href="/world/us" data-trackable="link">
													US
												</a>
											</li>
											<li class="o-header__mega-item">
												<a class="o-header__mega-link" href="/world/asia-pacific/china" data-trackable="link">
													China
												</a>
											</li>
											<li class="o-header__mega-item">
												<a class="o-header__mega-link" href="/world/africa" data-trackable="link">
													Africa
												</a>
											</li>
											<li class="o-header__mega-item">
												<a class="o-header__mega-link" href="/world/asia-pacific" data-trackable="link">
													Asia Pacific
												</a>
											</li>
											<li class="o-header__mega-item">
												<a class="o-header__mega-link" href="/emerging-markets" data-trackable="link">
													Emerging Markets
												</a>
											</li>
											<li class="o-header__mega-item">
												<a class="o-header__mega-link" href="/world/europe" data-trackable="link">
													Europe
												</a>
											</li>
											<li class="o-header__mega-item">
												<a class="o-header__mega-link" href="/world/americas" data-trackable="link">
													Americas
												</a>
											</li>
											<li class="o-header__mega-item">
												<a class="o-header__mega-link" href="/world/mideast" data-trackable="link">
													Middle East and North Africa
												</a>
											</li>
								</ul>
							</div>
						</div>
							<div class="o-header__mega-column o-header__mega-column--articles" data-trackable="popular">
						<div class="o-header__mega-heading">Most Read</div>
						<div class="o-header__mega-content">
							<ul class="o-header__mega-list">
								<li class="o-header__mega-item">
									<a class="o-header__mega-link" href="/content/3924a7ac-5559-11e9-a3db-1fe89bedc16e" data-trackable="link">
										EU draws up strict conditions for long Brexit extension offer&nbsp;
									</a>
								</li>
								<li class="o-header__mega-item">
									<a class="o-header__mega-link" href="/content/ecadf298-5553-11e9-a3db-1fe89bedc16e" data-trackable="link">
										Theresa May deals triple blow to Tory hardliners
									</a>
								</li>
								<li class="o-header__mega-item">
									<a class="o-header__mega-link" href="/content/d6ac5082-5582-11e9-91f9-b6515a54c5b1" data-trackable="link">
										US and China draw closer to final trade agreement
									</a>
								</li>
								<li class="o-header__mega-item">
									<a class="o-header__mega-link" href="/content/533d1e54-55e9-11e9-a3db-1fe89bedc16e" data-trackable="link">
										Theresa May blames hardline anti-EU Tories for Brexit deadlock
									</a>
								</li>
								<li class="o-header__mega-item">
									<a class="o-header__mega-link" href="/content/48bed188-5518-11e9-91f9-b6515a54c5b1" data-trackable="link">
										UK cabinet in crisis talks over Brexit deadlock
									</a>
								</li>
							</ul>
						</div>
					</div>
							</div>
						</div>
					</div>
				</li>
				<li class="o-header__nav-item">
					<a class="o-header__nav-link o-header__nav-link--primary o-header-nav__list-link--highlight" href="/world/uk" id="o-header-link-2" data-trackable="UK">UK</a>
					<div class="o-header__mega" id="o-header-mega-2" role="group" aria-labelledby="o-header-link-2" data-o-header-mega="" data-trackable="meganav | ">
						<div class="o-header__container">
							<div class="o-header__mega-wrapper">
							<div class="o-header__mega-column o-header__mega-column--subsections" data-trackable="sections">
							<div class="o-header__mega-heading">Sections</div>
							<div class="o-header__mega-content">
								<ul class="o-header__mega-list">
											<li class="o-header__mega-item">
												<a class="o-header__mega-link" href="/world/uk" data-trackable="link">
													UK Home
												</a>
											</li>
											<li class="o-header__mega-item">
												<a class="o-header__mega-link" href="/uk-business-economy" data-trackable="link">
													UK Business &amp; Economy
												</a>
											</li>
											<li class="o-header__mega-item">
												<a class="o-header__mega-link" href="/world/uk/politics" data-trackable="link">
													UK Politics &amp; Policy
												</a>
											</li>
											<li class="o-header__mega-item">
												<a class="o-header__mega-link" href="/companies/uk" data-trackable="link">
													UK Companies
												</a>
											</li>
								</ul>
							</div>
						</div>
							<div class="o-header__mega-column o-header__mega-column--articles" data-trackable="popular">
						<div class="o-header__mega-heading">Most Read</div>
						<div class="o-header__mega-content">
							<ul class="o-header__mega-list">
								<li class="o-header__mega-item">
									<a class="o-header__mega-link" href="/content/533d1e54-55e9-11e9-a3db-1fe89bedc16e" data-trackable="link">
										Theresa May blames hardline anti-EU Tories for Brexit deadlock
									</a>
								</li>
								<li class="o-header__mega-item">
									<a class="o-header__mega-link" href="/content/48bed188-5518-11e9-91f9-b6515a54c5b1" data-trackable="link">
										UK cabinet in crisis talks over Brexit deadlock
									</a>
								</li>
								<li class="o-header__mega-item">
									<a class="o-header__mega-link" href="/content/ae35a128-5576-11e9-91f9-b6515a54c5b1" data-trackable="link">
										A guide to how Theresa May’s Brexit gambit could unfold
									</a>
								</li>
								<li class="o-header__mega-item">
									<a class="o-header__mega-link" href="/content/1add9e6a-549c-11e9-a3db-1fe89bedc16e" data-trackable="link">
										Nuclear submarine costs threaten to swamp MoD
									</a>
								</li>
								<li class="o-header__mega-item">
									<a class="o-header__mega-link" href="/content/c1bad55e-555a-11e9-91f9-b6515a54c5b1" data-trackable="link">
										Whitehall chief issues dire warning on impact of no deal
									</a>
								</li>
							</ul>
						</div>
					</div>
							</div>
						</div>
					</div>
				</li>
				<li class="o-header__nav-item">
					<a class="o-header__nav-link o-header__nav-link--primary o-header-nav__list-link--highlight" href="/companies" id="o-header-link-3" data-trackable="Companies">Companies</a>
					<div class="o-header__mega" id="o-header-mega-3" role="group" aria-labelledby="o-header-link-3" data-o-header-mega="" data-trackable="meganav | ">
						<div class="o-header__container">
							<div class="o-header__mega-wrapper">
							<div class="o-header__mega-column o-header__mega-column--subsections" data-trackable="sections">
							<div class="o-header__mega-heading">Sections</div>
							<div class="o-header__mega-content">
								<ul class="o-header__mega-list">
											<li class="o-header__mega-item">
												<a class="o-header__mega-link" href="/companies" data-trackable="link">
													Companies Home
												</a>
											</li>
											<li class="o-header__mega-item">
												<a class="o-header__mega-link" href="/companies/energy" data-trackable="link">
													Energy
												</a>
											</li>
											<li class="o-header__mega-item">
												<a class="o-header__mega-link" href="/companies/financials" data-trackable="link">
													Financials
												</a>
											</li>
											<li class="o-header__mega-item">
												<a class="o-header__mega-link" href="/companies/health" data-trackable="link">
													Health
												</a>
											</li>
											<li class="o-header__mega-item">
												<a class="o-header__mega-link" href="/companies/industrials" data-trackable="link">
													Industrials
												</a>
											</li>
											<li class="o-header__mega-item">
												<a class="o-header__mega-link" href="/companies/media" data-trackable="link">
													Media
												</a>
											</li>
											<li class="o-header__mega-item">
												<a class="o-header__mega-link" href="/companies/professional-services" data-trackable="link">
													Professional Services
												</a>
											</li>
											<li class="o-header__mega-item">
												<a class="o-header__mega-link" href="/companies/retail-consumer" data-trackable="link">
													Retail &amp; Consumer
												</a>
											</li>
											<li class="o-header__mega-item">
												<a class="o-header__mega-link" href="/companies/technology" data-trackable="link">
													Tech Sector
												</a>
											</li>
											<li class="o-header__mega-item">
												<a class="o-header__mega-link" href="/companies/telecoms" data-trackable="link">
													Telecoms
												</a>
											</li>
											<li class="o-header__mega-item">
												<a class="o-header__mega-link" href="/companies/transport" data-trackable="link">
													Transport
												</a>
											</li>
								</ul>
							</div>
						</div>
							<div class="o-header__mega-column o-header__mega-column--articles" data-trackable="popular">
						<div class="o-header__mega-heading">Most Read</div>
						<div class="o-header__mega-content">
							<ul class="o-header__mega-list">
								<li class="o-header__mega-item">
									<a class="o-header__mega-link" href="/content/0a541f6c-5544-11e9-a3db-1fe89bedc16e" data-trackable="link">
										City of London approves plan for ‘Tulip’ viewing tower
									</a>
								</li>
								<li class="o-header__mega-item">
									<a class="o-header__mega-link" href="/content/32544822-5547-11e9-91f9-b6515a54c5b1" data-trackable="link">
										Shell to quit US oil lobby group over climate change clash
									</a>
								</li>
								<li class="o-header__mega-item">
									<a class="o-header__mega-link" href="/content/232dad00-54b8-11e9-a3db-1fe89bedc16e" data-trackable="link">
										Product chief of Goldman Sachs consumer unit Marcus quits
									</a>
								</li>
								<li class="o-header__mega-item">
									<a class="o-header__mega-link" href="/content/6eb3d8ca-556d-11e9-91f9-b6515a54c5b1" data-trackable="link">
										Santander seeks extra €1.2bn in cost cuts to hit ‘ambitious’ target
									</a>
								</li>
								<li class="o-header__mega-item">
									<a class="o-header__mega-link" href="/content/2a5f7788-5545-11e9-a3db-1fe89bedc16e" data-trackable="link">
										The mystery of Carlos Ghosn’s downfall
									</a>
								</li>
							</ul>
						</div>
					</div>
							</div>
						</div>
					</div>
				</li>
				<li class="o-header__nav-item">
					<a class="o-header__nav-link o-header__nav-link--primary o-header-nav__list-link--highlight" href="/technology" id="o-header-link-4" data-trackable="Tech">Tech</a>
				</li>
				<li class="o-header__nav-item">
					<a class="o-header__nav-link o-header__nav-link--primary o-header-nav__list-link--highlight" href="/markets" id="o-header-link-5" data-trackable="Markets">Markets</a>
					<div class="o-header__mega" id="o-header-mega-5" role="group" aria-labelledby="o-header-link-5" data-o-header-mega="" data-trackable="meganav | ">
						<div class="o-header__container">
							<div class="o-header__mega-wrapper">
							<div class="o-header__mega-column o-header__mega-column--subsections" data-trackable="sections">
							<div class="o-header__mega-heading">Sections</div>
							<div class="o-header__mega-content">
								<ul class="o-header__mega-list">
											<li class="o-header__mega-item">
												<a class="o-header__mega-link" href="/markets" data-trackable="link">
													Markets Home
												</a>
											</li>
											<li class="o-header__mega-item">
												<a class="o-header__mega-link" href="/fastft" data-trackable="link">
													fastFT
												</a>
											</li>
											<li class="o-header__mega-item">
												<a class="o-header__mega-link" href="https://ftalphaville.ft.com" data-trackable="link">
													Alphaville
												</a>
											</li>
											<li class="o-header__mega-item">
												<a class="o-header__mega-link" href="https://markets.ft.com/data" data-trackable="link">
													Markets Data
												</a>
											</li>
											<li class="o-header__mega-item">
												<a class="o-header__mega-link" href="/capital-markets" data-trackable="link">
													Capital Markets
												</a>
											</li>
											<li class="o-header__mega-item">
												<a class="o-header__mega-link" href="/commodities" data-trackable="link">
													Commodities
												</a>
											</li>
											<li class="o-header__mega-item">
												<a class="o-header__mega-link" href="/currencies" data-trackable="link">
													Currencies
												</a>
											</li>
											<li class="o-header__mega-item">
												<a class="o-header__mega-link" href="/equities" data-trackable="link">
													Equities
												</a>
											</li>
											<li class="o-header__mega-item">
												<a class="o-header__mega-link" href="/fund-management" data-trackable="link">
													Fund Management
												</a>
											</li>
											<li class="o-header__mega-item">
												<a class="o-header__mega-link" href="/ft-trading-room" data-trackable="link">
													Trading
												</a>
											</li>
								</ul>
							</div>
						</div>
							<div class="o-header__mega-column o-header__mega-column--articles" data-trackable="popular">
						<div class="o-header__mega-heading">Most Read</div>
						<div class="o-header__mega-content">
							<ul class="o-header__mega-list">
								<li class="o-header__mega-item">
									<a class="o-header__mega-link" href="/content/d6ac5082-5582-11e9-91f9-b6515a54c5b1" data-trackable="link">
										US and China draw closer to final trade agreement
									</a>
								</li>
								<li class="o-header__mega-item">
									<a class="o-header__mega-link" href="/content/3d819e4c-553e-11e9-91f9-b6515a54c5b1" data-trackable="link">
										Bitcoin’s short rally leaves fans confused
									</a>
								</li>
								<li class="o-header__mega-item">
									<a class="o-header__mega-link" href="/content/6464a686-4f0c-11e9-b401-8d9ef1626294" data-trackable="link">
										Mauricio Macri’s ‘whatever it takes’ move fails to stem peso slide
									</a>
								</li>
								<li class="o-header__mega-item">
									<a class="o-header__mega-link" href="/content/14b5a818-5553-11e9-91f9-b6515a54c5b1" data-trackable="link">
										FirstFT: Today’s top stories
									</a>
								</li>
								<li class="o-header__mega-item">
									<a class="o-header__mega-link" href="/content/bbff7d6a-5521-11e9-8b71-f5b0066105fe" data-trackable="link">
										Break up the Big Four and make them focus on prudence
									</a>
								</li>
							</ul>
						</div>
					</div>
							</div>
						</div>
					</div>
				</li>
				<li class="o-header__nav-item">
					<a class="o-header__nav-link o-header__nav-link--primary o-header-nav__list-link--highlight" href="/graphics" id="o-header-link-6" data-trackable="Graphics">Graphics</a>
				</li>
				<li class="o-header__nav-item">
					<a class="o-header__nav-link o-header__nav-link--primary o-header-nav__list-link--highlight" href="/opinion" id="o-header-link-7" data-trackable="Opinion">Opinion</a>
					<div class="o-header__mega" id="o-header-mega-7" role="group" aria-labelledby="o-header-link-7" data-o-header-mega="" data-trackable="meganav | ">
						<div class="o-header__container">
							<div class="o-header__mega-wrapper">
							<div class="o-header__mega-column o-header__mega-column--subsections" data-trackable="sections">
							<div class="o-header__mega-heading">Sections</div>
							<div class="o-header__mega-content">
								<ul class="o-header__mega-list">
											<li class="o-header__mega-item">
												<a class="o-header__mega-link" href="/opinion" data-trackable="link">
													Opinion Home
												</a>
											</li>
											<li class="o-header__mega-item">
												<a class="o-header__mega-link" href="/columnists" data-trackable="link">
													Columnists
												</a>
											</li>
											<li class="o-header__mega-item">
												<a class="o-header__mega-link" href="/ft-view" data-trackable="link">
													The FT View
												</a>
											</li>
											<li class="o-header__mega-item">
												<a class="o-header__mega-link" href="/the-big-read" data-trackable="link">
													The Big Read
												</a>
											</li>
											<li class="o-header__mega-item">
												<a class="o-header__mega-link" href="/instant-insight" data-trackable="link">
													Instant Insight
												</a>
											</li>
											<li class="o-header__mega-item">
												<a class="o-header__mega-link" href="/lex" data-trackable="link">
													Lex
												</a>
											</li>
											<li class="o-header__mega-item">
												<a class="o-header__mega-link" href="https://ftalphaville.ft.com" data-trackable="link">
													Alphaville
												</a>
											</li>
											<li class="o-header__mega-item">
												<a class="o-header__mega-link" href="/obituaries" data-trackable="link">
													Obituaries
												</a>
											</li>
											<li class="o-header__mega-item">
												<a class="o-header__mega-link" href="/letters" data-trackable="link">
													Letters
												</a>
											</li>
								</ul>
							</div>
						</div>
							<div class="o-header__mega-column o-header__mega-column--articles" data-trackable="popular">
						<div class="o-header__mega-heading">Most Read</div>
						<div class="o-header__mega-content">
							<ul class="o-header__mega-list">
								<li class="o-header__mega-item">
									<a class="o-header__mega-link" href="/content/4bad9a24-556c-11e9-91f9-b6515a54c5b1" data-trackable="link">
										Theresa May’s Brexit gambit hands initiative to Corbyn
									</a>
								</li>
								<li class="o-header__mega-item">
									<a class="o-header__mega-link" href="/content/6eb3670c-552f-11e9-91f9-b6515a54c5b1" data-trackable="link">
										The UK is now in the worst possible Brexit predicament
									</a>
								</li>
								<li class="o-header__mega-item">
									<a class="o-header__mega-link" href="/content/37ac5f08-5529-11e9-91f9-b6515a54c5b1" data-trackable="link">
										The Chinese economy is stabilising
									</a>
								</li>
								<li class="o-header__mega-item">
									<a class="o-header__mega-link" href="/content/6a14385a-5536-11e9-91f9-b6515a54c5b1" data-trackable="link">
										Brexit despair takes me back to Tony Blair
									</a>
								</li>
								<li class="o-header__mega-item">
									<a class="o-header__mega-link" href="/content/d2c905d8-5473-11e9-91f9-b6515a54c5b1" data-trackable="link">
										Makers of self-driving cars should study Boeing crashes
									</a>
								</li>
							</ul>
						</div>
					</div>
							</div>
						</div>
					</div>
				</li>
				<li class="o-header__nav-item">
					<a class="o-header__nav-link o-header__nav-link--primary o-header-nav__list-link--highlight" href="/work-careers" id="o-header-link-8" data-trackable="Work &amp; Careers">Work &amp; Careers</a>
					<div class="o-header__mega" id="o-header-mega-8" role="group" aria-labelledby="o-header-link-8" data-o-header-mega="" data-trackable="meganav | ">
						<div class="o-header__container">
							<div class="o-header__mega-wrapper">
							<div class="o-header__mega-column o-header__mega-column--subsections" data-trackable="sections">
							<div class="o-header__mega-heading">Sections</div>
							<div class="o-header__mega-content">
								<ul class="o-header__mega-list">
											<li class="o-header__mega-item">
												<a class="o-header__mega-link" href="/work-careers" data-trackable="link">
													Work &amp; Careers Home
												</a>
											</li>
											<li class="o-header__mega-item">
												<a class="o-header__mega-link" href="http://rankings.ft.com/businessschoolrankings/rankings" data-trackable="link">
													Business School Rankings
												</a>
											</li>
											<li class="o-header__mega-item">
												<a class="o-header__mega-link" href="/business-education" data-trackable="link">
													Business Education
												</a>
											</li>
											<li class="o-header__mega-item">
												<a class="o-header__mega-link" href="/entrepreneurship" data-trackable="link">
													Entrepreneurship
												</a>
											</li>
											<li class="o-header__mega-item">
												<a class="o-header__mega-link" href="/recruitment" data-trackable="link">
													Recruitment
												</a>
											</li>
											<li class="o-header__mega-item">
												<a class="o-header__mega-link" href="/business-books" data-trackable="link">
													Business Books
												</a>
											</li>
								</ul>
							</div>
						</div>
							<div class="o-header__mega-column o-header__mega-column--articles" data-trackable="popular">
						<div class="o-header__mega-heading">Most Read</div>
						<div class="o-header__mega-content">
							<ul class="o-header__mega-list">
								<li class="o-header__mega-item">
									<a class="o-header__mega-link" href="/content/51965bec-4fea-11e9-b401-8d9ef1626294" data-trackable="link">
										How to prioritise your to-do list in the fog of competing demands
									</a>
								</li>
								<li class="o-header__mega-item">
									<a class="o-header__mega-link" href="/content/24ecb1b2-4c03-11e9-bbc9-6917dce3dc62" data-trackable="link">
										Bill Gates: Mobilising political leaders and donors
									</a>
								</li>
								<li class="o-header__mega-item">
									<a class="o-header__mega-link" href="/content/4bc446ca-4fa9-11e9-b401-8d9ef1626294" data-trackable="link">
										‘Fauxmenists? Yes, I am familiar with that term’
									</a>
								</li>
								<li class="o-header__mega-item">
									<a class="o-header__mega-link" href="/content/862dcc44-4ccc-11e9-bde6-79eaea5acb64" data-trackable="link">
										How freelancers are fighting for their pay
									</a>
								</li>
								<li class="o-header__mega-item">
									<a class="o-header__mega-link" href="/content/9c2ee436-4cce-11e9-bde6-79eaea5acb64" data-trackable="link">
										The quest for a better toothbrush
									</a>
								</li>
							</ul>
						</div>
					</div>
							</div>
						</div>
					</div>
				</li>
				<li class="o-header__nav-item">
					<a class="o-header__nav-link o-header__nav-link--primary o-header-nav__list-link--highlight" href="/life-arts" id="o-header-link-9" data-trackable="Life &amp; Arts">Life &amp; Arts</a>
					<div class="o-header__mega" id="o-header-mega-9" role="group" aria-labelledby="o-header-link-9" data-o-header-mega="" data-trackable="meganav | ">
						<div class="o-header__container">
							<div class="o-header__mega-wrapper">
							<div class="o-header__mega-column o-header__mega-column--subsections" data-trackable="sections">
							<div class="o-header__mega-heading">Sections</div>
							<div class="o-header__mega-content">
								<ul class="o-header__mega-list">
											<li class="o-header__mega-item">
												<a class="o-header__mega-link" href="/life-arts" data-trackable="link">
													Life &amp; Arts Home
												</a>
											</li>
											<li class="o-header__mega-item">
												<a class="o-header__mega-link" href="/arts" data-trackable="link">
													Arts
												</a>
											</li>
											<li class="o-header__mega-item">
												<a class="o-header__mega-link" href="/books" data-trackable="link">
													Books
												</a>
											</li>
											<li class="o-header__mega-item">
												<a class="o-header__mega-link" href="/food-drink" data-trackable="link">
													Food &amp; Drink
												</a>
											</li>
											<li class="o-header__mega-item">
												<a class="o-header__mega-link" href="/magazine" data-trackable="link">
													FT Magazine
												</a>
											</li>
											<li class="o-header__mega-item">
												<a class="o-header__mega-link" href="/house-home" data-trackable="link">
													House &amp; Home
												</a>
											</li>
											<li class="o-header__mega-item">
												<a class="o-header__mega-link" href="/next-act" data-trackable="link">
													Next Act
												</a>
											</li>
											<li class="o-header__mega-item">
												<a class="o-header__mega-link" href="/style" data-trackable="link">
													Style
												</a>
											</li>
											<li class="o-header__mega-item">
												<a class="o-header__mega-link" href="/travel" data-trackable="link">
													Travel
												</a>
											</li>
								</ul>
							</div>
						</div>
						<div class="o-header__mega-column o-header__mega-column--articles" data-trackable="popular">
						<div class="o-header__mega-heading">Most Read</div>
						<div class="o-header__mega-content">
							<ul class="o-header__mega-list">
								<li class="o-header__mega-item">
									<a class="o-header__mega-link" href="/content/3d182c5c-521c-11e9-9c76-bf4a0ce37d49" data-trackable="link">
										Should I tell HMRC about my house in Greece?
									</a>
								</li>
								<li class="o-header__mega-item">
									<a class="o-header__mega-link" href="/content/29278318-554c-11e9-91f9-b6515a54c5b1" data-trackable="link">
										Cuts to UK pension tax breaks drive NHS doctors to retire early
									</a>
								</li>
								<li class="o-header__mega-item">
									<a class="o-header__mega-link" href="/content/e45896c4-522a-11e9-9c76-bf4a0ce37d49" data-trackable="link">
										New York home buyers shun the Gatsby lifestyle
									</a>
								</li>
								<li class="o-header__mega-item">
									<a class="o-header__mega-link" href="/content/2867034e-5566-11e9-a3db-1fe89bedc16e" data-trackable="link">
										Trying to hide something?
									</a>
								</li>
								<li class="o-header__mega-item">
									<a class="o-header__mega-link" href="/content/7d47be7e-4efb-11e9-b401-8d9ef1626294" data-trackable="link">
										Editing in an age of outrage
									</a>
								</li>
							</ul>
						</div>
					</div>
							</div>
						</div>
					</div>
				</li>
				<li class="o-header__nav-item">
					<a class="o-header__nav-link o-header__nav-link--primary o-header-nav__list-link--highlight" href="https://howtospendit.ft.com/" id="o-header-link-10" data-trackable="How to Spend It">How to Spend It</a>
				</li>
			</ul>
			<ul class="o-header__nav-list o-header__nav-list--right" data-trackable="user-nav">
				<li class="o-header__nav-item">
					<a class="o-header__nav-link" href="https://markets.ft.com/data/portfolio/dashboard" data-trackable="Portfolio">Portfolio</a>
				</li>
				<li class="o-header__nav-item">
					<a class="o-header__nav-link" href="https://myaccount.ft.com/details/core/view" data-trackable="Account Settings">Account Settings</a>
				</li>
			</ul>
		</div>
	</nav>
</header>