<div class="o-share-wrapper" data-trackable="share | top">
    <div data-o-component="o-share" data-o-share-article class="o-share js-sticky-sidebar">
        <ul data-toolbar="share">
            <li class="o-share__action" data-share="twitter">
                <a class="o-share__icon o-share__icon--twitter" rel="noopener"
                    href="https://twitter.com/intent/tweet?url=https%3A%2F%2Fwww.ft.com%2Fcontent%2F8479c9e0-39ce-11e9-b856-5404d3811663&amp;text=Parliament%20should%20use%20a%20delay%20to%20rethink%20Brexit&amp;via=financialtimes"
                    data-trackable="twitter"><span class="o-share__text">Share on Twitter (opens new
                        window)</span></a>
            </li>
            <li class="o-share__action" data-share="facebook">
                <a class="o-share__icon o-share__icon--facebook" rel="noopener"
                    href="http://www.facebook.com/sharer.php?u=https%3A%2F%2Fwww.ft.com%2Fcontent%2F8479c9e0-39ce-11e9-b856-5404d3811663&amp;t=Parliament%20should%20use%20a%20delay%20to%20rethink%20Brexit"
                    data-trackable="facebook"><span class="o-share__text">Share on Facebook (opens new
                        window)</span></a>
            </li>
            <li class="o-share__action" data-share="linkedin">
                <a class="o-share__icon o-share__icon--linkedin" rel="noopener"
                    href="http://www.linkedin.com/shareArticle?mini=true&amp;url=https%3A%2F%2Fwww.ft.com%2Fcontent%2F8479c9e0-39ce-11e9-b856-5404d3811663&amp;title=Parliament%20should%20use%20a%20delay%20to%20rethink%20Brexit&amp;source=Financial+Times"
                    data-trackable="linkedin"><span class="o-share__text">Share on LinkedIn (opens new
                        window)</span></a>
            </li>
            <li class="o-share__action o-share__action--whatsapp" data-share="whatsapp">
                <a class="o-share__icon o-share__icon--whatsapp" rel="noopener"
                    href="whatsapp://send?text=Parliament%20should%20use%20a%20delay%20to%20rethink%20Brexit%20-%20https%3A%2F%2Fwww.ft.com%2Fcontent%2F8479c9e0-39ce-11e9-b856-5404d3811663"
                    data-trackable="whatsapp"><span class="o-share__text">Share on Whatsapp (opens new
                        window)</span></a>
            </li>

            <li class="o-share__action o-share__action--with-text o-share__action--share">
                <button class="o-share__icon o-share__icon--share js-gift-article" data-trackable="email">
                    <span>Share</span>
                </button>
            </li>


            <li class="o-share__action o-share__action--with-text o-share__action--save">
                <form class="n-myft-ui n-myft-ui--save" method="GET"
                    data-content-id="8479c9e0-39ce-11e9-b856-5404d3811663" data-myft-ui="saved"
                    action="/myft/save/8479c9e0-39ce-11e9-b856-5404d3811663"
                    data-js-action="/__myft/api/core/saved/content/8479c9e0-39ce-11e9-b856-5404d3811663?method=put">
                    <input data-myft-csrf-token value="" type="hidden" name="token"> <button type="submit"
                        class="n-myft-ui__save-button-with-icon" data-trackable="save-for-later"
                        data-alternate-label="Saved to myFT" aria-pressed="false"
                        data-text-variant="save-button-with-icon-copy" data-alternate-text="Saved "
                        data-content-id="8479c9e0-39ce-11e9-b856-5404d3811663"
                        aria-label="Save Parliament should use a delay to rethink Brexit to myFT for later"
                        title="Save Parliament should use a delay to rethink Brexit to myFT for later">
                        <span class="save-button-with-icon-copy" data-variant-label>Save</span>
                    </button>
                </form>
                <span class="o-share__text">Save to myFT</span>
            </li>
            <li class="o-share__action o-share__action--with-text">
                <button
                    class="o-share__icon o-share__icon--share js-gift-article o-overlay-trigger o-buttons o-buttons--big"
                    data-o-overlay-id="overlay" data-o-overlay-src="#overlay"
                    data-o-overlay-heading-title="We&apos;re not having trouble updating"
                    data-o-overlay-heading-shaded="false" data-o-overlay-modal="true"
                    data-o-overlay-preventclosing="false" data-o-overlay-zindex="20" aria-pressed="false"
                    aria-haspopup="true" data-trackable="email">
                    <span>Tra</span>
                </button>
            </li>
        </ul>
    </div>
</div>