<div class="ftlabs-translation__test-warning">
    <div class="o-message o-message--alert  o-message--neutral" data-o-component="o-message">
        <div class="o-message__container">
            <div class="o-message__content ">
                <p class="o-message__content-main">
                    This is a sample page demonstrating a translated article and does not offer other functionalities of
                    FT.com
                </p>
            </div>
        </div>
    </div>
</div>