<!DOCTYPE html>
<html>
	<head>
		<title>FT Labs Translation dashboard</title>
		<link rel="stylesheet" href="https://build.origami.ft.com/v2/bundles/css?modules=o-fonts@^3.0.4,o-buttons@^5.10.3,o-forms@^5.2.4,o-table@^6.7.0" />
		<link rel="stylesheet" type="text/css" href="client/css/main.css">
	</head>
	<body>
		<h1>LeFT</h1>
		<p>Available translators {{{translators}}}</p>
		<form class="o-forms" id="translateForm">
			<label aria-describedby="text-box-info" for="articleUUID" class="o-forms__label">Article UUID</label>
			<input class="o-forms__text" id="articleUUID" />

			<label aria-describedby="text-box-info" for="freeText" class="o-forms__label">Some text to translate</label>
			<textarea class="o-forms__textarea" id="freeText"></textarea>
			
			<label aria-describedby="text-box-info" for="langSelect" class="o-forms__label">Translate to</label>
			<select id="langSelect" class="o-forms__select">
				{{#each lang}}
				    <option value="{{this}}">{{this}}</div>
				{{/each}}
			</select>

			<button type="submit" class="o-buttons o-buttons--primary o-buttons--big">Translate</button>
		</form>
		
		<section id="output" class="cape">
			<div id="original">
				<h2>Article</h2>
				<div class="text-body"></div>
			</div>
			<div id="deepl">
				<h2>DeepL</h2>
				<div class="text-body"></div>
			</div>
			<div id="google">
				<h2>Google</h2>
				<div class="text-body"></div>
			</div>
		</section>
		<script type="text/javascript" src="client/js/main.js"></script>
		<script src="https://build.origami.ft.com/v2/bundles/js?modules=o-fonts@^3.0.4,o-buttons@^5.10.3,o-forms@^5.2.4,o-table@^6.7.0"></script>
		<script>
			window.FTLabs = {'translators': "{{{ translators }}}"}
		</script>
	</body>
</html>
