body {
	background: #fff1e5;
	font-family: "MetricWeb", sans-serif;
}

h1, h2 {
	padding: 0 10px;
	font-family: "FinancierDisplayWeb", serif;
}

.cape {
	display: none!important;
}

#output {
	display: flex;
	/*flex-wrap: wrap;*/
}

#output > div {
	flex-basis: 50%;
	padding: 10px;
	box-sizing: border-box;
}

/*#output > div:first-child {
	flex-basis: 100%;
}*/

.text-body {
	white-space: pre-line;
    font-weight: 300;
    line-height: 1.5;
    background: #E6D9CE;
    padding: 10px;
    border-radius: 8px;
}

input, textarea, select {
	margin-bottom: 15px;
}

.o-buttons--primary {
	margin-top: 12px;
}

.o-forms {
	display: none;
}

.o-toggle--active {
	display: inherit;
}

.o-buttons-icon--arrow-down[aria-expanded="true"] {
	display: none;
}