body {
	background: #fff1e5;
	font-family: 'MetricWeb', sans-serif;
}

h1,
h2 {
	font-family: 'FinancierDisplayWeb', serif;
	text-transform: capitalize;
}

.cape {
	display: none !important;
}

#output {
	display: flex;
	/*flex-wrap: wrap;*/
}

#output > div {
	flex-basis: 50%;
	padding: 10px;
	box-sizing: border-box;
	position: relative;
}

/*#output > div:first-child {
	flex-basis: 100%;
}*/

.text-body {
	white-space: pre-line;
	font-weight: 300;
	line-height: 1.5;
	background: #e6d9ce;
	padding: 10px;
	border-radius: 8px;
}

.text-body > p {
	margin: 0;
}

.is-error {
	background: #cc0000;
	color: white;
}

input,
textarea,
select {
	margin-bottom: 15px;
}

.ft-link {
	position: absolute;
	right: 10px;
	vertical-align: top;
}

.ft-link img {
	width: 40px;
}

.loading {
	opacity: 0.4;
	filter: blur(2px);
}

.loading-card {
	position: absolute;
	width: 100%;
	top: 50%;
}

.loading-card p {
	text-align: center;
}

.o-loading {
	display: block;
	margin: 0 auto;
}

.o-buttons--primary {
	margin-top: 12px;
}

.o-forms {
	display: none;
}

.o-toggle--active {
	display: inherit;
}

.o-buttons-icon--arrow-down[aria-expanded='true'] {
	display: none;
}

.context {
	max-width: 800px;
}
