.core .o-share__action--share {
	display: block;
}

.o-share-wrapper .o-share,
.o-share-wrapper .o-share__icon,
.o-share-wrapper .o-share .n-myft-ui--save {
	display: block !important;
}

.o-overlay--overlay {
	z-index: 1001 !important;
}

.ftlabs-translation__language-selection {
	list-style-type: none;
	display: flex;
}

.ftlabs-translation__flag {
	height: 34px;
	margin-bottom: 5px;
}

.ftlabs-translation__language-selection-element {
	display: flex;
	flex-direction: column;
	text-align: center;
	font-size: 18px;
	margin-right: 38px;
}

.o-overlay {
	background: #fff1e5;
}

.o-overlay__title {
	font-weight: bold;
}

.ftlabs-translation__tickbox {
	padding-bottom: 14px;
	border-bottom: 1px solid #ccc1b7;
}

.ftlabs-translation__grayout {
	opacity: 0.6;
	filter: alpha(opacity = 60);
}

.ftlabs-translation__tick-circle {
	height: 25px;
	width: 25px;
	background-color: #b6db69;
	border-radius: 50%;
	position: absolute;
}

.ftlabs-translation__share-bar-langauge {
	font-size: 15px !important;
	font-weight: 500 !important;
}
