.core .o-share__action--share {
	display: block;
}

.o-share-wrapper .o-share,
.o-share-wrapper .o-share__icon,
.o-share-wrapper .o-share .n-myft-ui--save {
	display: block !important;
}

.o-overlay--overlay {
	z-index: 1001 !important;
}

.ftlabs-translations__disclaimer {
	font-family: "MetricWeb", sans-serif;
	font-size: 14px;
}

.ftlabs-translation__language-selection {
	list-style-type: none;
	display: flex;
}

.ftlabs-translation__flag {
	height: 34px;
	margin-bottom: 5px;
}

.ftlabs-translation__language-selection-element {
	display: inline-flex;
	flex-direction: column;
	text-align: center;
	font-size: 18px;
	margin-right: 38px;
}

.ftlabs-language-options-selection .o-forms__label:before {
	content: '';
	border-radius: 0;
	height: 34px;
	width: auto;
	background-size: cover;
	background-position: top;
	background-repeat: no-repeat;
	margin: 0 auto 10px;
	position: relative;
	border: none;
	display: block;
}

.ftlabs-language-options-selection
	.o-forms__radio:checked
	+ .o-forms__label::before {
	border: none;
}

.ftlabs-language-options-selection .o-forms__radio + .o-forms__label::after {
	position: absolute;
	height: 25px;
	width: 25px;
	border-radius: 50%;
	display: inline-block;
	background: #b6db69
		url('https://www.ft.com/__origami/service/image/v2/images/raw/fticon-v1:tick?source=ftlabs')
		no-repeat;
	background-size: cover;
	top: 20px;
	left: 65px;
}

.ftlabs-translation__language-selection-element[data-lang-code='DE']
	.o-forms__label:before {
	background-image: url('https://www.ft.com/__origami/service/image/v2/images/raw/ftflag-v1:DE?source=ftlabs');
}
.ftlabs-translation__language-selection-element[data-lang-code='FR']
	.o-forms__label:before {
	background-image: url('https://www.ft.com/__origami/service/image/v2/images/raw/ftflag-v1:FR?source=ftlabs');
}
.ftlabs-translation__language-selection-element[data-lang-code='ES']
	.o-forms__label:before {
	background-image: url('https://www.ft.com/__origami/service/image/v2/images/raw/ftflag-v1:ES?source=ftlabs');
}

.o-overlay {
	background: #fff1e5;
}

.o-overlay__title {
	font-weight: bold;
}

.o-overlay-trigger {
	position: relative;
}

.ftlabs-translation__tickbox {
	padding-bottom: 14px;
}

.ftlabs-translation__grayout {
	opacity: 0.2;
	filter: alpha(opacity = 20);
}

.ftlabs-translation__tick-circle {
	height: 25px;
	width: 25px;
	background-color: #b6db69;
	border-radius: 50%;
	position: absolute;
}

.ftlabs-translation__share-bar-language {
	font-size: 15px !important;
	font-weight: 500 !important;
	display: inline-block;
    width: 100%;
    text-align: center;
}

.ftlabs-translation-options {
	margin-bottom: 20px;
	border-top: 1px solid #ccc1b7;
	border-bottom: 1px solid #ccc1b7;
	padding-bottom: 20px;
}

.ftlabs-translation__test-warning {
	background-color: #fff9f5;
}

.ftlabs-translation__configuration {
	display: flex;
	justify-content: space-between;
}

.ftlabs-translation__button--off {
	padding: 0 0 20px 0;
}

.ftlabs-translation__share-bar-language__on {
	color: #f2dfce;
}

.ftlabs-translation__share-bar__on {
	background-color: #262a33;
}

.ftlabs-translation__hide {
	visibility: hidden;
}

.ftlabs-language-options-selection {
	/* align-self: center; */
	display: flex;
}

.ftlabs-translation__form {
	display: flex;
	flex-direction: column;
}

.topper--split-text-center .topper__headline--large {
	display: block;
}

.topper--split-text-center .topper__headline--large .ftlabs-translation__cell:nth-child(odd) {
	border: none;
    width: 100%;
    display: block;
    padding: 0 0 20px 0;
}

.topper--split-text-center .topper__headline--large .ftlabs-translation__cell:nth-child(even) {
	background-color: #F2DFCE;
    display: block;
    padding: 10px;
}

.topper--split-text-center .topper__standfirst .ftlabs-translation__cell:nth-child(even) {
    padding-right: 20px;
}

@media (max-width: 1219px) {
	.ftlabs-translation__configuration {
		flex-direction: column;
	}

	.ftlabs-translation__button--off {
		padding: 0 0 0 0;
		margin-bottom: 26px;
	}

	.o-forms__group--inline.ftlabs-translation__tickbox {
		margin-bottom: 1px;
	}

	.ftlabs-translation__language-selection-element {
		margin-right: -4px;
	}

	.topper--opinion > .topper__content > .topper__headline > :nth-child(2) {
		background-color: #1a8cff;
		outline: #1a8cff solid 16px;
	}

	.topper--opinion > .topper__content > .topper__standfirst > :nth-child(2) {
		background-color: #1a8cff;
		outline: #1a8cff solid 16px;
	}
}
